
openapi: "3.1.0"
servers:
  - url: https://www.facturapi.io/v2
info:
  title: Facturapi
  version: "2.0"
  contact:
    name: Facturapi
    url: https://www.facturapi.io
    email: "soporte@facturapi.io"
  x-logo:
    url: https://www.facturapi.io/img/logo.svg
    altText: Facturapi
  description: |
    <br />
      <br />

      On this page, we list all the methods available in the Facturapi API, as
      well as the complete reference of the parameters you can send. To see the
      nested properties of an object or an array of objects, you can click on
      the field name to expand it.

      The Facturapi API is designed with the
      [REST](https://developer.mozilla.org/en-US/docs/Glossary/REST) standard in
      mind. The API endpoints are grouped by resources, have predictable URLs,
      the responses are in JSON format, and we use standard HTTP response codes,
      authentication, and verbs.

      During development, you can use the Facturapi API in the Test environment, and the invoices you issue will not be sent to the SAT (Mexican Tax Authority) and will not have fiscal validity.
      
      The secret key you use to authenticate will determine both the environment in which the invoice will be created (Test or Live), as well as the organization to use as the issuer of your invoice or as the owner of the resource you request to create.

tags:
  - name: tools
    x-displayName: Tools
  - name: customer
    x-displayName: Customers
  - name: product
    x-displayName: Products
  - name: invoice
    x-displayName: Invoices
  - name: receipt
    x-displayName: E-Receipts
  - name: retention
    x-displayName: Retentions
  - name: organization
    x-displayName: Organizations
  - name: webhooks
    x-displayName: Webhooks
  - name: events
    x-displayName: Events
    description: |
      Events occur when Facturapi performs an operation asynchronously, outside the lifecycle of an API request.

      To receive these events on your server, you can register a listening URL by creating a Webhook from your dashboard: https://dashboard.facturapi.io/integration/webhooks
  - name: sat_keys
    x-displayName: Keys from SAT's catálogos
    description: |
      These are the main catalogs from SAT, included here for convenience. This is by no means the full list. You can find these and more catalogs on the official SAT website: http://omawww.sat.gob.mx/tramitesyservicios/Paginas/anexo_20_version3-3.htm
      
      ### Forma de Pago

      (Payment Form)

      Key  | Description (Spanish) | Description (English)
      :---:|:----------------------|:---------------------
      "01" | Efectivo | Cash
      "02" | Cheque nominativo | Nominal check
      "03" | Transferencia electrónica de fondos | Electronic transfer of funds
      "04" | Tarjeta de crédito | Credit card
      "05" | Monedero electrónico | Electronic wallet
      "06" | Dinero electrónico | Mobile payment
      "08" | Vales de despensa | Food vouchers
      "12" | Dación en pago | Payment in kind
      "13" | Pago por subrogación | Subrogation payment
      "14" | Pago por consignación | Consignment payment
      "15" | Condonación | Debt Forgiveness or Cancellation
      "17" | Compensación | Settling Debts with Existing Credits
      "23" | Novación | Novation
      "24" | Confusión | Confusion
      "25" | Remisión de deuda | Remission
      "26" | Prescripción o caducidad | Expiration of the term
      "27" | A satisfacción del acreedor | Satisfactory payment
      "28" | Tarjeta de débito | Debit card
      "29" | Servicio | Service payment
      "30" | Aplicación de anticipos | Application of advanced payments
      "31" | Intermediario pagos | Payment intermediation
      "99" | Por definir | Pending definition

      ### Método de Pago

      (Payment Method)

      Key | Description (Spanish) | Description (English)
      :-----:|:--------------------|:---------------------
      "PUE" | Pago en Una [sola] Exhibición | Payment in a single installment
      "PPD" | Pago en Parcialidades o Diferido | Payment in installments or deferred

      ### Uso del CFDI

      (CFDI use)
      
      Key | Description (Spanish) | Description (English) | Allowed Fiscal Regimes
      :-----:| ----------- | -----------
      "G01" | Adquisición de mercancías. | Purchase of goods | 601, 603, 606, 612, 620, 621, 622, 623, 624, 625, 626
      "G02" | Devoluciones, descuentos y bonificaciones. | Returns, discounts and bonuses | 601, 603, 606, 612, 620, 621, 622, 623, 624, 625, 626
      "G03" | Gastos en general. | General expenses | 601, 603, 606, 612, 620, 621, 622, 623, 624, 625, 626
      "I01" | Construcciones. | Constructions | 601, 603, 606, 612, 620, 621, 622, 623, 624, 625, 626
      "I02" | Mobiliario y equipo de oficina por inversiones. | Furniture and office equipment for investments | 601, 603, 606, 612, 620, 621, 622, 623, 624, 625, 626
      "I03" | Equipo de transporte. | Transportation equipment | 601, 603, 606, 612, 620, 621, 622, 623, 624, 625, 626
      "I04" | Equipo de computo y accesorios. | Computer equipment and accessories | 601, 603, 606, 612, 620, 621, 622, 623, 624, 625, 626
      "I05" | Dados, troqueles, moldes, matrices y herramental. | Dies, molds, matrices and tools | 601, 603, 606, 612, 620, 621, 622, 623, 624, 625, 626
      "I06" | Comunicaciones telefónicas. | Telephone communications | 601, 603, 606, 612, 620, 621, 622, 623, 624, 625, 626
      "I07" | Comunicaciones satelitales. | Satellite communications | 601, 603, 606, 612, 620, 621, 622, 623, 624, 625, 626
      "I08" | Otra maquinaria y equipo. | Other machinery and equipment | 601, 603, 606, 612, 620, 621, 622, 623, 624, 625, 626
      "D01" | Honorarios médicos, dentales y gastos hospitalarios. | Medical, dental and hospital expenses. | 605, 606, 608, 611, 612, 614, 607, 615, 625
      "D02" | Gastos médicos por incapacidad o discapacidad. | Medical expenses for disability. | 605, 606, 608, 611, 612, 614, 607, 615, 625
      "D03" | Gastos funerales. | Funeral expenses. | 605, 606, 608, 611, 612, 614, 607, 615, 625
      "D04" | Donativos. | Donations. | 605, 606, 608, 611, 612, 614, 607, 615, 625
      "D05" | Intereses reales efectivamente pagados por créditos hipotecarios (casa habitación). | Real interest actually paid for mortgage loans (housing). | 605, 606, 608, 611, 612, 614, 607, 615, 625
      "D06" | Aportaciones voluntarias al SAR. | Voluntary contributions to the SAR. | 605, 606, 608, 611, 612, 614, 607, 615, 625
      "D07" | Primas por seguros de gastos médicos. | Premiums for medical expenses insurance. | 605, 606, 608, 611, 612, 614, 607, 615, 625
      "D08" | Gastos de transportación escolar obligatoria. | Mandatory school transportation expenses. | 605, 606, 608, 611, 612, 614, 607, 615, 625
      "D09" | Depósitos en cuentas para el ahorro, primas que tengan como base planes de pensiones. | 605, 606, 608, 611, 612, 614, 607, 615, 625
      "D10" | Pagos por servicios educativos (colegiaturas). | 605, 606, 608, 611, 612, 614, 607, 615, 625
      "S01" | Sin efectos fiscales.  | 601, 603, 605, 606, 608, 610, 611, 612, 614, 616, 620, 621, 622, 623, 624, 607, 615, 625, 626
      "CP01" | Pagos |  601, 603, 605, 606, 608, 610, 611, 612, 614, 616, 620, 621, 622, 623, 624, 607, 615, 625, 626
      "CN01" | Nómina | 605

      ### Relación entre facturas

      (Relation between invoices)

      Key | Description (Spanish) | Description (English)
      :-----:|:-----------|:-----------
      "01" | Nota de crédito de los documentos relacionados | Credit note of the related documents
      "02" | Nota de débito de los documentos relacionados | Debit note of the related documents
      "03" | Devolución de mercancía sobre facturas o traslados previos | Return of goods on invoices or previous transfers
      "04" | Sustitución de los CFDI previos | Replacement of previous CFDI
      "05" | Traslados de mercancias facturados previamente | Transfers of goods previously invoiced
      "06" | Factura generada por los traslados previos | Invoice generated by previous transfers
      "07" | CFDI por aplicación de anticipo | CFDI by advance payment application
      "08" | Factura generada por pagos en parcialidades | Invoice generated by payments in installments
      "09" | Factura generada por pagos diferidos | Invoice generated by deferred payments

      ### Régimen Fiscal

      (Fiscal Regimes or Tax Systems)

      Key | Description (Spanish) | Description (English)
      :-----:|:-----------|:-----------
      "601" |	General de Ley Personas Morales |	General Law of Legal Entities
      "603" |	Personas Morales con Fines no Lucrativos |	Non-profit Legal Entities
      "605" |	Sueldos y Salarios e Ingresos Asimilados a Salarios |	Wages and Salaries and Assimilated Income
      "606" |	Arrendamiento |	Rent
      "608" |	Demás ingresos |	Other income
      "609" |	Consolidación |	Consolidation
      "610" |	Residentes en el Extranjero sin Establecimiento Permanente en México |	Non-residents with no Permanent Establishment in Mexico
      "611" |	Ingresos por Dividendos (socios y accionistas) |	Dividends (partners and shareholders)
      "612" |	Personas Físicas con Actividades Empresariales y Profesionales |	Individuals with Business and Professional Activities
      "614" |	Ingresos por intereses |	Interest income
      "616" |	Sin obligaciones fiscales |	No tax obligations
      "620" |	Sociedades Cooperativas de Producción que optan por diferir sus ingresos |	Production Cooperatives that choose to defer their income
      "621" |	Incorporación Fiscal |	Fiscal Incorporation
      "622" |	Actividades Agrícolas, Ganaderas, Silvícolas y Pesqueras |	Agricultural, Livestock, Forestry and Fishing Activities
      "623" |	Opcional para Grupos de Sociedades |	Optional for Groups of Companies
      "624" |	Coordinados |	Coordinated
      "628" |	Hidrocarburos |	Hydrocarbons
      "607" |	Régimen de Enajenación o Adquisición de Bienes |	Regime of Alienation or Acquisition of Goods
      "629" |	De los Regímenes Fiscales Preferentes y de las Empresas Multinacionales |	Of Preferential Tax Regimes and Multinational Companies
      "630" |	Enajenación de acciones en bolsa de valores |	Sale of shares on the stock exchange
      "615" |	Régimen de los ingresos por obtención de premios |	Regime of income from obtaining prizes
      "625" |	Régimen de las Actividades Empresariales con ingresos a través de Plataformas Tecnológicas |	Regime of Business Activities with income through Technological Platforms
      "626" | Régimen Simplificado de Confianza | Simplified Trust Regime

      ### Meses y bimestres

      (Months and bimesters)

      Key | Description (Spanish) | Description (English)
      :-----:| ----------- | -----------
      01 | Enero | January
      02 | Febrero | February
      03 | Marzo | March
      04 | Abril | April
      05 | Mayo | May
      06 | Junio | June
      07 | Julio | July
      08 | Agosto | August
      09 | Septiembre | September
      10 | Octubre | October
      11 | Noviembre | November
      12 | Diciembre | December
      13 | Enero-Febrero | January-February
      14 | Marzo-Abril | March-April
      15 | Mayo-Junio | May-June
      16 | Julio-Agosto | July-August
      17 | Septiembre-Octubre | September-October
      18 | Noviembre-Diciembre | November-December

      ### Tipo de Contrato

      (Type of Contract)

      Key | Description (Spanish) | Description (English)
      :-----:|:----------- |:-----------
      "01" | Contrato de trabajo por tiempo indeterminado | Indefinite term employment contract
      "02" | Contrato de trabajo para obra determinada | Employment contract for a specific work
      "03" | Contrato de trabajo por tiempo determinado | Employment contract for a fixed term
      "04" | Contrato de trabajo por temporada | Seasonal employment contract
      "05" | Contrato de trabajo sujeto a prueba | Employment contract subject to trial
      "06" | Contrato de trabajo con capacitación inicial | Employment contract with initial training
      "07" | Modalidad de contratación por pago de hora laborada | Modality of hiring by payment of hours worked
      "08" | Modalidad de trabajo por comisión laboral | Labor commission work modality
      "09" | Modalidades de contratación donde no existe relación de trabajo | Hiring modalities where there is no employment relationship
      "10" | Jubilación, pensión, retiro. | Retirement, pension, retirement.
      "99" | Otro contrato | Other contract

      ### Tipo de Jornada

      (Type of Labor Day)

      Key | Description (Spanish) | Description (English)
      :-----:| ----------- | -----------
      "01" | Diurna | Daytime
      "02" | Nocturna | Night
      "03" | Mixta | Mixed
      "04" | Por hora | By the hour
      "05" | Reducida | Reduced
      "06" | Continuada | Continued
      "07" | Partida | Split
      "08" | Por turnos | By shifts
      "99" | Otra Jornada | Other day

      ### Tipo de Régimen

      (Type of Regime)

      Key | Description (Spanish) | Description (English)
      :-----:|:----------- |:-----------
      "02" | Sueldos (Incluye ingresos señalados en la fracción I del artículo 94 de LISR) | Salaries (Includes income referred to in section I of article 94 of LISR)
      "03" | Jubilados | Retirees
      "04" | Pensionados | Pensioners
      "05" | Asimilados Miembros Sociedades Cooperativas Produccion | Assimilated Members of Production Cooperatives
      "06" | Asimilados Integrantes Sociedades Asociaciones Civiles | Assimilated Members of Civil Associations
      "07" | Asimilados Miembros Consejos Administración Sociedades Mercantiles | Assimilated Members of the Boards of Directors of Commercial Companies
      "08" | Asimilados comisionistas | Assimilated commission agents
      "09" | Asimilados Honorarios | Assimilated Fees
      "10" | Asimilados acciones | Assimilated shares
      "11" | Asimilados otros | Assimilated others
      "12" | Jubilados o Pensionados | Retirees or Pensioners
      "13" | Indemnización o Separación | Compensation or Separation
      "99" | Otro Regimen | Other Regime

      ### Riesgo del Puesto

      (Risk of the Position)

      Key | Description (Spanish) | Description (English)
      :-----:| ----------- | -----------
      "1" | Clase I | Class I
      "2" | Clase II | Class II
      "3" | Clase III | Class III
      "4" | Clase IV | Class IV
      "5" | Clase V | Class V
      "99" | No aplica | Does not apply

      ### Periodicidad del Pago

      (Payment Frequency)

      Key | Description (Spanish) | Description (English)
      :-----:| ----------- | -----------
      "01" | Diario | Daily
      "02" | Semanal | Weekly
      "03" | Catorcenal | Biweekly
      "04" | Quincenal | Fortnightly
      "05" | Mensual | Monthly
      "06" | Bimestral | Bimonthly
      "07" | Unidad obra | Work unit
      "08" | Comisión | Commission
      "09" | Precio alzado | Fixed price
      "10" | Decenal | Ten-day
      "99" | Otra Periodicidad | Other Frequency

      ### Tipo de Percepción

      (Type of Earnings)

      Key | Description (Spanish) | Description (English)
      :-----:|:----------- |:-----------
      "001" | Sueldos, Salarios  Rayas y Jornales | Wages, Salaries, Stripes and Wages
      "002" | Gratificación Anual (Aguinaldo) | Annual Bonus (Aguinaldo)
      "003" | Participación de los Trabajadores en las Utilidades PTU | Participation of Workers in Profits PTU
      "004" | Reembolso de Gastos Médicos Dentales y Hospitalarios | Reimbursement of Medical, Dental and Hospital Expenses
      "005" | Fondo de Ahorro | Savings Fund
      "006" | Caja de ahorro | Savings box
      "009" | Contribuciones a Cargo del Trabajador Pagadas por el Patrón | Contributions to be paid by the Worker Paid by the Employer
      "010" | Premios por puntualidad | Punctuality Awards
      "011" | Prima de Seguro de vida | Life Insurance Premium
      "012" | Seguro de Gastos Médicos Mayores | Major Medical Expenses Insurance
      "013" | Cuotas Sindicales Pagadas por el Patrón | Union Dues Paid by the Employer
      "014" | Subsidios por incapacidad | Disability Subsidies
      "015" | Becas para trabajadores y/o hijos | Scholarships for workers and / or children
      "019" | Horas extra | Extra hours
      "020" | Prima dominical | Sunday premium
      "021" | Prima vacacional | Vacation premium
      "022" | Prima por antigüedad | Seniority premium
      "023" | Pagos por separación | Separation payments
      "024" | Seguro de retiro | Retirement insurance
      "025" | Indemnizaciones | Indemnities
      "026" | Reembolso por funeral | Funeral refund
      "027" | Cuotas de seguridad social pagadas por el patrón | Social security fees paid by the employer
      "028" | Comisiones | Commissions
      "029" | Vales de despensa | Food vouchers
      "030" | Vales de restaurante | Restaurant vouchers
      "031" | Vales de gasolina | Gasoline vouchers
      "032" | Vales de ropa | Clothing vouchers
      "033" | Ayuda para renta | Help for rent
      "034" | Ayuda para artículos escolares | Help for school supplies
      "035" | Ayuda para anteojos | Help for glasses
      "036" | Ayuda para transporte | Transportation help
      "037" | Ayuda para gastos de funeral | Help for funeral expenses
      "038" | Otros ingresos por salarios | Other income from salaries
      "039" | Jubilaciones, pensiones o haberes de retiro en una sola exhibición | Retirement, pensions or retirement benefits in a single exhibition
      "044" | Jubilaciones, pensiones o haberes de retiro en parcialidades | Retirement, pensions or retirement benefits in installments
      "045" | Ingresos en acciones o títulos valor que representan bienes | Income in shares or securities representing goods
      "046" | Ingresos asimilados a salarios | Income assimilated to salaries
      "047" | Alimentación diferentes a los establecidos en el Art 94 último párrafo LISR | Food other than those established in Art 94 last paragraph LISR
      "048" | Habitación | Room
      "049" | Premios por asistencia | Attendance awards
      "050" | Viáticos | Travel allowances
      "051" | Pagos por gratificaciones, primas, compensaciones, recompensas u otros en parcialidades | Payments for bonuses, bonuses, compensations, rewards or others in installments
      "052" | Pagos por jubilación en parcialidades derivados de una resolución judicial | Retirement payments in installments derived from a judicial resolution
      "053" | Pagos por jubilación en una sola exhibición derivados de la ejecución de una resolución judicial | Retirement payments in a single exhibition derived from the execution of a judicial resolution

      ### Tipo de Horas

      (Type of Hours)

      Key | Description (Spanish) | Description (English)
      :-----:| ----------- | -----------
      "01" | Dobles | Doubles
      "02" | Triples | Triples
      "03" | Simples | Singles

      ### Tipo de Deducción

      (Type of Deduction)

      Key | Description (Spanish) | Description (English)
      :-----:|:----------- |:-----------
      "001" | Seguridad social | Social security
      "002" | ISR | ISR (Income Tax)
      "003" | Aportaciones a retiro, cesantía en edad avanzada y vejez. | Contributions to retirement, old age and old age.
      "004" | Otros | Others
      "005" | Aportaciones a Fondo de vivienda | Contributions to Housing Fund
      "006" | Descuento por incapacidad | Disability discount
      "007" | Pensión alimenticia | Alimony
      "008" | Renta | Rent
      "009" | Préstamos provenientes del Fondo Nacional de la Vivienda para los Trabajadores | Loans from the National Housing Fund for Workers
      "010" | Pago por crédito de vivienda | Payment for housing credit
      "011" | Pago de abonos INFONACOT | Payment of INFONACOT installments
      "012" | Anticipo de salarios | Salary advance
      "013" | Pagos hechos con exceso al trabajador | Payments made in excess to the worker
      "014" | Errores | Errors
      "015" | Pérdidas | Losses
      "016" | Averías | Breakdowns
      "017" | Adquisición de artículos producidos por la empresa o establecimiento | Acquisition of items produced by the company or establishment
      "018" | Cuotas para la constitución y fomento de sociedades cooperativas y de cajas de ahorro | Fees for the constitution and promotion of cooperative societies and savings banks
      "019" | Cuotas sindicales | Union fees
      "020" | Ausencia (Ausentismo) | Absence (Absenteeism)
      "021" | Cuotas obrero patronales | Worker-employer fees
      "022" | Impuestos Locales | Local Taxes
      "023" | Aportaciones voluntarias al SAR | Voluntary contributions to the SAR
      "024" | Ajuste en Gratificación Anual (Aguinaldo) Exento | Adjustment in Annual Bonus (Aguinaldo) Exempt
      "025" | Ajuste en Gratificación Anual (Aguinaldo) Gravado | Adjustment in Annual Bonus (Aguinaldo) Taxed
      "026" | Ajuste en Participación de los Trabajadores en las Utilidades PTU Exento | Adjustment in Workers' Participation in Profits PTU Exempt
      "027" | Ajuste en Participación de los Trabajadores en las Utilidades PTU Gravado | Adjustment in Workers' Participation in Profits PTU Taxed
      "028" | Ajuste en Reembolso de Gastos Médicos Dentales y Hospitalarios Exento | Adjustment in Reimbursement of Medical, Dental and Hospital Expenses Exempt
      "029" | Ajuste en Fondo de ahorro Exento | Adjustment in Savings Fund Exempt
      "030" | Ajuste en Caja de ahorro Exento | Adjustment in Savings Box Exempt
      "031" | Ajuste en Contribuciones a Cargo del Trabajador Pagadas por el Patrón Exento | Adjustment in Contributions to be paid by the Worker Paid by the Employer Exempt
      "032" | Ajuste en Premios por puntualidad Gravado | Adjustment in Punctuality Awards Taxed
      "033" | Ajuste en Prima de Seguro de vida Exento | Adjustment in Life Insurance Premium Exempt
      "034" | Ajuste en Seguro de Gastos Médicos Mayores Exento | Adjustment in Major Medical Expenses Insurance Exempt
      "035" | Ajuste en Cuotas Sindicales Pagadas por el Patrón Exento | Adjustment in Union Dues Paid by the Employer Exempt
      "036" | Ajuste en Subsidios por incapacidad Exento | Adjustment in Disability Subsidies Exempt
      "037" | Ajuste en Becas para trabajadores y/o hijos Exento | Adjustment in Scholarships for workers and / or children Exempt
      "038" | Ajuste en Horas extra Exento | Adjustment in Extra hours Exempt
      "039" | Ajuste en Horas extra Gravado | Adjustment in Extra hours Taxed
      "040" | Ajuste en Prima dominical Exento | Adjustment in Sunday premium Exempt
      "041" | Ajuste en Prima dominical Gravado | Adjustment in Sunday premium Taxed
      "042" | Ajuste en Prima vacacional Exento | Adjustment in Vacation premium Exempt
      "043" | Ajuste en Prima vacacional Gravado | Adjustment in Vacation premium Taxed
      "044" | Ajuste en Prima por antigüedad Exento | Adjustment in Seniority premium Exempt
      "045" | Ajuste en Prima por antigüedad Gravado | Adjustment in Seniority premium Taxed
      "046" | Ajuste en Pagos por separación Exento | Adjustment in Separation payments Exempt
      "047" | Ajuste en Pagos por separación Gravado | Adjustment in Separation payments Taxed
      "048" | Ajuste en Seguro de retiro Exento | Adjustment in Retirement insurance Exempt
      "049" | Ajuste en Indemnizaciones Exento | Adjustment in Indemnities Exempt
      "050" | Ajuste en Indemnizaciones Gravado | Adjustment in Indemnities Taxed
      "051" | Ajuste en Reembolso por funeral Exento | Adjustment in Funeral refund Exempt
      "052" | Ajuste en Cuotas de seguridad social pagadas por el patrón Exento | Adjustment in Social security fees paid by the employer Exempt
      "053" | Ajuste en Comisiones Gravado | Adjustment in Commissions Taxed
      "054" | Ajuste en Vales de despensa Exento | Adjustment in Food vouchers Exempt
      "055" | Ajuste en Vales de restaurante Exento | Adjustment in Restaurant vouchers Exempt
      "056" | Ajuste en Vales de gasolina Exento | Adjustment in Gasoline vouchers Exempt
      "057" | Ajuste en Vales de ropa Exento | Adjustment in Clothing vouchers Exempt
      "058" | Ajuste en Ayuda para renta Exento | Adjustment in Help for rent Exempt
      "059" | Ajuste en Ayuda para artículos escolares Exento | Adjustment in Help for school supplies Exempt
      "060" | Ajuste en Ayuda para anteojos Exento | Adjustment in Help for glasses Exempt
      "061" | Ajuste en Ayuda para transporte Exento | Adjustment in Transportation help Exempt
      "062" | Ajuste en Ayuda para gastos de funeral Exento | Adjustment in Help for funeral expenses Exempt
      "063" | Ajuste en Otros ingresos por salarios Exento | Adjustment in Other income from salaries Exempt
      "064" | Ajuste en Otros ingresos por salarios Gravado | Adjustment in Other income from salaries Taxed
      "065" | Ajuste en Jubilaciones, pensiones o haberes de retiro en una sola exhibición Exento | Adjustment in Retirement, pensions or retirement benefits in a single exhibition Exempt
      "066" | Ajuste en Jubilaciones, pensiones o haberes de retiro en una sola exhibición Gravado | Adjustment in Retirement, pensions or retirement benefits in a single exhibition Taxed
      "067" | Ajuste en Pagos por separación Acumulable | Adjustment in Separation payments Accumulable
      "068" | Ajuste en Pagos por separación No acumulable | Adjustment in Separation payments Non-accumulable
      "069" | Ajuste en Jubilaciones, pensiones o haberes de retiro en parcialidades Exento | Adjustment in Retirement, pensions or retirement benefits in installments Exempt
      "070" | Ajuste en Jubilaciones, pensiones o haberes de retiro en parcialidades Gravado | Adjustment in Retirement, pensions or retirement benefits in installments Taxed
      "071" | Ajuste en Subsidio para el empleo (efectivamente entregado al trabajador) | Adjustment in Employment subsidy (effectively delivered to the worker)
      "072" | Ajuste en Ingresos en acciones o títulos valor que representan bienes Exento | Adjustment in Income in shares or securities representing goods Exempt
      "073" | Ajuste en Ingresos en acciones o títulos valor que representan bienes Gravado | Adjustment in Income in shares or securities representing goods Taxed
      "074" | Ajuste en Alimentación Exento | Adjustment in Food Exempt
      "075" | Ajuste en Alimentación Gravado | Adjustment in Food Taxed
      "076" | Ajuste en Habitación Exento | Adjustment in Room Exempt
      "077" | Ajuste en Habitación Gravado | Adjustment in Room Taxed
      "078" | Ajuste en Premios por asistencia Exento | Adjustment in Attendance awards Exempt
      "079" | Ajuste en Pagos distintos a los listados Exento | Adjustment in Payments other than those listed Exempt
      "080" | Ajuste en Viáticos gravados | Adjustment in Taxable travel expenses
      "081" | Ajuste en Viáticos (entregados al trabajador) | Adjustment in Travel expenses (delivered to the worker)
      "082" | Ajuste en Fondo de ahorro Gravado | Adjustment in Savings Fund Taxed
      "083" | Ajuste en Caja de ahorro Gravado | Adjustment in Savings Box Taxed
      "084" | Ajuste en Prima de Seguro de vida Gravado | Adjustment in Life Insurance Premium Taxed
      "085" | Ajuste en Seguro de Gastos Médicos Mayores Gravado | Adjustment in Major Medical Expenses Insurance Taxed
      "086" | Ajuste en Subsidios por incapacidad Gravado | Adjustment in Disability Subsidies Taxed
      "087" | Ajuste en Becas para trabajadores y/o hijos Gravado | Adjustment in Scholarships for workers and / or children Taxed
      "088" | Ajuste en Seguro de retiro Gravado | Adjustment in Retirement insurance Taxed
      "089" | Ajuste en Vales de despensa Gravado | Adjustment in Food vouchers Taxed
      "090" | Ajuste en Vales de restaurante Gravado | Adjustment in Restaurant vouchers Taxed
      "091" | Ajuste en Vales de gasolina Gravado | Adjustment in Gasoline vouchers Taxed
      "092" | Ajuste en Vales de ropa Gravado | Adjustment in Clothing vouchers Taxed
      "093" | Ajuste en Ayuda para renta Gravado | Adjustment in Help for rent Taxed
      "094" | Ajuste en Ayuda para artículos escolares Gravado | Adjustment in Help for school supplies Taxed
      "095" | Ajuste en Ayuda para anteojos Gravado | Adjustment in Help for glasses Taxed
      "096" | Ajuste en Ayuda para transporte Gravado | Adjustment in Transportation help Taxed
      "097" | Ajuste en Ayuda para gastos de funeral Gravado | Adjustment in Help for funeral expenses Taxed
      "098" | Ajuste a ingresos asimilados a salarios gravados | Adjustment to income assimilated to taxed salaries
      "099" | Ajuste a ingresos por sueldos y salarios gravados | Adjustment to income for taxed wages and salaries
      "100" | Ajuste en Viáticos exentos | Adjustment in Exempt travel expenses
      "101" | ISR Retenido de ejercicio anterior | ISR Retained from previous exercise
      "102" | Ajuste a pagos por gratificaciones, primas, compensaciones, recompensas u otros gravados | Adjustment to payments for bonuses, bonuses, compensations, rewards or others taxed
      "103" | Ajuste a pagos en parcialidades derivados de una resolución judicial gravados | Adjustment to payments in installments derived from a judicial resolution taxed
      "104" | Ajuste a pagos en parcialidades derivados de una resolución judicial exentos | Adjustment to payments in installments derived from a judicial resolution exempt
      "105" | Ajuste a pagos en una sola exhibición derivados de una resolución judicial gravados | Adjustment to payments in a single exhibition derived from a judicial resolution taxed
      "106" | Ajuste a pagos en una sola exhibición derivados de una resolución judicial exentos | Adjustment to payments in a single exhibition derived from a judicial resolution exempt
      "107" | Ajuste al Subsidio Causado | Adjustment to Accrued Subsidy

      ### Tipo de Otro Pago

      (Type of Other Payment)

      Key | Description (Spanish) | Description (English)
      :-----:|:----------- |:-----------
      "001" | Reintegro de ISR pagado en exceso. | Refund of ISR paid in excess.
      "002" | Subsidio para el empleo (efectivamente entregado al trabajador). | Employment subsidy (effectively delivered to the worker).
      "003" | Viáticos (entregados al trabajador). | Travel expenses (delivered to the worker).
      "004" | Aplicación de saldo a favor por compensación anual. | Application of balance in favor by annual compensation.
      "005" | Reintegro de ISR retenido en exceso de ejercicio anterior | Refund of ISR retained in excess of previous exercise
      "006" | Alimentos en bienes (Servicios de comedor y comida). | Food in goods (Dining and food services).
      "007" | ISR ajustado por subsidio. | ISR adjusted by subsidy.
      "008" | Subsidio efectivamente entregado que no correspondía. | Subsidy effectively delivered that did not correspond.
      "009" | Reembolso de descuentos efectuados para el crédito de vivienda. | Refund of discounts made for housing credit.
      "999" | Pagos distintos a los listados. | Payments other than those listed.

      ### Tipo de Incapacidad

      (Type of Disability)

      Key | Description (Spanish) | Description (English)
      :-----:|:----------- |:-----------
      "01" | Riesgo de trabajo. | Work risk.
      "02" | Enfermedad en general. | General illness.
      "03" | Maternidad. | Maternity.
      "04" | Licencia por cuidados médicos de hijos diagnosticados con cáncer. | License for medical care of children diagnosed with cancer.

      ### Clave de retención

      (Retention Key)

      Key | Description (Spanish) | Description (English)
      :-----:|:----------- |:-----------
      "01" | Servicios profesionales. | Professional services.
      "02" | Regalías por derechos de autor. | Royalties for copyright.
      "03" | Autotransporte terrestre de carga. | Land cargo transportation.
      "04" | Servicios prestados por comisionistas. | Services provided by commission agents.
      "05" | Arrendamiento. | Lease.
      "06" | Enajenación de acciones. | Sale of shares.
      "07" | Enajenación de bienes objeto de la LIEPS, a través de mediadores, agentes, representantes, corredores, consignatarios o distribuidores. | Sale of goods subject to LIEPS, through mediators, agents, representatives, brokers, consignees or distributors.
      "08" | Enajenación de bienes inmuebles consignada en escritura pública. | Sale of real estate consigned in a public deed.
      "09" | Enajenación de otros bienes, no consignada en escritura pública. | Sale of other goods, not consigned in a public deed.
      "10" | Adquisición de desperdicios industriales. | Acquisition of industrial waste.
      "11" | Adquisición de bienes consignada en escritura pública. | Acquisition of goods consigned in a public deed.
      "12" | Adquisición de otros bienes, no consignada en escritura pública. | Acquisition of other goods, not consigned in a public deed.
      "13" | Otros retiros de AFORE. | Other withdrawals from AFORE.
      "14" | Dividendos o utilidades distribuidas. | Dividends or distributed profits.
      "15" | Remanente distribuible. | Distributable remnant.
      "16" | Intereses. | Interests.
      "17" | Arrendamiento en fideicomiso. | Lease in trust.
      "18" | Pagos realizados a favor de residentes en el extranjero. | Payments made in favor of residents abroad.
      "19" | Enajenación de acciones u operaciones en bolsa de valores. | Sale of shares or operations on the stock exchange.
      "20" | Obtención de premios. | Obtaining prizes.
      "21" | Fideicomisos que no realizan actividades empresariales. | Trusts that do not carry out business activities.
      "22" | Planes personales de retiro. | Personal retirement plans.
      "23" | Intereses reales deducibles por créditos hipotecarios. | Real interests deductible for mortgage loans.
      "24" | Operaciones Financieras Derivadas de Capital. | Capital Derivative Financial Operations.
      "25" | Otro tipo de retenciones. | Other types of retentions.
      "26" | Servicios mediante Plataformas Tecnológicas | Services through Technological Platforms

      ### Validez de obligaciones

      (Validity of obligations)

      | Validity | Exempt IVA | Rate 0% | Rate 8% Noth Border | Rate 8% South Border | Rate 16%
      |:-------:|:----------:|:-------:|:------------------------:|:----------------------:|:--------
      | "0" <td colspan="5">The taxpayer is not authorized to issue invoices</td>
      | "1" | Yes | Yes | No | No | Yes
      | "2" | Yes | Yes | Yes | No | Yes
      | "3" | Yes | Yes | No | Yes | Yes
      | "4" | Yes | Yes | Yes | Yes | Yes

      #### Situación del contribuyente

      (Taxpayer situation)

      | Value | Description
      |:-----:|:-----------|:-----------
      | "Previsto" (Announced) | The taxpayer receives a letter via tax mailbox or notifications by means of a notice board, in which his situation is established and he is asked to demonstrate the materiality of the invoiced operations.
      | "Presunto" (Pressumed) | The notified taxpayer is considered presumed when, on its website, the authority issues its data within the list of EFOS, that is, in the SAT's blacklists.
      | "Desvirtuado" (Disproved) | In this case, the taxpayer accused of non-existent operations has already provided the authority with the documentation and information necessary to refute the facts that led to the notification.
      | "Definitivo" (Definitive) | In this case, the EFO did not respond to the authority's call within 15 days, from the last notification; or could not refute the imputed facts.
      | "Sentencia favorable" (Favorable sentence) | Taxpayers EFOS "definitive" who are dissatisfied and file some means of defense, which concludes in their favor, are classified in the list of "favorable judgment".
      | "EFOS de información suprimida" (Redacted information EFOS) | In this category, the EFOS "presumed" and "definitive" are found that presented some means of defense (amparo, nullity trial) and, therefore, a judge ordered to suppress their data from the list, without being eliminated.

  - name: customer_model
    x-displayName: Customer object
    description: |
      <SchemaDefinition schemaRef="#/components/schemas/Customer" />
  - name: product_model
    x-displayName: Product object
    description: |
      <SchemaDefinition schemaRef="#/components/schemas/Product" />
  - name: invoice_model
    x-displayName: Invoice object
    description: |
      <SchemaDefinition schemaRef="#/components/schemas/Invoice" />
  - name: receipt_model
    x-displayName: Receipt object
    description: |
      <SchemaDefinition schemaRef="#/components/schemas/Receipt" />
  - name: retention_model
    x-displayName: Retention object
    description: |
      <SchemaDefinition schemaRef="#/components/schemas/Retention" />
  - name: organization_model
    x-displayName: Organization object
    description: |
      <SchemaDefinition schemaRef="#/components/schemas/Organization" />

x-tagGroups:
  - name: Resources
    tags:
      - customer
      - product
      - invoice
      - receipt
      - retention
      - organization
  - name: Tools
    tags:
      - tools
      - sat_keys
  - name: Webhooks
    tags:
      - events
      - webhooks
  - name: Models
    tags:
      - customer_model
      - product_model
      - invoice_model
      - receipt_model
      - retention_model
      - organization_model

paths:
  /customers:
    post:
      operationId: createCustomer
      tags:
        - customer
      summary: Create Customer
      description: |
        Register a new customer in Facturapi.

          This call validates that the fiscal data matches
          the records of the SAT for that RFC, otherwise the call
          will return an error indicating the issue.

          Once the customer is created and a response object is obtained,
          we recommend saving the ID in your database along with the customer information.
          Later, you can call the Create Invoice endpoint by passing the customer ID instead of repeating the information.
          
          Finally, keep in mind that the customers you create in the Test environment **are not shared**
          with the Live environment.
      x-codeSamples:
        - lang: Bash
          label: cURL
          source: |
            curl https://www.facturapi.io/v2/customers \
              -H "Authorization: Bearer sk_test_API_KEY" \
              -H "Content-Type: application/json" \
              -d '{
                    "legal_name": "Dunder Mifflin",
                    "email": "email@example.com",
                    "tax_id": "ABC101010111",
                    "tax_system": "601",
                    "address": {
                      "zip": "01234"
                    }
                  }'
        - lang: JavaScript
          label: Node.js
          source: |
            const Facturapi = require('facturapi');
            const facturapi = new Facturapi('sk_test_API_KEY');
            const customer = await facturapi.customers.create({
              legal_name: 'Dunder Mifflin',
              email: 'email@example.com',
              tax_id: 'ABC101010111',
              tax_system: '601',
              address: {
                zip: '01234'
              }
            });
        - lang: csharp
          label: C#
          source: |
            var facturapi = new FacturapiClient("sk_test_API_KEY");
            var customer = await facturapi.Customer.CreateAsync(new Dictionary<string, object>
            {
              ["legal_name"] = "Dunder Mifflin",
              ["email"] = "email@example.com",
              ["tax_id"] = "ABC101010111",
              ["tax_system"] = "601",
              ["address"] = new Dictionary<string, object>
              {
                ["zip"] = "01234"
              }
            });
        - lang: PHP
          source: |
            $facturapi = new Facturapi( "sk_test_API_KEY" );
            $customer = $facturapi->Customers->create([
              "email" => "email@example.com",
              "legal_name" => "Dunder Mifflin",
              "tax_id" => "ABC101010111",
              "tax_system" => "601",
              "address" => [
                "zip" => "01234"
              ]
            ]);
      requestBody:
        $ref: "#/components/requestBodies/CustomerCreate"
      security:
        - "SecretLiveKey": []
        - "SecretTestKey": []
      responses:
        "201":
          description: New `Customer` object just created
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Customer"
        "200":
          description: A previously-registered `Customer` object with the same information.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Customer"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthenticated"
        "404":
          $ref: "#/components/responses/NotFound"
        "500":
          $ref: "#/components/responses/UnexpectedError"
    get:
      operationId: listCustomers
      tags:
        - customer
      summary: List customers
      description: Returns a paginated list of all customers in an organization or performs a search according to parameters.
      x-codeSamples:
        - lang: Bash
          label: cURL
          source: |
            curl https://www.facturapi.io/v2/customers \
              -H "Authorization: Bearer sk_test_API_KEY" \
              -G \
              -d 'q=Dunder' \
              -d 'date[gt]=2021-07-14T06:00:00.000Z' \
              -d 'date[lt]=2021-08-14T06:00:00.000Z' \
              -d 'page=1'
        - lang: JavaScript
          label: Node.js
          source: |
            const Facturapi = require('facturapi');
            const facturapi = new Facturapi('sk_test_API_KEY');
            const searchResult = await facturapi.customers.list({
              q: 'Dunder',
              date: {
                gt: new Date('2021-07-14T06:00:00.000Z'),
                lt: new Date('2021-08-14T06:00:00.000Z')
              },
              page: 1
            });
        - lang: csharp
          label: C#
          source: |
            var facturapi = new FacturapiClient("sk_test_API_KEY");
            var searchResult = await facturapi.Customer.ListAsync(new Dictionary<string, object>
            {
              ["q"] = "Dunder",
              ["date"] = new Dictionary<string, object>
                {
                  ["gt"] = new DateTime("2021-07-14T06:00:00.000Z"),
                  ["lt"] = new DateTime("2021-08-14T06:00:00.000Z")
                },
              ["page"] = 1
            });
        - lang: PHP
          source: |
            $facturapi = new Facturapi( "sk_test_API_KEY" );
            $searchResult = $facturapi->Customers->all([
              "q" => "Dunder",
              "date" => [
                "gt" => new DateTime("2021-07-14T06:00:00.000Z"),
                "lt" => new DateTime("2021-08-14T06:00:00.000Z")
              ],
              "page" => 1
            ]);
      parameters:
        - in: query
          name: q
          schema:
            type: string
          description: Free text field. Search word matches with `legal_name` or `tax_id` fields.
        - $ref: "#/components/parameters/SearchDate"
        - $ref: "#/components/parameters/SearchPage"
        - $ref: "#/components/parameters/SearchLimit"
      security:
        - "SecretLiveKey": []
        - "SecretTestKey": []
      responses:
        "200":
          description: Search results
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CustomerSearchResult"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthenticated"
        "404":
          $ref: "#/components/responses/NotFound"
        "500":
          $ref: "#/components/responses/UnexpectedError"
  /customers/{customer_id}:
    get:
      operationId: getCustomer
      tags:
        - customer
      summary: Retrieve customer by ID
      description: Returns the 'Customer' object with the specified ID. If the customer does not exist, a 404 error will be returned.
      x-codeSamples:
        - lang: Bash
          label: cURL
          source: |
            curl https://www.facturapi.io/v2/customers/590ce6c56d04f840aa8438af \
              -H "Authorization: Bearer sk_test_API_KEY"
        - lang: JavaScript
          label: Node.js
          source: |
            const Facturapi = require('facturapi');
            const facturapi = new Facturapi('sk_test_API_KEY');
            const customer = await facturapi.customers.retrieve('590ce6c56d04f840aa8438af');
        - lang: csharp
          label: C#
          source: |
            var facturapi = new FacturapiClient("sk_test_API_KEY");
            var customer = await facturapi.Customer.RetrieveAsync("590ce6c56d04f840aa8438af");
        - lang: PHP
          source: |
            $facturapi = new Facturapi( "sk_test_API_KEY" );
            $customer = $facturapi->Customers->retrieve( "5a3ee743f508333611ad6b3c" );
      parameters:
        - in: path
          name: customer_id
          schema:
            type: string
          required: true
          description: Customer ID
      security:
        - "SecretLiveKey": []
        - "SecretTestKey": []
      responses:
        "200":
          description: "`Customer` object"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Customer"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthenticated"
        "500":
          $ref: "#/components/responses/UnexpectedError"
    put:
      operationId: editCustomer
      tags:
        - customer
      summary: Edit Customer
      description: Updates the information of an existing customer, setting only the values for the paramenters that are sent. Undefined values will not be modified.
      x-codeSamples:
        - lang: Bash
          label: cURL
          source: |
            curl https://www.facturapi.io/v2/customers/590ce6c56d04f840aa8438af \
              -X PUT
              -H "Authorization: Bearer sk_test_API_KEY" \
              -H "Content-Type: application/json" \
              -d '{
                    "email": "jdoe@example.com",
                    "address": {
                      "street": "Santa Monica Ave."
                    }
                  }'
        - lang: JavaScript
          label: Node.js
          source: |
            const Facturapi = require('facturapi');
            const facturapi = new Facturapi('sk_test_API_KEY');
            const customer = await facturapi.customers.update(
              '590ce6c56d04f840aa8438af',
              {
                email: 'jdoe@example.com',
                address: {
                  street: 'Santa Monica Ave.'
                }
              }
            );
        - lang: csharp
          label: C#
          source: |
            var facturapi = new FacturapiClient("sk_test_API_KEY");
            var customer = await facturapi.Customer.UpdateAsync(
              "590ce6c56d04f840aa8438af",
              new Dictionary<string, object>
              {
                ["email"] = "jdoe@example.com",
                ["address"] = new Dictionary<string, object>
                {
                  ["street"] = "Santa Monica Ave."
                }
              }
            );
        - lang: PHP
          source: |
            $facturapi = new Facturapi( "sk_test_API_KEY" );
            $customer = $facturapi->Customers->update("590ce6c56d04f840aa8438af", [
              "email" => "jdoe@example.com",
              "legal_name" => "Dunder Mifflin",
              "address" => [
                "street" => "Santa Monica Ave."
              ]
            ]);
      parameters:
        - in: path
          name: customer_id
          schema:
            type: string
          required: true
          description: ID of the object to edit
      requestBody:
        $ref: "#/components/requestBodies/CustomerEdit"
      security:
        - "SecretLiveKey": []
        - "SecretTestKey": []
      responses:
        "200":
          description: "`Customer` object edited successfully"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Customer"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthenticated"
        "500":
          $ref: "#/components/responses/UnexpectedError"
    delete:
      operationId: deleteCustomer
      tags:
        - customer
      summary: Delete Customer
      description: Deletes a customer. The invoices linked to the customer will **not** be deleted.
      x-codeSamples:
        - lang: Bash
          label: cURL
          source: |
            curl https://www.facturapi.io/v2/customers/590ce6c56d04f840aa8438af \
              -X DELETE \
              -H "Authorization: Bearer sk_test_API_KEY"
        - lang: JavaScript
          label: Node.js
          source: |
            const Facturapi = require('facturapi');
            const facturapi = new Facturapi('sk_test_API_KEY');
            const removedCustomer = await facturapi.customers.del('590ce6c56d04f840aa8438af');
        - lang: csharp
          label: C#
          source: |
            var facturapi = new FacturapiClient("sk_test_API_KEY");
            var customer = await facturapi.Customer.DeleteAsync("590ce6c56d04f840aa8438af");
        - lang: PHP
          source: |
            $facturapi = new Facturapi( "sk_test_API_KEY" );
            $facturapi->Customers->delete( "5a3fefd9f508333611ad6b43" );
      parameters:
        - in: path
          name: customer_id
          schema:
            type: string
          required: true
          description: ID of the object to delete
      security:
        - "SecretLiveKey": []
        - "SecretTestKey": []
      responses:
        "200":
          description: "`Customer` object deleted successfully"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Customer"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthenticated"
        "500":
          $ref: "#/components/responses/UnexpectedError"
  /customers/{customer_id}/tax-info-validation:
    get:
      operationId: validateCustomerTaxInfo
      tags:
        - customer
      summary: Validate Customer Tax Info
      description: |
        Validates that the customer's fiscal information matches the SAT records.

        Its main function is to validate that the registered customer data continues to meet the SAT validation.
        
        > **Note:**
        > The operations of creating a customer, editing a customer, and creating an invoice already perform a
        > validation of the customer's information, so it is **not** necessary to call this endpoint
        > before performing these operations.
      x-codeSamples:
        - lang: Bash
          label: cURL
          source: |
            curl https://www.facturapi.io/v2/customers/590ce6c56d04f840aa8438af/tax-info-validation \
              -H "Authorization: Bearer sk_test_API_KEY"
        - lang: JavaScript
          label: Node.js
          source: |
            const Facturapi = require('facturapi');
            const facturapi = new Facturapi('sk_test_API_KEY');
            const customer = await facturapi.customers.validateTaxInfo('590ce6c56d04f840aa8438af');
        - lang: csharp
          label: C#
          source: |
            var facturapi = new FacturapiClient("sk_test_API_KEY");
            var customer = await facturapi.Customer.ValidateTaxInfoAsync("590ce6c56d04f840aa8438af");
        - lang: PHP
          source: |
            $facturapi = new Facturapi( "sk_test_API_KEY" );
            $customer = $facturapi->Customers->validateTaxInfo( "5a3ee743f508333611ad6b3c" );
      parameters:
        - in: path
          name: customer_id
          schema:
            type: string
          required: true
          description: ID of the customer
      security:
        - "SecretLiveKey": []
      responses:
        "200":
          description: Validation result
          content:
            application/json:
              schema:
                type: object
                properties:
                  is_valid:
                    type: boolean
                    description: Indicates if the customer's fiscal information matches the SAT records
                    example: true
                  errors:
                    type: array
                    description: List of errors found in the validation
                    items:
                      type: object
                      properties:
                        path:
                          type: string
                          description: Path to the field with the error
                          example: tax_system
                        message:
                          type: string
                          description: Error message
                          example: El RégimenFiscal no coincide con el registrado para el RFC en la lista de contribuyentes obligados del SAT.
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthenticated"
        "500":
          $ref: "#/components/responses/UnexpectedError"
  /products:
    post:
      operationId: createProduct
      tags:
        - product
      summary: Create Product
      description: |
        Register a new product or service in your Facturapi catalog.

        You can use the product ID to create invoices without having to send all the product data each time.

        Keep in mind that the products you create in the Test environment **are not shared**
        with the Live environment.
      x-codeSamples:
        - lang: Bash
          label: cURL
          source: |
            curl https://www.facturapi.io/v2/products \
              -H "Authorization: Bearer sk_test_API_KEY" \
              -H "Content-Type: application/json" \
              -d '{
                    "description": "Ukelele",
                    "product_key": "60131324",
                    "price": 345.60,
                    "sku": "ABC1234"
                }'
        - lang: JavaScript
          label: Node.js
          source: |
            const Facturapi = require('facturapi');
            const facturapi = new Facturapi('sk_test_API_KEY');
            const product = await facturapi.products.create({
              description: 'Ukelele',
              product_key: '60131324',
              price: 345.60,
              sku: 'ABC1234'
            });
        - lang: csharp
          label: C#
          source: |
            var facturapi = new FacturapiClient("sk_test_API_KEY");
            var product = await facturapi.Product.CreateAsync(new Dictionary<string, object>
            {
              ["description"] = "Ukelele",
              ["product_key"] = "60131324",
              ["price"] = 345.60,
              ["sku"] = "ABC1234"
            });
        - lang: PHP
          source: |
            $facturapi = new Facturapi( "sk_test_API_KEY" );
            $product = $facturapi->Products->create([
              "description" => "Ukelele",
              "product_key" => "60131324",
              "price" => 345.60,
              "sku" => "ABC1234"
            ]);
      requestBody:
        $ref: "#/components/requestBodies/ProductCreate"
      security:
        - "SecretLiveKey": []
        - "SecretTestKey": []
      responses:
        "200":
          description: New `Product` object just created
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Product"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthenticated"
        "404":
          $ref: "#/components/responses/NotFound"
        "500":
          $ref: "#/components/responses/UnexpectedError"
    get:
      operationId: listProducts
      tags:
        - product
      summary: List products
      description: Returns a paginated list of all products in an organization or performs a search according to parameters.
      x-codeSamples:
        - lang: Bash
          label: cURL
          source: |
            curl https://www.facturapi.io/v2/products \
              -H "Authorization: Bearer sk_test_API_KEY" \
              -G \
              -d 'q=ukelele' \
              -d 'page=1'
        - lang: JavaScript
          label: Node.js
          source: |
            const Facturapi = require('facturapi');
            const facturapi = new Facturapi('sk_test_API_KEY');
            const searchResult = await facturapi.products.list({
              q: 'ukelele',
              page: 1
            });
        - lang: csharp
          label: C#
          source: |
            var facturapi = new FacturapiClient("sk_test_API_KEY");
            var searchResult = await facturapi.Product.ListAsync(new Dictionary<string, object>
            {
              ["q"] = "ukelele",
              ["date"] = new Dictionary<string, object>
                {
                  ["gt"] = new DateTime("2021-07-14T06:00:00.000Z"),
                  ["lt"] = new DateTime("2021-08-14T06:00:00.000Z")
                },
              ["page"] = 1
            });
        - lang: PHP
          source: |
            $facturapi = new Facturapi( "sk_test_API_KEY" );
            $searchResult = $facturapi->Products->all([
              "q" => "ukelele",
              "page" => 1
            ]);
      parameters:
        - in: query
          name: q
          schema:
            type: string
          description: Free text field. Search word matches with `description` or `sku` fields.
        - $ref: "#/components/parameters/SearchPage"
        - $ref: "#/components/parameters/SearchLimit"
      security:
        - "SecretLiveKey": []
        - "SecretTestKey": []
      responses:
        "200":
          description: Search results
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProductSearchResult"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthenticated"
        "404":
          $ref: "#/components/responses/NotFound"
        "500":
          $ref: "#/components/responses/UnexpectedError"
  /products/{product_id}:
    get:
      operationId: getProduct
      tags:
        - product
      summary: Retrieve product by ID
      description: Returns the `Product` object with the specified ID. If the product does not exist, a 404 error will be returned.
      x-codeSamples:
        - lang: Bash
          label: cURL
          source: |
            curl https://www.facturapi.io/v2/products/590e22c26d04f840aa8438b2 \
              -H "Authorization: Bearer sk_test_API_KEY"
        - lang: JavaScript
          label: Node.js
          source: |
            const Facturapi = require('facturapi');
            const facturapi = new Facturapi('sk_test_API_KEY');
            const product = await facturapi.products.retrieve('590e22c26d04f840aa8438b2');
        - lang: csharp
          label: C#
          source: |
            var facturapi = new FacturapiClient("sk_test_API_KEY");
            var product = await facturapi.Product.RetrieveAsync("590e22c26d04f840aa8438b2");
        - lang: PHP
          source: |
            $facturapi = new Facturapi( "sk_test_API_KEY" );
            $product = $facturapi->Product->retrieve( "590e22c26d04f840aa8438b2" );
      parameters:
        - in: path
          name: product_id
          schema:
            type: string
          required: true
          description: Product ID
      security:
        - "SecretLiveKey": []
        - "SecretTestKey": []
      responses:
        "200":
          description: "`Product` object"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Product"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthenticated"
        "500":
          $ref: "#/components/responses/UnexpectedError"
    put:
      operationId: editProduct
      tags:
        - product
      summary: Edit product
      description: |
        Updates the information of an existing product, setting only the values for the paramenters that are sent. Undefined values will not be modified.
      x-codeSamples:
        - lang: Bash
          label: cURL
          source: |
            curl https://www.facturapi.io/v2/products/590e22c26d04f840aa8438b2 \
              -X PUT \
              -H "Authorization: Bearer sk_test_API_KEY" \
              -H "Content-Type: application/json" \
              -d '{
                    "price": 456.70
                  }'
        - lang: JavaScript
          label: Node.js
          source: |
            const Facturapi = require('facturapi');
            const facturapi = new Facturapi('sk_test_API_KEY');
            const product = await facturapi.products.update(
              '590e22c26d04f840aa8438b2',
              {
                email: 'jdoe@example.com',
                address: {
                  street: 'Santa Monica Ave.'
                }
              }
            );
        - lang: csharp
          label: C#
          source: |
            var facturapi = new FacturapiClient("sk_test_API_KEY");
            var product = await facturapi.Product.UpdateAsync(
              "590e22c26d04f840aa8438b2",
              new Dictionary<string, object>
              {
                ["price"] = 456.70
              }
            );
        - lang: PHP
          source: |
            $facturapi = new Facturapi( "sk_test_API_KEY" );
            $product = $facturapi->Products->update("590e22c26d04f840aa8438b2", [
              "price" => 456.70
            ]);
      parameters:
        - in: path
          name: product_id
          schema:
            type: string
          required: true
          description: Product ID
      requestBody:
        $ref: "#/components/requestBodies/ProductEdit"
      security:
        - "SecretLiveKey": []
        - "SecretTestKey": []
      responses:
        "200":
          description: "`Product` object edited successfully"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Product"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthenticated"
        "500":
          $ref: "#/components/responses/UnexpectedError"
    delete:
      operationId: deleteProduct
      tags:
        - product
      summary: Delete Product
      description: |
        Deletes the product from your organization. The invoices linked with the product **will not** be deleted.
      x-codeSamples:
        - lang: Bash
          label: cURL
          source: |
            curl https://www.facturapi.io/v2/products/590e22c26d04f840aa8438b2 \
              -X DELETE \
              -H "Authorization: Bearer sk_test_API_KEY"
        - lang: JavaScript
          label: Node.js
          source: |
            const Facturapi = require('facturapi');
            const facturapi = new Facturapi('sk_test_API_KEY');
            const removedProduct = await facturapi.products.del('590e22c26d04f840aa8438b2');
        - lang: csharp
          label: C#
          source: |
            var facturapi = new FacturapiClient("sk_test_API_KEY");
            var product = await facturapi.Product.DeleteAsync("590e22c26d04f840aa8438b2");
        - lang: PHP
          source: |
            $facturapi = new Facturapi( "sk_test_API_KEY" );
            $facturapi->Products->delete( "590e22c26d04f840aa8438b2" );
      parameters:
        - in: path
          name: product_id
          schema:
            type: string
          required: true
          description: Product ID to delete
      security:
        - "SecretLiveKey": []
        - "SecretTestKey": []
      responses:
        "200":
          description: "`Product` object deleted successfully"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Product"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthenticated"
        "500":
          $ref: "#/components/responses/UnexpectedError"
  /invoices:
    post:
      operationId: createInvoice
      tags:
        - invoice
      summary: Create invoice (CFDI 4.0)
      description: |
        Creates a new Invoice. If the invoice is created in the Live environment, it will be **stamped and sent to the SAT**.
      x-codeSamples:
        - lang: Bash
          label: cURL
          source: |
            curl https://www.facturapi.io/v2/invoices \
              -H "Authorization: Bearer sk_test_API_KEY" \
              -H "Content-Type: application/json" \
              -d '{
                "customer": {
                  "legal_name": "Dunder Mifflin",
                  "email": "email@example.com",
                  "tax_id": "ABC101010111",
                  "tax_system": "601",
                  "address": {
                    "zip": "85900"
                  }
                },
                "items": [{
                  "quantity": 2,
                  "product": {
                    "description": "Ukelele",
                    "product_key": "60131324",
                    "price": 345.60
                  }
                }],
                "payment_form": "06",
                "folio_number": 914,
                "series": "F"
              }'
        - lang: JavaScript
          label: Node.js
          source: |
            const Facturapi = require('facturapi');
            const facturapi = new Facturapi('sk_test_API_KEY');
            const invoice = await facturapi.invoices.create({
              customer: {
                legal_name: 'Dunder Mifflin',
                email: 'email@example.com',
                tax_id: 'ABC101010111',
                tax_system: '601',
                address: {
                  zip: '85900'
                }
              },
              items: [{
                quantity: 2,
                product: {
                  description: 'Ukelele',
                  product_key: '60131324',
                  price: 345.60
                }
              }],
              payment_form: Facturapi.PaymentForm.DINERO_ELECTRONICO,
              folio_number: 914,
              series: 'F'
            });
        - lang: csharp
          label: C#
          source: |
            var facturapi = new FacturapiClient("sk_test_API_KEY");
            var invoice = await facturapi.Invoice.CreateAsync(new Dictionary<string, object>
            {
              ["customer"] = new Dictionary<string, object>
              {
                ["legal_name"] = "Dunder Mifflin",
                ["email"] = "email@example.com",
                ["tax_id"] = "ABC101010111",
                ["tax_system"] = "601",
                ["address"] = new Dictionary<string, object>
                {
                  ["zip"] = "85900"
                }
              },
              ["items"] = new Dictionary<string, object>[]
              {
                new Dictionary<string, object>
                {
                  ["product"] = new Dictionary<string, object>
                  {
                    ["description"] = "Ukelele",
                    ["product_key"] = "60131324",
                    ["price"] = 345.60
                  }
                }
              },
              ["payment_form"] = Facturapi.PaymentForm.DINERO_ELECTRONICO,
              ["folio_number"] = 914,
              ["series"] = "F"
            });
        - lang: PHP
          source: |
            $facturapi = new Facturapi( "sk_test_API_KEY" );
            $invoice = $facturapi->Invoices->create([
              "customer" => [
                "legal_name" => "Dunder Mifflin",
                "email" => "email@example.com",
                "tax_id" => "ABC101010111",
                "tax_system" => "601",
                "address" => [
                  "zip" => "85900"
                ]
              ],
              "items" => [
                [
                  "quantity" => 2,
                  "product" => [
                    "description" => "Ukelele",
                    "product_key" => "60131324",
                    "price" => 420.69,
                    "sku" => "ABC4567"
                  ]
                ] // Add as many products as you want to include in your invoice
              ],
              "payment_form" => \Facturapi\PaymentForm::EFECTIVO,
              "folio_number" => 581,
              "series" => "F"
            ]);
      requestBody:
        $ref: "#/components/requestBodies/InvoiceCreate"
      parameters:
        - in: query
          name: async
          schema:
            type: boolean
          required: false
          description: |
            Useful for large invoices. If sent `false` or not sent, the call will wait for the SAT to respond by stamping the invoice.
            If sent `true`, the call will return immediately with the `invoice` object in status `pending`, and its status can be checked
            for a change to `valid` at a later time.
      security:
        - "SecretLiveKey": []
        - "SecretTestKey": []
      responses:
        "200":
          description: "`Invoice` object"
          required: true
          content:
            application/json:
              schema:
                type: object
                discriminator:
                  propertyName: status
                  mapping:
                    pending: "#/components/schemas/Invoice"
                    draft: "#/components/schemas/InvoiceDraft"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthenticated"
        "404":
          $ref: "#/components/responses/NotFound"
        "500":
          $ref: "#/components/responses/UnexpectedError"
    
    get:
      operationId: listInvoices
      tags:
        - invoice
      summary: List invoices
      description: |
        Returns a paginated list of all invoices in an organization or performs a search according to parameters.
      x-codeSamples:
        - lang: Bash
          label: cURL
          source: |
            # All invoices from the organization
            curl "https://www.facturapi.io/v2/invoices" \
              -G \
              -H "Authorization: Bearer sk_test_API_KEY"

            # All invoices issued to a certain customer
            curl "https://www.facturapi.io/v2/invoices" \
              -G \
              -H "Authorization: Bearer sk_test_API_KEY" \
              -d "customer=58e93bd8e86eb318b0197456"

            # Page 3 of the search results for free text
            # of invoices issued to a certain customer between 2017 and 2019
            curl "https://www.facturapi.io/v2/invoices" \
              -G \
              -H "Authorization: Bearer sk_test_API_KEY" \
              -d "q=Aspiradora+Robot&customer=58e93bd8e86eb318b0197456&date[gte]=2017-01-01T00:00:00.000Z&date[lt]=2020-01-01T00:00:00.000Z&page=3&limit=10"
        - lang: JavaScript
          label: Node.js
          source: |
            const Facturapi = require('facturapi');
            const facturapi = new Facturapi('sk_test_API_KEY');

            // All invoices from the organization
            const invoiceSearch = await facturapi.invoices.list();

            // All invoices issued to a certain customer
            const invoiceSearch = await facturapi.invoices.list({
              customer: '590ce6c56d04f840aa8438af'
            });

            // Page 3 of the search results for free text
            // of invoices issued to a certain customer between 2017 and 2019
            const invoiceSearch = await facturapi.invoices.list({
              q: 'Aspiradora Robot',
              customer: '590ce6c56d04f840aa8438af',
              date: {
                gte: new Date('2017-01-01T00:00:00.000Z'),
                lt: new Date('2020-01-01T00:00:00.000Z')
              },
              page: 3,
              limit: 10,
            });
        - lang: csharp
          label: C#
          source: |
            var facturapi = new FacturapiClient("sk_test_API_KEY");

            // All invoices from the organization
            var searchResult = await facturapi.Invoice.ListAsync();

            // Todas las facturas emitidas para cierto cliente
            var searchResult = await facturapi.Invoice.ListAsync(
              new Dictionary<string, object>
              {
                ["customer"] = "590ce6c56d04f840aa8438af"
              }
            );

            // Página 3 de los resultados de búsqueda de texto libre
            // de facturas emitidas por cierto cliente entre 2017 y 2019
            var searchResult = await facturapi.Invoice.ListAsync(
              new Dictionary<string, object>
              {
                ["q"] = "Aspiradora Robot",
                ["customer"] = "590ce6c56d04f840aa8438af",  
                ["date"] = new Dictionary<string, object>
                  {
                    ["gte"] = new DateTime("2017-01-01T00:00:00.000Z"),
                    ["lt"] = new DateTime("2020-01-01T00:00:00.000Z")
                  },
                ["page"] = 3,
                ["limit"] = 10,
              }
            );
        - lang: PHP
          source: |
            $facturapi = new Facturapi( "sk_test_API_KEY" );

            // All invoices from the organization
            $invoices = $facturapi->Invoices->all();

            // All invoices issued to a certain customer
            $invoices = $facturapi->Invoices->all([
              customer => "590ce6c56d04f840aa8438af"
            ]);

            // Page 3 of the search results for free text
            // of invoices issued to a certain customer between 2017 and 2019
            $invoices = $facturapi->Invoices->all([
              q => "Aspiradora Robot",
              customer => "590ce6c56d04f840aa8438af"
              date => [
                gte => new DateTime("2017-01-01T00:00:00.000Z"),
                lt => new DateTime("2020-01-01T00:00:00.000Z")
              ],
              page => 3,
              limit => 10,
            ]);
      parameters:
        - in: query
          name: q
          schema:
            type: string
          description: |
            Text to search in the invoice.

            The search will be performed by **partial** matches in the fields:

            - `items[].product.description`
            - `customer.legal_name`

            And by **exact** matches in the fields:

            - `id`
            - `uuid`
            - `customer.tax_id`
            - `folio_number`
            - `total`
        - in: query
          name: customer
          schema:
            type: string
          description: Filter by customer ID. Exact match.
        - in: query
          name: type
          schema:
            type: string
            enum:
              - I  
              - E 
              - P 
              - N
              - T 
          description: Filter by invoice type. Exact match.
        - in: query
          name: payment_method
          schema:
            type: string
            enum:
              - PUE
              - PPD
          description: Payment method. Exact match.
        - $ref: "#/components/parameters/SearchDate"
        - $ref: "#/components/parameters/SearchPage"
        - $ref: "#/components/parameters/SearchLimit"
      security:
        - "SecretLiveKey": []
        - "SecretTestKey": []
      responses:
        "200":
          description: Search results
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/InvoiceSearchResult"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthenticated"
        "404":
          $ref: "#/components/responses/NotFound"
        "500":
          $ref: "#/components/responses/UnexpectedError"
  /invoices/{invoice_id}:
    get:
      operationId: getInvoice
      tags:
        - invoice
      summary: Retrieve invoice by ID
      description: Returns the `Invoice` object with the specified ID. If the invoice does not exist, a 404 error will be returned.
      x-codeSamples:
        - lang: Bash
          label: cURL
          source: |
            curl https://www.facturapi.io/v2/invoices/58e93bd8e86eb318b019743d \
              -H "Authorization: Bearer sk_test_API_KEY"
        - lang: JavaScript
          label: Node.js
          source: |
            const Facturapi = require('facturapi');
            const facturapi = new Facturapi('sk_test_API_KEY');
            const invoice = await facturapi.invoices.retrieve('58e93bd8e86eb318b019743d');
        - lang: csharp
          label: C#
          source: |
            var facturapi = new FacturapiClient("sk_test_API_KEY");
            var invoice = await facturapi.Invoice.RetrieveAsync("58e93bd8e86eb318b019743d");
        - lang: PHP
          source: |
            $facturapi = new Facturapi( "sk_test_API_KEY" );
            $invoice = $facturapi->Invoices->retrieve( "58e93bd8e86eb318b019743d" );
      parameters:
        - in: path
          name: invoice_id
          schema:
            type: string
          required: true
          description: ID of the invoice
      security:
        - "SecretLiveKey": []
        - "SecretTestKey": []
      responses:
        "200":
          description: "`Invoice` object"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Invoice"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthenticated"
        "500":
          $ref: "#/components/responses/UnexpectedError"
    put:
      operationId: updateDraftInvoice
      tags:
        - invoice
      summary: Edit draft invoice
      description: |
        Updates the information of a draft invoice, setting only the values for
        the paramenters that are sent. Undefined values will not be modified.

        In the `Invoice` response object, Facturapi will automatically assign the
        `is_ready_to_stamp` field with the value `true` if the invoice passes the
        minimum validation required to be stamped; otherwise, the
        `is_ready_to_stamp` field will be `false`.
      x-codeSamples:
        - lang: Bash
          label: cURL
          source: |
            curl https://www.facturapi.io/v2/invoices/58e93bd8e86eb318b019743d \
              -X PUT \
              -H "Authorization: Bearer sk_test_API_KEY" \
              -H "Content-Type: application/json" \
              -d '{
                    "payment_form": "06"
                  }'
        - lang: JavaScript
          label: Node.js
          source: |
            const Facturapi = require('facturapi');
            const facturapi = new Facturapi('sk_test_API_KEY');
            const invoice = await facturapi.invoices.updateDraft(
              '58e93bd8e86eb318b019743d',
              {
                payment_form: Facturapi.PaymentForm.DINERO_ELECTRONICO
              }
            );
        - lang: csharp
          label: C#
          source: |
            var facturapi = new Facturapi("sk_test_API_KEY");
            var invoice = await facturapi.Invoice.UpdateDraftAsync(
              "58e93bd8e86eb318b019743d",
              new Dictionary<string, object>
              {
                ["payment_form"] = Facturapi.PaymentForm.DINERO_ELECTRONICO
              }
            );
        - lang: PHP
          source: |
            $facturapi = new Facturapi( "sk_test_API_KEY" );
            $invoice = $facturapi->Invoices->update_draft("58e93bd8e86eb318b019743d", [
              "payment_form" => \Facturapi\PaymentForm::EFECTIVO
            ]);
      parameters:
        - in: path
          name: invoice_id
          schema:
            type: string
          required: true
          description: ID of the invoice to edit
      requestBody:
        $ref: "#/components/requestBodies/InvoiceEdit"
      security:
        - "SecretLiveKey": []
        - "SecretTestKey": []
      responses:
        "200":
          description: "`Invoice` object edited successfully"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/InvoiceDraft"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthenticated"
        "500":
          $ref: "#/components/responses/UnexpectedError"
    delete:
      operationId: cancelInvoice
      tags:
        - invoice
      summary: Cancel invoice
      description: |
        Creates a cancellation request to the SAT for the specified invoice.

        When using this method, 3 possible results can occur:

        - The call returns an error with the explanation of why the cancellation could not be completed.
        - The call is successful and returns an `invoice` object with the property `status: "canceled"`.
        - The call is successful, but the cancellation requires confirmation from your client, in which case the response will be the `invoice` object with the properties `status: "valid"` and `cancellation_status: "pending"`.

        In the third scenario, the value of `cancellation_status` will be automatically updated by Facturapi when your client accepts, rejects, or lets the request expire, so that when you query an invoice (using [Get Invoice](#operation/getInvoice)), the `cancellation_status` property will reflect the most recent status of the request.

        Check the possible values of `cancellation_status` below.

        After the cancellation, the invoice will no longer be valid, the object will change its `status` to `"canceled"` and will still be available for future queries.

        If the status of the invoice is `draft`, this method will delete it from the database.

        If the status of the invoice is `canceled`, this method will return an error.
      x-codeSamples:
        - lang: Bash
          label: cURL
          source: |
            curl https://www.facturapi.io/v2/invoices/58e93bd8e86eb318b019743d?motive=02 \
              -H "Authorization: Bearer sk_test_API_KEY" \
              -X DELETE
        - lang: JavaScript
          label: Node.js
          source: |
            const Facturapi = require('facturapi');
            const facturapi = new Facturapi('sk_test_API_KEY');
            const invoice = await facturapi.invoices.cancel(
              '58e93bd8e86eb318b019743d',
              { motive: '02' }
            );
        - lang: csharp
          label: C#
          source: |
            var facturapi = new FacturapiClient("sk_test_API_KEY");
            var invoice = await facturapi.Invoice.CancelAsync(
              "58e93bd8e86eb318b019743d",
              new Dictionary<string, object>
              {
                ["motive"] = "02"
              }
            );
        - lang: PHP
          source: |
            $facturapi = new Facturapi( "sk_test_API_KEY" );
            $canceled_invoice = $facturapi->Invoices->cancel(
              "58e93bd8e86eb318b019743d",
              [
                "motive" => "02"
              ]
            );
      parameters:
        - in: path
          name: invoice_id
          schema:
            type: string
          required: true
          description: ID of the invoice to cancel
        - in: query
          name: motive
          required: true
          schema:
            type: string
            enum:
              - "01"
              - "02"
              - "03"
              - "04"
          description: |
            Key representing the motive for the cancellation of the invoice.

            Possible values:

            - `01`: **Invoice issued with errors with relation**. When the invoice contains any errors in quantities, keys, or any other data and the replacement invoice has already been issued, which should be indicated through the `substitution` attribute.
            - `02`: **Invoice issued with errors without relation**. When the invoice contains any errors in quantities, keys, or any other data and it is not required to be related to another invoice.
            - `03`: **Operation not carried out**. When the sale or transaction was not completed.
            - `04`: **Nominative operation related to the global invoice**. When it is necessary to cancel an invoice to the general public because the customer requests their invoice.
        - in: query
          name: substitution
          required: false
          schema:
            type: string
          description: |
            ID of the invoice that replaces the invoice being canceled.
            
            You can use either the ID assigned by Facturapi or the fiscal folio (UUID).
      security:
        - "SecretLiveKey": []
        - "SecretTestKey": []
      responses:
        "200":
          description: "`Invoice` object after cancellation"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Invoice"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthenticated"
        "409":
          $ref: "#/components/responses/Conflict"
        "500":
          $ref: "#/components/responses/UnexpectedError"
  /invoices/{invoice_id}/copy:
    post:
      operationId: copyToDraftInvoice
      tags:
        - invoice
      summary: Copy to draft
      description: |
        Creates a new draft invoice with the same information as the specified invoice.
      x-codeSamples:
        - lang: Bash
          label: cURL
          source: |
            curl https://www.facturapi.io/v2/invoices/58e93bd8e86eb318b019743d/copy \
              -H "Authorization: Bearer sk_test_API_KEY" \
              -X POST
        - lang: JavaScript
          label: Node.js
          source: |
            const Facturapi = require('facturapi');
            const facturapi = new Facturapi('sk_test_API_KEY');
            const invoice = await facturapi.invoices.copyToDraft('58e93bd8e86eb318b019743d');
        - lang: csharp
          label: C#
          source: |
            var facturapi = new FacturapiClient("sk_test_API_KEY");
            var invoice = await facturapi.Invoice.CopyToDraftAsync("58e93bd8e86eb318b019743d");
        - lang: PHP
          source: |
            $facturapi = new Facturapi( "sk_test_API_KEY" );
            $invoice = $facturapi->Invoices->copy_to_draft("58e93bd8e86eb318b019743d");
      parameters:
        - in: path
          name: invoice_id
          schema:
            type: string
          required: true
          description: ID of the invoice to copy
      security:
        - "SecretLiveKey": []
        - "SecretTestKey": []
      responses:
        "200":
          description: "`Invoice` draft object created successfully"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/InvoiceDraft"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthenticated"
        "500":
          $ref: "#/components/responses/UnexpectedError"
  /invoices/{invoice_id}/stamp:
    post:
      operationId: stampDraftInvoice
      tags:
        - invoice
      summary: Stamp draft invoice
      description: |
        Stamps a draft invoice and sends it to the SAT for validation.

        When using this method, the value of the `is_ready_to_stamp` field (assigned by Facturapi)
        must be `true`. Otherwise, the call will return an error. To get the value of `is_ready_to_stamp`,
        use the [Get Invoice](#operation/getInvoice) method.

        This method does not allow editing the invoice, only stamping it. If you need to edit
        information in the invoice before stamping it, use the [Edit Draft Invoice](#operation/editDraftInvoice) method.
      x-codeSamples:
        - lang: Bash
          label: cURL
          source: |
            curl https://www.facturapi.io/v2/invoices/58e93bd8e86eb318b019743d/stamp \
              -H "Authorization: Bearer sk_test_API_KEY" \
              -X POST
        - lang: JavaScript
          label: Node.js
          source: |
            const Facturapi = require('facturapi');
            const facturapi = new Facturapi('sk_test_API_KEY');
            const stampedInvoice = await facturapi.invoices.stampDraft('58e93bd8e86eb318b019743d');
        - lang: csharp
          label: C#
          source: |
            var facturapi = new FacturapiClient("sk_test_API_KEY");
            var stampedInvoice = await facturapi.Invoice.StampDraftAsync("58e93bd8e86eb318b019743d");
        - lang: PHP
          source: |
            $facturapi = new Facturapi( "sk_test_API_KEY" );
            $stamped_invoice = $facturapi->Invoices->stamp_draft("58e93bd8e86eb318b019743d");
      parameters:
        - in: path
          name: invoice_id
          schema:
            type: string
          required: true
          description: ID of the invoice to stamp
        - in: query
          name: async
          schema:
            type: boolean
          required: false
          description: |
            Useful for large invoices. If sent `false` or not sent, the call will wait for the SAT to respond by stamping the invoice.
            If sent `true`, the call will return immediately with the `invoice` object in status `pending`, and its status can be checked
            for a change to `valid` at a later time.
      security:
        - "SecretLiveKey": []
        - "SecretTestKey": []
      responses:
        "200":
          description: "`Invoice` object stamped successfully"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Invoice"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthenticated"
        "409":
          $ref: "#/components/responses/Conflict"
        "500":
          $ref: "#/components/responses/UnexpectedError"

  /invoices/{invoice_id}/cancellation_receipt/{format}:
    get:
      operationId: downloadCancellationReceiptXml
      tags:
        - invoice
      summary: Cancellation receipt
      description: Download the cancellation receipt of a canceled invoice in an xml or pdf file.
      x-codeSamples:
        - lang: Bash
          label: cURL
          source: |
            # Cancellation receipt xml
            curl https://www.facturapi.io/v2/invoices/58e93bd8e86eb318b019743d/cancellation_receipt/xml \
              -H "Authorization: Bearer sk_test_API_KEY" \
              -X GET
            
            # Cancellation receipt pdf
            curl https://www.facturapi.io/v2/invoices/58e93bd8e86eb318b019743d/cancellation_receipt/pdf \
              -H "Authorization: Bearer sk_test_API_KEY" \
              -X GET
        - lang: JavaScript
          label: Node.js
          source: |
            const Facturapi = require('facturapi');
            const facturapi = new Facturapi('sk_test_API_KEY');

            // Cancellation receipt xml
            await facturapi.invoices.downloadCancellationReceiptXml('58e93bd8e86eb318b019743d');

            // Cancellation receipt pdf
            await facturapi.invoices.downloadCancellationReceiptPdf('58e93bd8e86eb318b019743d');

        - lang: csharp
          label: C#
          source: |
            // Cancellation receipt xml
            await facturapi.Invoice.DownloadCancellationReceiptXmlAsync("58e93bd8e86eb318b019743d");
            // Cancellation receipt pdf
            await facturapi.Invoice.DownloadCancellationReceiptPdfAsync("58e93bd8e86eb318b019743d");
        - lang: PHP
          source: |
            $facturapi = new Facturapi( "sk_test_API_KEY" );

            // Cancellation receipt xml
            $facturapi->Invoices->download_cancellation_receipt_xml("58e93bd8e86eb318b019743d");
            
            // Cancellation receipt pdf
            $facturapi->Invoices->download_cancellation_receipt_pdf("58e93bd8e86eb318b019743d");
      parameters:
        - in: path
          name: invoice_id
          schema:
            type: string
          required: true
          description: ID of the invoice to download the cancellation receipt
        - in: path
          name: format
          schema:
            type: string
            enum:
              - xml
              - pdf
          required: true
          description: Format of the file to download
      security:
        - "SecretLiveKey": []
        - "SecretTestKey": []
      responses:
        "200":
          description: "Cancellation receipt file"
          content:
            application/octet-stream:
              schema:
                type: string
                format: binary
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthenticated"
        "500":
          $ref: "#/components/responses/UnexpectedError"

  /invoices/{invoice_id}/{format}:
    get:
      operationId: downloadInvoice
      tags:
        - invoice
      summary: Download invoice
      description: Download your invoice in PDF, XML, or both in a ZIP file.
      x-codeSamples:
        - lang: Bash
          label: cURL
          source: |
            ## Download PDF and XML compressed in a ZIP file
            curl https://www.facturapi.io/v2/invoices/58e93bd8e86eb318b019743d/zip \
              -H "Authorization: Bearer sk_test_API_KEY"

            ## Download only the PDF
            curl https://www.facturapi.io/v2/invoices/58e93bd8e86eb318b019743d/pdf \
              -H "Authorization: Bearer sk_test_API_KEY"

            ## Download only the XML
            curl https://www.facturapi.io/v2/invoices/58e93bd8e86eb318b019743d/xml \
              -H "Authorization: Bearer sk_test_API_KEY"
        - lang: JavaScript
          label: Node.js
          source: |
            const fs = require('fs');
            const Facturapi = require('facturapi');
            const facturapi = new Facturapi('sk_test_API_KEY');

            // Download PDF and XML compressed in a ZIP file
            const zipStream = await facturapi.invoices.downloadZip('58e93bd8e86eb318b019743d');
            const zipFile = fs.createWriteStream('./factura.zip');
            zipStream.pipe(zipFile);

            // Download only the PDF
            const pdfStream = await facturapi.invoices.downloadPdf('58e93bd8e86eb318b019743d');
            const pdfFile = fs.createWriteStream('./factura.pdf');
            pdfStream.pipe(pdfFile);

            // Download only the XML
            const xmlStream = await facturapi.invoices.downloadXml('58e93bd8e86eb318b019743d');
            const xmlFile = fs.createWriteStream('./factura.xml');
            xmlStream.pipe(xmlFile);
        - lang: csharp
          label: C#
          source: |
            // Download PDF and XML compressed in a ZIP file
            var zipStream = await facturapi.Invoice.DownloadZipAsync("58e93bd8e86eb318b019743d");
            // Download only the XML
            var xmlStream = await facturapi.Invoice.DownloadXmlAsync("58e93bd8e86eb318b019743d");
            // Download only the PDF
            var pdfStream = await facturapi.Invoice.DownloadPdfAsync("58e93bd8e86eb318b019743d");

            // Save the streams to a file
            var file = new System.IO.FileStream("C:\\route\\to\\save\\invoice.zip", FileMode.Create);
            zipStream.CopyTo(file);
            file.Close();
        - lang: PHP
          source: |
            $facturapi = new Facturapi( "sk_test_API_KEY" );

            // Stream containing the ZIP file with the PDF and XML files
            $zip = $facturapi->Invoices->download_zip("58e93bd8e86eb318b019743d");
            // Stream containing the PDF file
            $pdf = $facturapi->Invoices->download_pdf("58e93bd8e86eb318b019743d"); 
            // Stream containing the XML file
            $xml = $facturapi->Invoices->download_xml("58e93bd8e86eb318b019743d");
      parameters:
        - in: path
          name: invoice_id
          schema:
            type: string
          required: true
          description: ID of the invoice to download
        - in: path
          name: format
          schema:
            type: string
            enum:
              - xml
              - pdf
              - zip
          required: true
          description: Format of the file to download
      security:
        - "SecretLiveKey": []
        - "SecretTestKey": []
      responses:
        "200":
          description: Official CFDI file in the specified format
          content:
            application/octet-stream:
              schema:
                type: string
                format: binary
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthenticated"
        "500":
          $ref: "#/components/responses/UnexpectedError"
  /invoices/{invoice_id}/email:
    post:
      operationId: sendInvoiceByEmail
      tags:
        - invoice
      summary: Send invoice by email
      description: |
        Sends an email to the address of your client with the XML and PDF files attached to the message.
      x-codeSamples:
        - lang: Bash
          label: cURL
          source: |
            # Send to the email registered by the client
            curl https://www.facturapi.io/v2/invoices/58e93bd8e86eb318b019743d/email \
              -H "Authorization: Bearer sk_test_API_KEY" \
              -X POST

            # Send to a different email
            curl https://www.facturapi.io/v2/invoices/58e93bd8e86eb318b019743d/email \
              -H "Authorization: Bearer sk_test_API_KEY" \
              -X POST \
              -H "Content-Type: application/json" \
              -d '{
                    "email": "another_email@example.com"
                  }'
        - lang: JavaScript
          label: Node.js
          source: |
            const Facturapi = require('facturapi');
            const facturapi = new Facturapi('sk_test_API_KEY');

            // Send to the email registered by the client
            await facturapi.invoices.sendByEmail('58e93bd8e86eb318b019743d');

            // Send to a different email
            await facturapi.invoices.sendByEmail(
              '58e93bd8e86eb318b019743d',
              { email: 'another@email.com' }
            );

[...]
