
openapi: "3.1.0"
servers:
  - url: https://www.facturapi.io/v2
info:
  title: Facturapi
  version: "2.0"
  contact:
    name: Facturapi
    url: https://www.facturapi.io
    email: "soporte@facturapi.io"
  x-logo:
    url: https://www.facturapi.io/img/logo.svg
    altText: Facturapi
  description: |
    <br />
      <br />

      On this page, we list all the methods available in the Facturapi API, as
      well as the complete reference of the parameters you can send. To see the
      nested properties of an object or an array of objects, you can click on
      the field name to expand it.

      The Facturapi API is designed with the
      [REST](https://developer.mozilla.org/en-US/docs/Glossary/REST) standard in
      mind. The API endpoints are grouped by resources, have predictable URLs,
      the responses are in JSON format, and we use standard HTTP response codes,
      authentication, and verbs.

      During development, you can use the Facturapi API in the Test environment, and the invoices you issue will not be sent to the SAT (Mexican Tax Authority) and will not have fiscal validity.
      
      The secret key you use to authenticate will determine both the environment in which the invoice will be created (Test or Live), as well as the organization to use as the issuer of your invoice or as the owner of the resource you request to create.

tags:
  - name: tools
    x-displayName: Tools
  - name: customer
    x-displayName: Customers
  - name: product
    x-displayName: Products
  - name: invoice
    x-displayName: Invoices
  - name: receipt
    x-displayName: E-Receipts
  - name: retention
    x-displayName: Retentions
  - name: organization
    x-displayName: Organizations
  - name: webhooks
    x-displayName: Webhooks
  - name: events
    x-displayName: Events
    description: |
      Events occur when Facturapi performs an operation asynchronously, outside the lifecycle of an API request.

      To receive these events on your server, you can register a listening URL by creating a Webhook from your dashboard: https://dashboard.facturapi.io/integration/webhooks
  - name: sat_keys
    x-displayName: Keys from SAT's catálogos
    description: |
      These are the main catalogs from SAT, included here for convenience. This is by no means the full list. You can find these and more catalogs on the official SAT website: http://omawww.sat.gob.mx/tramitesyservicios/Paginas/anexo_20_version3-3.htm
      
      ### Forma de Pago

      (Payment Form)

      Key  | Description (Spanish) | Description (English)
      :---:|:----------------------|:---------------------
      "01" | Efectivo | Cash
      "02" | Cheque nominativo | Nominal check
      "03" | Transferencia electrónica de fondos | Electronic transfer of funds
      "04" | Tarjeta de crédito | Credit card
      "05" | Monedero electrónico | Electronic wallet
      "06" | Dinero electrónico | Mobile payment
      "08" | Vales de despensa | Food vouchers
      "12" | Dación en pago | Payment in kind
      "13" | Pago por subrogación | Subrogation payment
      "14" | Pago por consignación | Consignment payment
      "15" | Condonación | Debt Forgiveness or Cancellation
      "17" | Compensación | Settling Debts with Existing Credits
      "23" | Novación | Novation
      "24" | Confusión | Confusion
      "25" | Remisión de deuda | Remission
      "26" | Prescripción o caducidad | Expiration of the term
      "27" | A satisfacción del acreedor | Satisfactory payment
      "28" | Tarjeta de débito | Debit card
      "29" | Servicio | Service payment
      "30" | Aplicación de anticipos | Application of advanced payments
      "31" | Intermediario pagos | Payment intermediation
      "99" | Por definir | Pending definition

      ### Método de Pago

      (Payment Method)

      Key | Description (Spanish) | Description (English)
      :-----:|:--------------------|:---------------------
      "PUE" | Pago en Una [sola] Exhibición | Payment in a single installment
      "PPD" | Pago en Parcialidades o Diferido | Payment in installments or deferred

      ### Uso del CFDI

      (CFDI use)
      
      Key | Description (Spanish) | Description (English) | Allowed Fiscal Regimes
      :-----:|:----------- |:----------- |:-----------
      "G01" | Adquisición de mercancías. | Purchase of goods | 601, 603, 606, 612, 620, 621, 622, 623, 624, 625, 626
      "G02" | Devoluciones, descuentos y bonificaciones. | Returns, discounts and bonuses | 601, 603, 606, 612, 620, 621, 622, 623, 624, 625, 626
      "G03" | Gastos en general. | General expenses | 601, 603, 606, 612, 620, 621, 622, 623, 624, 625, 626
      "I01" | Construcciones. | Constructions | 601, 603, 606, 612, 620, 621, 622, 623, 624, 625, 626
      "I02" | Mobiliario y equipo de oficina por inversiones. | Furniture and office equipment for investments | 601, 603, 606, 612, 620, 621, 622, 623, 624, 625, 626
      "I03" | Equipo de transporte. | Transportation equipment | 601, 603, 606, 612, 620, 621, 622, 623, 624, 625, 626
      "I04" | Equipo de computo y accesorios. | Computer equipment and accessories | 601, 603, 606, 612, 620, 621, 622, 623, 624, 625, 626
      "I05" | Dados, troqueles, moldes, matrices y herramental. | Dies, molds, matrices and tools | 601, 603, 606, 612, 620, 621, 622, 623, 624, 625, 626
      "I06" | Comunicaciones telefónicas. | Telephone communications | 601, 603, 606, 612, 620, 621, 622, 623, 624, 625, 626
      "I07" | Comunicaciones satelitales. | Satellite communications | 601, 603, 606, 612, 620, 621, 622, 623, 624, 625, 626
      "I08" | Otra maquinaria y equipo. | Other machinery and equipment | 601, 603, 606, 612, 620, 621, 622, 623, 624, 625, 626
      "D01" | Honorarios médicos, dentales y gastos hospitalarios. | Medical, dental and hospital expenses. | 605, 606, 608, 611, 612, 614, 607, 615, 625
      "D02" | Gastos médicos por incapacidad o discapacidad. | Medical expenses for disability. | 605, 606, 608, 611, 612, 614, 607, 615, 625
      "D03" | Gastos funerales. | Funeral expenses. | 605, 606, 608, 611, 612, 614, 607, 615, 625
      "D04" | Donativos. | Donations. | 605, 606, 608, 611, 612, 614, 607, 615, 625
      "D05" | Intereses reales efectivamente pagados por créditos hipotecarios (casa habitación). | Real interest actually paid for mortgage loans (housing). | 605, 606, 608, 611, 612, 614, 607, 615, 625
      "D06" | Aportaciones voluntarias al SAR. | Voluntary contributions to the SAR. | 605, 606, 608, 611, 612, 614, 607, 615, 625
      "D07" | Primas por seguros de gastos médicos. | Premiums for medical expenses insurance. | 605, 606, 608, 611, 612, 614, 607, 615, 625
      "D08" | Gastos de transportación escolar obligatoria. | Mandatory school transportation expenses. | 605, 606, 608, 611, 612, 614, 607, 615, 625
      "D09" | Depósitos en cuentas para el ahorro, primas que tengan como base planes de pensiones. | Deposits in savings accounts, premiums based on pension plans. | 605, 606, 608, 611, 612, 614, 607, 615, 625
      "D10" | Pagos por servicios educativos (colegiaturas). | Payments for educational services (tuition). | 605, 606, 608, 611, 612, 614, 607, 615, 625
      "S01" | Sin efectos fiscales. | Without fiscal effects | 601, 603, 605, 606, 608, 610, 611, 612, 614, 616, 620, 621, 622, 623, 624, 607, 615, 625, 626
      "CP01" | Pagos | Payments | 601, 603, 605, 606, 608, 610, 611, 612, 614, 616, 620, 621, 622, 623, 624, 607, 615, 625, 626
      "CN01" | Nómina | Payroll | 605

      ### Relación entre facturas

      (Relation between invoices)

      Key | Description (Spanish) | Description (English)
      :-----:|:-----------|:-----------
      "01" | Nota de crédito de los documentos relacionados | Credit note of the related documents
      "02" | Nota de débito de los documentos relacionados | Debit note of the related documents
      "03" | Devolución de mercancía sobre facturas o traslados previos | Return of goods on invoices or previous transfers
      "04" | Sustitución de los CFDI previos | Replacement of previous CFDI
      "05" | Traslados de mercancias facturados previamente | Transfers of goods previously invoiced
      "06" | Factura generada por los traslados previos | Invoice generated by previous transfers
      "07" | CFDI por aplicación de anticipo | CFDI by advance payment application
      "08" | Factura generada por pagos en parcialidades | Invoice generated by payments in installments
      "09" | Factura generada por pagos diferidos | Invoice generated by deferred payments

      ### Régimen Fiscal

      (Fiscal Regimes or Tax Systems)

      Key | Description (Spanish) | Description (English)
      :-----:|:-----------|:-----------
      "601" |	General de Ley Personas Morales |	General Law of Legal Entities
      "603" |	Personas Morales con Fines no Lucrativos |	Non-profit Legal Entities
      "605" |	Sueldos y Salarios e Ingresos Asimilados a Salarios |	Wages and Salaries and Assimilated Income
      "606" |	Arrendamiento |	Rent
      "608" |	Demás ingresos |	Other income
      "609" |	Consolidación |	Consolidation
      "610" |	Residentes en el Extranjero sin Establecimiento Permanente en México |	Non-residents with no Permanent Establishment in Mexico
      "611" |	Ingresos por Dividendos (socios y accionistas) |	Dividends (partners and shareholders)
      "612" |	Personas Físicas con Actividades Empresariales y Profesionales |	Individuals with Business and Professional Activities
      "614" |	Ingresos por intereses |	Interest income
      "616" |	Sin obligaciones fiscales |	No tax obligations
      "620" |	Sociedades Cooperativas de Producción que optan por diferir sus ingresos |	Production Cooperatives that choose to defer their income
      "621" |	Incorporación Fiscal |	Fiscal Incorporation
      "622" |	Actividades Agrícolas, Ganaderas, Silvícolas y Pesqueras |	Agricultural, Livestock, Forestry and Fishing Activities
      "623" |	Opcional para Grupos de Sociedades |	Optional for Groups of Companies
      "624" |	Coordinados |	Coordinated
      "628" |	Hidrocarburos |	Hydrocarbons
      "607" |	Régimen de Enajenación o Adquisición de Bienes |	Regime of Alienation or Acquisition of Goods
      "629" |	De los Regímenes Fiscales Preferentes y de las Empresas Multinacionales |	Of Preferential Tax Regimes and Multinational Companies
      "630" |	Enajenación de acciones en bolsa de valores |	Sale of shares on the stock exchange
      "615" |	Régimen de los ingresos por obtención de premios |	Regime of income from obtaining prizes
      "625" |	Régimen de las Actividades Empresariales con ingresos a través de Plataformas Tecnológicas |	Regime of Business Activities with income through Technological Platforms
      "626" | Régimen Simplificado de Confianza | Simplified Trust Regime

      ### Meses y bimestres

      (Months and bimesters)

      Key | Description (Spanish) | Description (English)
      :-----:| ----------- | -----------
      01 | Enero | January
      02 | Febrero | February
      03 | Marzo | March
      04 | Abril | April
      05 | Mayo | May
      06 | Junio | June
      07 | Julio | July
      08 | Agosto | August
      09 | Septiembre | September
      10 | Octubre | October
      11 | Noviembre | November
      12 | Diciembre | December
      13 | Enero-Febrero | January-February
      14 | Marzo-Abril | March-April
      15 | Mayo-Junio | May-June
      16 | Julio-Agosto | July-August
      17 | Septiembre-Octubre | September-October
      18 | Noviembre-Diciembre | November-December

      ### Tipo de Contrato

      (Type of Contract)

      Key | Description (Spanish) | Description (English)
      :-----:|:----------- |:-----------
      "01" | Contrato de trabajo por tiempo indeterminado | Indefinite term employment contract
      "02" | Contrato de trabajo para obra determinada | Employment contract for a specific work
      "03" | Contrato de trabajo por tiempo determinado | Employment contract for a fixed term
      "04" | Contrato de trabajo por temporada | Seasonal employment contract
      "05" | Contrato de trabajo sujeto a prueba | Employment contract subject to trial
      "06" | Contrato de trabajo con capacitación inicial | Employment contract with initial training
      "07" | Modalidad de contratación por pago de hora laborada | Modality of hiring by payment of hours worked
      "08" | Modalidad de trabajo por comisión laboral | Labor commission work modality
      "09" | Modalidades de contratación donde no existe relación de trabajo | Hiring modalities where there is no employment relationship
      "10" | Jubilación, pensión, retiro. | Retirement, pension, retirement.
      "99" | Otro contrato | Other contract

      ### Tipo de Jornada

      (Type of Labor Day)

      Key | Description (Spanish) | Description (English)
      :-----:| ----------- | -----------
      "01" | Diurna | Daytime
      "02" | Nocturna | Night
      "03" | Mixta | Mixed
      "04" | Por hora | By the hour
      "05" | Reducida | Reduced
      "06" | Continuada | Continued
      "07" | Partida | Split
      "08" | Por turnos | By shifts
      "99" | Otra Jornada | Other day

      ### Tipo de Régimen

      (Type of Regime)

      Key | Description (Spanish) | Description (English)
      :-----:|:----------- |:-----------
      "02" | Sueldos (Incluye ingresos señalados en la fracción I del artículo 94 de LISR) | Salaries (Includes income referred to in section I of article 94 of LISR)
      "03" | Jubilados | Retirees
      "04" | Pensionados | Pensioners
      "05" | Asimilados Miembros Sociedades Cooperativas Produccion | Assimilated Members of Production Cooperatives
      "06" | Asimilados Integrantes Sociedades Asociaciones Civiles | Assimilated Members of Civil Associations
      "07" | Asimilados Miembros Consejos Administración Sociedades Mercantiles | Assimilated Members of the Boards of Directors of Commercial Companies
      "08" | Asimilados comisionistas | Assimilated commission agents
      "09" | Asimilados Honorarios | Assimilated Fees
      "10" | Asimilados acciones | Assimilated shares
      "11" | Asimilados otros | Assimilated others
      "12" | Jubilados o Pensionados | Retirees or Pensioners
      "13" | Indemnización o Separación | Compensation or Separation
      "99" | Otro Regimen | Other Regime

      ### Riesgo del Puesto

      (Risk of the Position)

      Key | Description (Spanish) | Description (English)
      :-----:| ----------- | -----------
      "1" | Clase I | Class I
      "2" | Clase II | Class II
      "3" | Clase III | Class III
      "4" | Clase IV | Class IV
      "5" | Clase V | Class V
      "99" | No aplica | Does not apply

      ### Periodicidad del Pago

      (Payment Frequency)

      Key | Description (Spanish) | Description (English)
      :-----:| ----------- | -----------
      "01" | Diario | Daily
      "02" | Semanal | Weekly
      "03" | Catorcenal | Biweekly
      "04" | Quincenal | Fortnightly
      "05" | Mensual | Monthly
      "06" | Bimestral | Bimonthly
      "07" | Unidad obra | Work unit
      "08" | Comisión | Commission
      "09" | Precio alzado | Fixed price
      "10" | Decenal | Ten-day
      "99" | Otra Periodicidad | Other Frequency

      ### Tipo de Percepción

      (Type of Earnings)

      Key | Description (Spanish) | Description (English)
      :-----:|:----------- |:-----------
      "001" | Sueldos, Salarios  Rayas y Jornales | Wages, Salaries, Stripes and Wages
      "002" | Gratificación Anual (Aguinaldo) | Annual Bonus (Aguinaldo)
      "003" | Participación de los Trabajadores en las Utilidades PTU | Participation of Workers in Profits PTU
      "004" | Reembolso de Gastos Médicos Dentales y Hospitalarios | Reimbursement of Medical, Dental and Hospital Expenses
      "005" | Fondo de Ahorro | Savings Fund
      "006" | Caja de ahorro | Savings box
      "009" | Contribuciones a Cargo del Trabajador Pagadas por el Patrón | Contributions to be paid by the Worker Paid by the Employer
      "010" | Premios por puntualidad | Punctuality Awards
      "011" | Prima de Seguro de vida | Life Insurance Premium
      "012" | Seguro de Gastos Médicos Mayores | Major Medical Expenses Insurance
      "013" | Cuotas Sindicales Pagadas por el Patrón | Union Dues Paid by the Employer
      "014" | Subsidios por incapacidad | Disability Subsidies
      "015" | Becas para trabajadores y/o hijos | Scholarships for workers and / or children
      "019" | Horas extra | Extra hours
      "020" | Prima dominical | Sunday premium
      "021" | Prima vacacional | Vacation premium
      "022" | Prima por antigüedad | Seniority premium
      "023" | Pagos por separación | Separation payments
      "024" | Seguro de retiro | Retirement insurance
      "025" | Indemnizaciones | Indemnities
      "026" | Reembolso por funeral | Funeral refund
      "027" | Cuotas de seguridad social pagadas por el patrón | Social security fees paid by the employer
      "028" | Comisiones | Commissions
      "029" | Vales de despensa | Food vouchers
      "030" | Vales de restaurante | Restaurant vouchers
      "031" | Vales de gasolina | Gasoline vouchers
      "032" | Vales de ropa | Clothing vouchers
      "033" | Ayuda para renta | Help for rent
      "034" | Ayuda para artículos escolares | Help for school supplies
      "035" | Ayuda para anteojos | Help for glasses
      "036" | Ayuda para transporte | Transportation help
      "037" | Ayuda para gastos de funeral | Help for funeral expenses
      "038" | Otros ingresos por salarios | Other income from salaries
      "039" | Jubilaciones, pensiones o haberes de retiro en una sola exhibición | Retirement, pensions or retirement benefits in a single exhibition
      "044" | Jubilaciones, pensiones o haberes de retiro en parcialidades | Retirement, pensions or retirement benefits in installments
      "045" | Ingresos en acciones o títulos valor que representan bienes | Income in shares or securities representing goods
      "046" | Ingresos asimilados a salarios | Income assimilated to salaries
      "047" | Alimentación diferentes a los establecidos en el Art 94 último párrafo LISR | Food other than those established in Art 94 last paragraph LISR
      "048" | Habitación | Room
      "049" | Premios por asistencia | Attendance awards
      "050" | Viáticos | Travel allowances
      "051" | Pagos por gratificaciones, primas, compensaciones, recompensas u otros en parcialidades | Payments for bonuses, bonuses, compensations, rewards or others in installments
      "052" | Pagos por jubilación en parcialidades derivados de una resolución judicial | Retirement payments in installments derived from a judicial resolution
      "053" | Pagos por jubilación en una sola exhibición derivados de la ejecución de una resolución judicial | Retirement payments in a single exhibition derived from the execution of a judicial resolution

      ### Tipo de Horas

      (Type of Hours)

      Key | Description (Spanish) | Description (English)
      :-----:| ----------- | -----------
      "01" | Dobles | Doubles
      "02" | Triples | Triples
      "03" | Simples | Singles

      ### Tipo de Deducción

      (Type of Deduction)

      Key | Description (Spanish) | Description (English)
      :-----:|:----------- |:-----------
      "001" | Seguridad social | Social security
      "002" | ISR | ISR (Income Tax)
      "003" | Aportaciones a retiro, cesantía en edad avanzada y vejez. | Contributions to retirement, old age and old age.
      "004" | Otros | Others
      "005" | Aportaciones a Fondo de vivienda | Contributions to Housing Fund
      "006" | Descuento por incapacidad | Disability discount
      "007" | Pensión alimenticia | Alimony
      "008" | Renta | Rent
      "009" | Préstamos provenientes del Fondo Nacional de la Vivienda para los Trabajadores | Loans from the National Housing Fund for Workers
      "010" | Pago por crédito de vivienda | Payment for housing credit
      "011" | Pago de abonos INFONACOT | Payment of INFONACOT installments
      "012" | Anticipo de salarios | Salary advance
      "013" | Pagos hechos con exceso al trabajador | Payments made in excess to the worker
      "014" | Errores | Errors
      "015" | Pérdidas | Losses
      "016" | Averías | Breakdowns
      "017" | Adquisición de artículos producidos por la empresa o establecimiento | Acquisition of items produced by the company or establishment
      "018" | Cuotas para la constitución y fomento de sociedades cooperativas y de cajas de ahorro | Fees for the constitution and promotion of cooperative societies and savings banks
      "019" | Cuotas sindicales | Union fees
      "020" | Ausencia (Ausentismo) | Absence (Absenteeism)
      "021" | Cuotas obrero patronales | Worker-employer fees
      "022" | Impuestos Locales | Local Taxes
      "023" | Aportaciones voluntarias al SAR | Voluntary contributions to the SAR
      "024" | Ajuste en Gratificación Anual (Aguinaldo) Exento | Adjustment in Annual Bonus (Aguinaldo) Exempt
      "025" | Ajuste en Gratificación Anual (Aguinaldo) Gravado | Adjustment in Annual Bonus (Aguinaldo) Taxed
      "026" | Ajuste en Participación de los Trabajadores en las Utilidades PTU Exento | Adjustment in Workers' Participation in Profits PTU Exempt
      "027" | Ajuste en Participación de los Trabajadores en las Utilidades PTU Gravado | Adjustment in Workers' Participation in Profits PTU Taxed
      "028" | Ajuste en Reembolso de Gastos Médicos Dentales y Hospitalarios Exento | Adjustment in Reimbursement of Medical, Dental and Hospital Expenses Exempt
      "029" | Ajuste en Fondo de ahorro Exento | Adjustment in Savings Fund Exempt
      "030" | Ajuste en Caja de ahorro Exento | Adjustment in Savings Box Exempt
      "031" | Ajuste en Contribuciones a Cargo del Trabajador Pagadas por el Patrón Exento | Adjustment in Contributions to be paid by the Worker Paid by the Employer Exempt
      "032" | Ajuste en Premios por puntualidad Gravado | Adjustment in Punctuality Awards Taxed
      "033" | Ajuste en Prima de Seguro de vida Exento | Adjustment in Life Insurance Premium Exempt
      "034" | Ajuste en Seguro de Gastos Médicos Mayores Exento | Adjustment in Major Medical Expenses Insurance Exempt
      "035" | Ajuste en Cuotas Sindicales Pagadas por el Patrón Exento | Adjustment in Union Dues Paid by the Employer Exempt
      "036" | Ajuste en Subsidios por incapacidad Exento | Adjustment in Disability Subsidies Exempt
      "037" | Ajuste en Becas para trabajadores y/o hijos Exento | Adjustment in Scholarships for workers and / or children Exempt
      "038" | Ajuste en Horas extra Exento | Adjustment in Extra hours Exempt
      "039" | Ajuste en Horas extra Gravado | Adjustment in Extra hours Taxed
      "040" | Ajuste en Prima dominical Exento | Adjustment in Sunday premium Exempt
      "041" | Ajuste en Prima dominical Gravado | Adjustment in Sunday premium Taxed
      "042" | Ajuste en Prima vacacional Exento | Adjustment in Vacation premium Exempt
      "043" | Ajuste en Prima vacacional Gravado | Adjustment in Vacation premium Taxed
      "044" | Ajuste en Prima por antigüedad Exento | Adjustment in Seniority premium Exempt
      "045" | Ajuste en Prima por antigüedad Gravado | Adjustment in Seniority premium Taxed
      "046" | Ajuste en Pagos por separación Exento | Adjustment in Separation payments Exempt
      "047" | Ajuste en Pagos por separación Gravado | Adjustment in Separation payments Taxed
      "048" | Ajuste en Seguro de retiro Exento | Adjustment in Retirement insurance Exempt
      "049" | Ajuste en Indemnizaciones Exento | Adjustment in Indemnities Exempt
      "050" | Ajuste en Indemnizaciones Gravado | Adjustment in Indemnities Taxed
      "051" | Ajuste en Reembolso por funeral Exento | Adjustment in Funeral refund Exempt
      "052" | Ajuste en Cuotas de seguridad social pagadas por el patrón Exento | Adjustment in Social security fees paid by the employer Exempt
      "053" | Ajuste en Comisiones Gravado | Adjustment in Commissions Taxed
      "054" | Ajuste en Vales de despensa Exento | Adjustment in Food vouchers Exempt
      "055" | Ajuste en Vales de restaurante Exento | Adjustment in Restaurant vouchers Exempt
      "056" | Ajuste en Vales de gasolina Exento | Adjustment in Gasoline vouchers Exempt
      "057" | Ajuste en Vales de ropa Exento | Adjustment in Clothing vouchers Exempt
      "058" | Ajuste en Ayuda para renta Exento | Adjustment in Help for rent Exempt
      "059" | Ajuste en Ayuda para artículos escolares Exento | Adjustment in Help for school supplies Exempt
      "060" | Ajuste en Ayuda para anteojos Exento | Adjustment in Help for glasses Exempt
      "061" | Ajuste en Ayuda para transporte Exento | Adjustment in Transportation help Exempt
      "062" | Ajuste en Ayuda para gastos de funeral Exento | Adjustment in Help for funeral expenses Exempt
      "063" | Ajuste en Otros ingresos por salarios Exento | Adjustment in Other income from salaries Exempt
      "064" | Ajuste en Otros ingresos por salarios Gravado | Adjustment in Other income from salaries Taxed
      "065" | Ajuste en Jubilaciones, pensiones o haberes de retiro en una sola exhibición Exento | Adjustment in Retirement, pensions or retirement benefits in a single exhibition Exempt
      "066" | Ajuste en Jubilaciones, pensiones o haberes de retiro en una sola exhibición Gravado | Adjustment in Retirement, pensions or retirement benefits in a single exhibition Taxed
      "067" | Ajuste en Pagos por separación Acumulable | Adjustment in Separation payments Accumulable
      "068" | Ajuste en Pagos por separación No acumulable | Adjustment in Separation payments Non-accumulable
      "069" | Ajuste en Jubilaciones, pensiones o haberes de retiro en parcialidades Exento | Adjustment in Retirement, pensions or retirement benefits in installments Exempt
      "070" | Ajuste en Jubilaciones, pensiones o haberes de retiro en parcialidades Gravado | Adjustment in Retirement, pensions or retirement benefits in installments Taxed
      "071" | Ajuste en Subsidio para el empleo (efectivamente entregado al trabajador) | Adjustment in Employment subsidy (effectively delivered to the worker)
      "072" | Ajuste en Ingresos en acciones o títulos valor que representan bienes Exento | Adjustment in Income in shares or securities representing goods Exempt
      "073" | Ajuste en Ingresos en acciones o títulos valor que representan bienes Gravado | Adjustment in Income in shares or securities representing goods Taxed
      "074" | Ajuste en Alimentación Exento | Adjustment in Food Exempt
      "075" | Ajuste en Alimentación Gravado | Adjustment in Food Taxed
      "076" | Ajuste en Habitación Exento | Adjustment in Room Exempt
      "077" | Ajuste en Habitación Gravado | Adjustment in Room Taxed
      "078" | Ajuste en Premios por asistencia Exento | Adjustment in Attendance awards Exempt
      "079" | Ajuste en Pagos distintos a los listados Exento | Adjustment in Payments other than those listed Exempt
      "080" | Ajuste en Viáticos gravados | Adjustment in Taxable travel expenses
      "081" | Ajuste en Viáticos (entregados al trabajador) | Adjustment in Travel expenses (delivered to the worker)
      "082" | Ajuste en Fondo de ahorro Gravado | Adjustment in Savings Fund Taxed
      "083" | Ajuste en Caja de ahorro Gravado | Adjustment in Savings Box Taxed
      "084" | Ajuste en Prima de Seguro de vida Gravado | Adjustment in Life Insurance Premium Taxed
      "085" | Ajuste en Seguro de Gastos Médicos Mayores Gravado | Adjustment in Major Medical Expenses Insurance Taxed
      "086" | Ajuste en Subsidios por incapacidad Gravado | Adjustment in Disability Subsidies Taxed
      "087" | Ajuste en Becas para trabajadores y/o hijos Gravado | Adjustment in Scholarships for workers and / or children Taxed
      "088" | Ajuste en Seguro de retiro Gravado | Adjustment in Retirement insurance Taxed
      "089" | Ajuste en Vales de despensa Gravado | Adjustment in Food vouchers Taxed
      "090" | Ajuste en Vales de restaurante Gravado | Adjustment in Restaurant vouchers Taxed
      "091" | Ajuste en Vales de gasolina Gravado | Adjustment in Gasoline vouchers Taxed
      "092" | Ajuste en Vales de ropa Gravado | Adjustment in Clothing vouchers Taxed
      "093" | Ajuste en Ayuda para renta Gravado | Adjustment in Help for rent Taxed
      "094" | Ajuste en Ayuda para artículos escolares Gravado | Adjustment in Help for school supplies Taxed
      "095" | Ajuste en Ayuda para anteojos Gravado | Adjustment in Help for glasses Taxed
      "096" | Ajuste en Ayuda para transporte Gravado | Adjustment in Transportation help Taxed
      "097" | Ajuste en Ayuda para gastos de funeral Gravado | Adjustment in Help for funeral expenses Taxed
      "098" | Ajuste a ingresos asimilados a salarios gravados | Adjustment to income assimilated to taxed salaries
      "099" | Ajuste a ingresos por sueldos y salarios gravados | Adjustment to income for taxed wages and salaries
      "100" | Ajuste en Viáticos exentos | Adjustment in Exempt travel expenses
      "101" | ISR Retenido de ejercicio anterior | ISR Retained from previous exercise
      "102" | Ajuste a pagos por gratificaciones, primas, compensaciones, recompensas u otros gravados | Adjustment to payments for bonuses, bonuses, compensations, rewards or others taxed
      "103" | Ajuste a pagos en parcialidades derivados de una resolución judicial gravados | Adjustment to payments in installments derived from a judicial resolution taxed
      "104" | Ajuste a pagos en parcialidades derivados de una resolución judicial exentos | Adjustment to payments in installments derived from a judicial resolution exempt
      "105" | Ajuste a pagos en una sola exhibición derivados de una resolución judicial gravados | Adjustment to payments in a single exhibition derived from a judicial resolution taxed
      "106" | Ajuste a pagos en una sola exhibición derivados de una resolución judicial exentos | Adjustment to payments in a single exhibition derived from a judicial resolution exempt
      "107" | Ajuste al Subsidio Causado | Adjustment to Accrued Subsidy

      ### Tipo de Otro Pago

      (Type of Other Payment)

      Key | Description (Spanish) | Description (English)
      :-----:|:----------- |:-----------
      "001" | Reintegro de ISR pagado en exceso. | Refund of ISR paid in excess.
      "002" | Subsidio para el empleo (efectivamente entregado al trabajador). | Employment subsidy (effectively delivered to the worker).
      "003" | Viáticos (entregados al trabajador). | Travel expenses (delivered to the worker).
      "004" | Aplicación de saldo a favor por compensación anual. | Application of balance in favor by annual compensation.
      "005" | Reintegro de ISR retenido en exceso de ejercicio anterior | Refund of ISR retained in excess of previous exercise
      "006" | Alimentos en bienes (Servicios de comedor y comida). | Food in goods (Dining and food services).
      "007" | ISR ajustado por subsidio. | ISR adjusted by subsidy.
      "008" | Subsidio efectivamente entregado que no correspondía. | Subsidy effectively delivered that did not correspond.
      "009" | Reembolso de descuentos efectuados para el crédito de vivienda. | Refund of discounts made for housing credit.
      "999" | Pagos distintos a los listados. | Payments other than those listed.

      ### Tipo de Incapacidad

      (Type of Disability)

      Key | Description (Spanish) | Description (English)
      :-----:|:----------- |:-----------
      "01" | Riesgo de trabajo. | Work risk.
      "02" | Enfermedad en general. | General illness.
      "03" | Maternidad. | Maternity.
      "04" | Licencia por cuidados médicos de hijos diagnosticados con cáncer. | License for medical care of children diagnosed with cancer.

      ### Clave de retención

      (Retention Key)

      Key | Description (Spanish) | Description (English)
      :-----:|:----------- |:-----------
      "01" | Servicios profesionales. | Professional services.
      "02" | Regalías por derechos de autor. | Royalties for copyright.
      "03" | Autotransporte terrestre de carga. | Land cargo transportation.
      "04" | Servicios prestados por comisionistas. | Services provided by commission agents.
      "05" | Arrendamiento. | Lease.
      "06" | Enajenación de acciones. | Sale of shares.
      "07" | Enajenación de bienes objeto de la LIEPS, a través de mediadores, agentes, representantes, corredores, consignatarios o distribuidores. | Sale of goods subject to LIEPS, through mediators, agents, representatives, brokers, consignees or distributors.
      "08" | Enajenación de bienes inmuebles consignada en escritura pública. | Sale of real estate consigned in a public deed.
      "09" | Enajenación de otros bienes, no consignada en escritura pública. | Sale of other goods, not consigned in a public deed.
      "10" | Adquisición de desperdicios industriales. | Acquisition of industrial waste.
      "11" | Adquisición de bienes consignada en escritura pública. | Acquisition of goods consigned in a public deed.
      "12" | Adquisición de otros bienes, no consignada en escritura pública. | Acquisition of other goods, not consigned in a public deed.
      "13" | Otros retiros de AFORE. | Other withdrawals from AFORE.
      "14" | Dividendos o utilidades distribuidas. | Dividends or distributed profits.
      "15" | Remanente distribuible. | Distributable remnant.
      "16" | Intereses. | Interests.
      "17" | Arrendamiento en fideicomiso. | Lease in trust.
      "18" | Pagos realizados a favor de residentes en el extranjero. | Payments made in favor of residents abroad.
      "19" | Enajenación de acciones u operaciones en bolsa de valores. | Sale of shares or operations on the stock exchange.
      "20" | Obtención de premios. | Obtaining prizes.
      "21" | Fideicomisos que no realizan actividades empresariales. | Trusts that do not carry out business activities.
      "22" | Planes personales de retiro. | Personal retirement plans.
      "23" | Intereses reales deducibles por créditos hipotecarios. | Real interests deductible for mortgage loans.
      "24" | Operaciones Financieras Derivadas de Capital. | Capital Derivative Financial Operations.
      "25" | Otro tipo de retenciones. | Other types of retentions.
      "26" | Servicios mediante Plataformas Tecnológicas | Services through Technological Platforms

      ### Validez de obligaciones

      (Validity of obligations)

      | Validity | Exempt IVA | Rate 0% | Rate 8% Noth Border | Rate 8% South Border | Rate 16%
      |:-------:|:----------:|:-------:|:------------------------:|:----------------------:|:--------
      | "0" <td colspan="5">The taxpayer is not authorized to issue invoices</td>
      | "1" | Yes | Yes | No | No | Yes
      | "2" | Yes | Yes | Yes | No | Yes
      | "3" | Yes | Yes | No | Yes | Yes
      | "4" | Yes | Yes | Yes | Yes | Yes

      #### Situación del contribuyente

      (Taxpayer situation)

      | Value | Description
      |:-----:|:-----------|:-----------
      | "Previsto" (Announced) | The taxpayer receives a letter via tax mailbox or notifications by means of a notice board, in which his situation is established and he is asked to demonstrate the materiality of the invoiced operations.
      | "Presunto" (Pressumed) | The notified taxpayer is considered presumed when, on its website, the authority issues its data within the list of EFOS, that is, in the SAT's blacklists.
      | "Desvirtuado" (Disproved) | In this case, the taxpayer accused of non-existent operations has already provided the authority with the documentation and information necessary to refute the facts that led to the notification.
      | "Definitivo" (Definitive) | In this case, the EFO did not respond to the authority's call within 15 days, from the last notification; or could not refute the imputed facts.
      | "Sentencia favorable" (Favorable sentence) | Taxpayers EFOS "definitive" who are dissatisfied and file some means of defense, which concludes in their favor, are classified in the list of "favorable judgment".
      | "EFOS de información suprimida" (Redacted information EFOS) | In this category, the EFOS "presumed" and "definitive" are found that presented some means of defense (amparo, nullity trial) and, therefore, a judge ordered to suppress their data from the list, without being eliminated.

  - name: carta_porte_keys
    x-displayName: Carta Porte catalogs
    description: |
      Specific catalogs for the Carta Porte 3.1 complement. Useful to validate and build complement values. Each table lists the Key, the original Spanish description used officially and an English translation for reference.

      ### Customs Regimes (c_RegimenAduanero)

      Key | Description (Spanish) | Description (English)
      :--:|:----------------------|:---------------------
      IMD | Importación definitiva | Definitive import
      EXD | Exportación definitiva | Definitive export
      ITR | Tránsito interno de mercancías | Internal transit of goods
      ITE | Tránsito interno de mercancías para exportación | Internal transit of goods for export
      ETR | Tránsito externo de mercancías | External transit of goods
      ETE | Tránsito externo de mercancías para exportación | External transit of goods for export
      DFI | Depósito fiscal | Fiscal warehouse
      RFE | Recinto fiscalizado estratégico | Strategic fiscal enclosure
      RFS | Recinto fiscalizado | Fiscal enclosure
      TRA | Tránsito aduanero | Customs transit

      ### Transport Mode (c_MedioTransporte)

      Key | Description (Spanish) | Description (English)
      :--:|:----------------------|:---------------------
      01 | Autotransporte | Road transport
      02 | Transporte Marítimo | Maritime transport
      03 | Transporte Aéreo | Air transport
      04 | Transporte Ferroviario | Rail transport
      05 | Otro | Other

      ### Station Type (c_TipoEstacion)

      Key | Description (Spanish) | Description (English)
      :--:|:----------------------|:---------------------
      01 | Origen Nacional | National origin
      02 | Intermedia | Intermediate
      03 | Destino Final Nacional | National final destination

      ### SCT Permits (c_PermisoSCT)

      Key | Description (Spanish) | Description (English)
      :----:|:---------------------|:---------------------
      TPAF01 | Autotransporte Federal de carga general. | Federal motor transport of general cargo.
      TPAF02 | Transporte privado de carga. | Private cargo transport.
      TPAF03 | Autotransporte Federal de Carga Especializada de materiales y residuos peligrosos. | Federal specialized transport of hazardous materials and waste.
      TPAF04 | Transporte de automóviles sin rodar en vehículo tipo góndola. | Transport of automobiles (not driven) on gondola-type vehicle.
      TPAF05 | Transporte de carga de gran peso y/o volumen de hasta 90 toneladas. | Heavy and/or oversized cargo transport up to 90 tons.
      TPAF06 | Transporte de carga especializada de gran peso y/o volumen de más 90 toneladas. | Specialized heavy and/or oversized cargo transport over 90 tons.
      TPAF07 | Transporte Privado de materiales y residuos peligrosos. | Private transport of hazardous materials and waste.
      TPAF08 | Autotransporte internacional de carga de largo recorrido. | International long‑haul cargo transport.
      TPAF09 | Autotransporte internacional de carga especializada de materiales y residuos peligrosos de largo recorrido. | International long‑haul specialized hazardous materials transport.
      TPAF10 | Autotransporte Federal de Carga General cuyo ámbito de aplicación comprende la franja fronteriza con Estados Unidos. | Federal general cargo transport within US border zone.
      TPAF11 | Autotransporte Federal de Carga Especializada cuyo ámbito de aplicación comprende la franja fronteriza con Estados Unidos. | Federal specialized cargo transport within US border zone.
      TPAF12 | Servicio auxiliar de arrastre en las vías generales de comunicación. | Auxiliary towing service on federal roads.
      TPAF13 | Servicio auxiliar de servicios de arrastre, arrastre y salvamento, y depósito de vehículos en las vías generales de comunicación. | Auxiliary towing, recovery and vehicle storage service.
      TPAF14 | Servicio de paquetería y mensajería en las vías generales de comunicación. | Parcel and courier service.
      TPAF15 | Transporte especial para el tránsito de grúas industriales con peso máximo de 90 toneladas. | Special transit for industrial cranes up to 90 tons.
      TPAF16 | Servicio federal para empresas arrendadoras servicio público federal. | Federal public service for rental companies.
      TPAF17 | Empresas trasladistas de vehículos nuevos. | New vehicle relocation companies.
      TPAF18 | Empresas fabricantes o distribuidoras de vehículos nuevos. | New vehicle manufacturers or distributors.
      TPAF19 | Autorización expresa para circular ... tractocamión doblemente articulado. | Express authorization for double‑articulated tractor‑trailers.
      TPAF20 | Autotransporte Federal de Carga Especializada de fondos y valores. | Federal specialized transport of funds and valuables.
      TPTM01 | Permiso temporal para navegación de cabotaje | Temporary cabotage navigation permit.
      TPTA01 | Concesión/ autorización servicio regular nacional/internacional empresas mexicanas | Regular national/international air service concession (Mexican companies).
      TPTA02 | Permiso servicio aéreo regular empresas extranjeras | Regular air service permit (foreign companies).
      TPTA03 | Permiso servicio nacional e internacional no regular de fletamento | Charter (non‑regular) national/international air service permit.
      TPTA04 | Permiso servicio nacional e internacional no regular de taxi aéreo | Non‑regular national/international air taxi permit.
      TPXX00 | Permiso no contemplado en el catálogo. | Permit not listed in catalog.

      ### COFEPRIS Sector (c_SectorCOFEPRIS)

      Key | Description (Spanish) | Description (English)
      :--:|:----------------------|:---------------------
      01 | Medicamento | Medicine
      02 | Precursores y químicos de uso dual | Precursors and dual‑use chemicals
      03 | Psicotrópicos y estupefacientes | Psychotropic and narcotic substances
      04 | Sustancias tóxicas | Toxic substances
      05 | Plaguicidas y fertilizantes | Pesticides and fertilizers

      ### Pharmaceutical Form (c_FormaFarmacéutica)

      Key | Description (Spanish) | Description (English)
      :--:|:----------------------|:---------------------
      01 | Tableta | Tablet
      02 | Cápsulas | Capsules
      03 | Comprimidos | Compressed tablets
      04 | Grageas | Sugar‑coated pills
      05 | Suspensión | Suspension
      06 | Solución | Solution
      07 | Emulsión | Emulsion
      08 | Jarabe | Syrup
      09 | Inyectable | Injectable
      10 | Crema | Cream
      11 | Ungüento | Ointment
      12 | Aerosol | Aerosol
      13 | Gas medicinal | Medicinal gas
      14 | Gel | Gel
      15 | Implante | Implant
      16 | Óvulo | Ovule
      17 | Parche | Patch
      18 | Pasta | Paste
      19 | Polvo | Powder
      20 | Supositorio | Suppository

      ### Special Conditions (c_CondicionesEspeciales)

      Key | Description (Spanish) | Description (English)
      :--:|:----------------------|:---------------------
      01 | Congelados | Frozen
      02 | Refrigerados | Refrigerated
      03 | Temperatura controlada | Controlled temperature
      04 | Temperatura ambiente | Room temperature

      ### Material Type (c_TipoMateria)

      Key | Description (Spanish) | Description (English)
      :--:|:----------------------|:---------------------
      01 | Materia prima | Raw material
      02 | Materia procesada | Processed material
      03 | Materia terminada (producto terminado) | Finished material (final product)
      04 | Materia para la industria manufacturera | Material for manufacturing industry
      05 | Otra | Other

      ### Customs Document Type (c_TipoDocumentoAduanero)

      Key | Description (Spanish) | Description (English)
      :--:|:----------------------|:---------------------
      01 | Pedimento | Customs entry (Pedimento)
      02 | Autorización de importación temporal | Temporary import authorization
      03 | Autorización de importación temporal de embarcaciones | Temporary vessel import authorization
      04 | Autorización de importación temporal mercancías p/ mantenimiento y reparación | Temp. import auth. for goods for maintenance/repair
      05 | Autorización importación vehículos especializados | Import auth. specialized transformed vehicles
      06 | Aviso de exportación temporal | Temporary export notice
      07 | Aviso traslado mercancías IMMEX/RFE/Operador Autorizado | Goods transfer notice IMMEX/RFE/Authorized Operator
      08 | Aviso traslado autopartes franja fronteriza | Auto parts transfer notice (border region)
      09 | Constancia importación temporal/retorno/transferencia contenedores | Constancy temp import/return/transfer of containers
      10 | Constancia de transferencia de mercancías | Goods transfer constancy
      11 | Autorización donación mercancías Fisco Federal extranjero | Donation authorization (goods abroad) to Federal Treasury
      12 | Cuaderno ATA | ATA carnet
      13 | Listas de intercambio | Exchange lists
      14 | Permiso de Importación Temporal | Temporary import permit
      15 | Permiso importación temporal casa rodante | Temporary import permit (RV)
      16 | Permiso importación temporal embarcaciones | Temporary import permit (vessels)
      17 | Solicitud donación mercancías emergencias/desastres | Donation request (emergencies/disasters)
      18 | Aviso de consolidado | Consolidated notice
      19 | Aviso de cruce de mercancias | Goods crossing notice
      20 | Otro | Other

      ### Transport Part Type (c_ParteTransporte)

      Key | Description (Spanish) | Description (English)
      :--:|:----------------------|:---------------------
      PT01 | Camión unitario | Single unit truck
      PT02 | Camión | Truck
      PT03 | Tractocamión | Tractor truck
      PT04 | Remolque | Trailer
      PT05 | Semirremolque | Semi‑trailer
      PT06 | Vehículo ligero de carga | Light cargo vehicle
      PT07 | Grúa | Crane
      PT08 | Aeronave | Aircraft
      PT09 | Barco o buque | Ship or vessel
      PT10 | Carro o vagón | Railcar or wagon
      PT11 | Contenedor | Container
      PT12 | Locomotora | Locomotive

      ### Transport Figure (c_FiguraTransporte)

      Key | Description (Spanish) | Description (English)
      :--:|:----------------------|:---------------------
      01 | Operador | Operator
      02 | Propietario | Owner
      03 | Arrendador | Lessor
      04 | Notificado | Notified party
      05 | Integrante de Coordinados | Coordinated group member

      ### ISTMO Registry (c_RegistroISTMO)

      Key | Description (Spanish) | Description (English)
      :--:|:----------------------|:---------------------
      01 | Coatzacoalcos I | Coatzacoalcos I
      02 | Coatzacoalcos II | Coatzacoalcos II
      03 | Texistepec | Texistepec
      04 | San Juan Evangelista | San Juan Evangelista
      05 | Salina Cruz | Salina Cruz
      06 | San Blas Atempa | San Blas Atempa

      ### Cargo Type Key (c_ClaveTipoCarga)

      Key | Description (Spanish) | Description (English)
      :--:|:----------------------|:---------------------
      CGS | Carga General Suelta | General loose cargo
      CGC | Carga General Contenerizada | General containerized cargo
      GMN | Gran Mineral | Bulk mineral
      GAG | Granel Agrícola | Agricultural bulk
      OFL | Otros Fluidos | Other fluids
      PYD | Petróleo y Derivados | Oil and derivatives

      ### Maritime Configuration (c_ConfiguracionMaritima)

      Key | Description (Spanish) | Description (English)
      :--:|:----------------------|:---------------------
      B01 | Abastecedor | Supplier vessel
      B02 | Barcaza | Barge
      B03 | Granelero | Bulk carrier
      B04 | Porta Contenedor | Container ship
      B05 | Draga | Dredger
      B06 | Pesquero | Fishing vessel
      B07 | Carga General | General cargo
      B08 | Quimiqueros | Chemical tanker
      B09 | Transbordadores | Ferry
      B10 | Carga RoRo | Ro-Ro cargo
      B11 | Investigación | Research vessel
      B12 | Tanquero | Tanker
      B13 | Gasero | Gas carrier
      B14 | Remolcador | Tug
      B15 | Extraordinaria especialización | Extraordinary specialization

      ### Rail Traffic Type (c_TraficoFerroviario)

      Key | Description (Spanish) | Description (English)
      :--:|:----------------------|:---------------------
      TT01 | Tráfico local | Local traffic
      TT02 | Tráfico interlineal remitido | Forwarded interline traffic
      TT03 | Tráfico interlineal recibido | Received interline traffic
      TT04 | Tráfico interlineal en tránsito | Interline traffic in transit

      ### Container Type (c_TipoContenedor)

      Key | Description (Spanish) | Description (English)
      :--:|:----------------------|:---------------------
      TC01 | Contenedor de 6.1 Mts de longitud | 20' container (6.1 m length)
      TC02 | Contenedor de 12.2 Mts de longitud | 40' container (12.2 m length)
      TC03 | Contenedor de 13.7 Mts de longitud | 45' container (13.7 m length)
      TC04 | Contenedor de 14.6 Mts de longitud | 48' container (14.6 m length)
      TC05 | Contenedor de 16.1 Mts de longitud | 53' container (16.1 m length)

      ### Maritime Container Type (c_TipoContenedorMaritimo)

      Key | Description (Spanish) | Description (English)
      :--:|:----------------------|:---------------------
      CM001 | Contenedores refrigerados de 20FT | 20FT refrigerated containers
      CM002 | Contenedores refrigerados de 40FT | 40FT refrigerated containers
      CM003 | Contenedores estándar de 8FT | 8FT standard containers
      CM004 | Contenedores estándar de 10FT | 10FT standard containers
      CM005 | Contenedores estándar de 20FT | 20FT standard containers
      CM006 | Contenedores estándar de 40FT | 40FT standard containers
      CM007 | Contenedores Open Side | Open side containers
      CM008 | Contenedor Isotanque | ISO tank container
      CM009 | Contenedor flat racks | Flat rack container
      CM010 | Buque tanque | Tanker ship
      CM011 | Ferri | Ferry
      CM012 | Ferri – Turístico y vacíos | Tourist / empty ferry

      ### Rail Car Type (c_TipoCarroFerroviario)

      Key | Description (Spanish) | Description (English)
      :--:|:----------------------|:---------------------
      TC01 | Furgón | Boxcar
      TC02 | Góndola | Gondola
      TC03 | Tolva | Hopper
      TC04 | Tanque | Tank car
      TC05 | Plataforma Intermodal | Intermodal platform car
      TC06 | Plataforma de Uso General | General purpose flatcar
      TC07 | Plataforma Automotriz | Automotive platform car
      TC08 | Locomotora | Locomotive
      TC09 | Carro Especial | Special car
      TC10 | Pasajeros | Passenger car
      TC11 | Mantenimiento de Vía | Track maintenance equipment

      ### Rail Service Type (c_TipoServicioFerroviario)

      Key | Description (Spanish) | Description (English)
      :--:|:----------------------|:---------------------
      TS01 | Carros Ferroviarios | Rail cars
      TS02 | Carros Ferroviarios intermodal | Intermodal rail cars
      TS03 | Tren unitario de carros ferroviarios | Unit train (rail cars)
      TS04 | Tren unitario Intermodal | Unit train (intermodal)

  - name: customer_model
    x-displayName: Customer object
    description: |
      <SchemaDefinition schemaRef="#/components/schemas/Customer" />
  - name: product_model
    x-displayName: Product object
    description: |
      <SchemaDefinition schemaRef="#/components/schemas/Product" />
  - name: invoice_model
    x-displayName: Invoice object
    description: |
      <SchemaDefinition schemaRef="#/components/schemas/Invoice" />
  - name: receipt_model
    x-displayName: Receipt object
    description: |
      <SchemaDefinition schemaRef="#/components/schemas/Receipt" />
  - name: retention_model
    x-displayName: Retention object
    description: |
      <SchemaDefinition schemaRef="#/components/schemas/Retention" />
  - name: organization_model
    x-displayName: Organization object
    description: |
      <SchemaDefinition schemaRef="#/components/schemas/Organization" />

x-tagGroups:
  - name: Resources
    tags:
      - customer
      - product
      - invoice
      - receipt
      - retention
      - organization
  - name: Tools
    tags:
      - tools
      - sat_keys
      - carta_porte_keys
  - name: Webhooks
    tags:
      - events
      - webhooks
  - name: Models
    tags:
      - customer_model
      - product_model
      - invoice_model
      - receipt_model
      - retention_model
      - organization_model
 

paths:
  /catalogs/cartaporte/3.1/air-transport-codes:
    get:
      tags:
        - carta_porte_keys
      summary: Search air transport codes
      description: |
        Returns airline codes catalog entries that match the query. Intended for Carta Porte complement.
      x-codeSamples:
        - lang: Bash
          label: cURL
          source: |
            curl "https://www.facturapi.io/v2/catalogs/cartaporte/3.1/air-transport-codes" \
              -G \
              -H "Authorization: Bearer sk_test_API_KEY" \
              -d "q=AMX" \
              -d "page=0" \
              -d "limit=10"
        - lang: JavaScript
          label: Node.js
          source: |
            import Facturapi from 'facturapi'
            const facturapi = new Facturapi('sk_test_API_KEY')
            const result = await facturapi.cartaPorteCatalogs.searchAirTransportCodes({ q: 'AMX', page: 0, limit: 10 })
        - lang: PHP
          label: PHP
          source: |
            $facturapi = new Facturapi("sk_test_API_KEY");
            $result = $facturapi->CartaPorteCatalogs->searchAirTransportCodes([
              "q" => "AMX",
              "page" => 0,
              "limit" => 10
            ]);
        - lang: csharp
          label: .NET
          source: |
            var facturapi = new FacturapiClient("sk_test_API_KEY");
            var result = await facturapi.CartaporteCatalog.SearchAirTransportCodes(new Dictionary<string, object>
            {
              ["q"] = "AMX",
              ["page"] = 0,
              ["limit"] = 10
            });
      parameters:
        - in: query
          name: q
          schema:
            type: string
          required: true
          description: Prefix to match against `key`, `airline_name` or `icao_designator`.
        - in: query
          name: page
          schema:
            type: integer
            minimum: 0
          required: false
        - in: query
          name: limit
          schema:
            type: integer
            minimum: 1
          required: false
      responses:
        '200':
          description: Successful search
          content:
            application/json:
              schema:
                type: object
                properties:
                  page:
                    type: integer
                  total_pages:
                    type: integer
                  total_results:
                    type: integer
                  data:
                    type: array
                    items:
                      type: object
                      properties:
                        key:
                          type: string
                        description:
                          type: string

  /catalogs/cartaporte/31/transport-configs:
    get:
      tags:
        - carta_porte_keys
      summary: Search auto transport configurations
      description: Returns transport configuration entries (e.g., truck/semitrailer setups).
      x-codeSamples:
        - lang: Bash
          label: cURL
          source: |
            curl "https://www.facturapi.io/v2/catalogs/cartaporte/31/transport-configs" \
              -G \
              -H "Authorization: Bearer sk_test_API_KEY" \
              -d "q=CC" \
              -d "page=0" \
              -d "limit=10"
        - lang: JavaScript
          label: Node.js
          source: |
            import Facturapi from 'facturapi'
            const facturapi = new Facturapi('sk_test_API_KEY')
            const result = await facturapi.cartaPorteCatalogs.searchTransportConfigs({ q: 'CC', page: 0, limit: 10 })
        - lang: PHP
          label: PHP
          source: |
            $facturapi = new Facturapi("sk_test_API_KEY");
            $result = $facturapi->CartaPorteCatalogs->searchTransportConfigs([
              "q" => "CC",
              "page" => 0,
              "limit" => 10
            ]);
        - lang: csharp
          label: .NET
          source: |
            var facturapi = new FacturapiClient("sk_test_API_KEY");
            var result = await facturapi.CartaporteCatalog.SearchTransportConfigs(new Dictionary<string, object>
            {
              ["q"] = "CC",
              ["page"] = 0,
              ["limit"] = 10
            });
      parameters:
        - in: query
          name: q
          schema:
            type: string
          required: true
          description: Prefix to match against `key` or `description`.
        - in: query
          name: page
          schema:
            type: integer
            minimum: 0
        - in: query
          name: limit
          schema:
            type: integer
            minimum: 1
      responses:
        '200':
          description: Successful search
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SearchKeyDescriptionResult'

  /catalogs/cartaporte/31/rights-of-passage:
    get:
      tags:
        - carta_porte_keys
      summary: Search rights of passage
      description: Returns rail rights of passage matching the query.
      x-codeSamples:
        - lang: Bash
          label: cURL
          source: |
            curl "https://www.facturapi.io/v2/catalogs/cartaporte/31/rights-of-passage" \
              -G \
              -H "Authorization: Bearer sk_test_API_KEY" \
              -d "q=MX-001" \
              -d "page=0" \
              -d "limit=10"
        - lang: JavaScript
          label: Node.js
          source: |
            import Facturapi from 'facturapi'
            const facturapi = new Facturapi('sk_test_API_KEY')
            const result = await facturapi.cartaPorteCatalogs.searchRightsOfPassage({ q: 'MX-001', page: 0, limit: 10 })
        - lang: PHP
          label: PHP
          source: |
            $facturapi = new Facturapi("sk_test_API_KEY");
            $result = $facturapi->CartaPorteCatalogs->searchRightsOfPassage([
              "q" => "MX-001",
              "page" => 0,
              "limit" => 10
            ]);
        - lang: csharp
          label: .NET
          source: |
            var facturapi = new FacturapiClient("sk_test_API_KEY");
            var result = await facturapi.CartaporteCatalog.SearchRightsOfPassage(new Dictionary<string, object>
            {
              ["q"] = "MX-001",
              ["page"] = 0,
              ["limit"] = 10
            });
      parameters:
        - in: query
          name: q
          schema:
            type: string
          required: true
          description: Prefix to match against `key`, `right_of_passage` or `concessionaire`.
        - in: query
          name: page
          schema:
            type: integer
            minimum: 0
        - in: query
          name: limit
          schema:
            type: integer
            minimum: 1
      responses:
        '200':
          description: Successful search
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SearchKeyDescriptionResult'

  /catalogs/cartaporte/31/customs-documents:
    get:
      tags:
        - carta_porte_keys
      summary: Search customs documents
      description: Returns customs document types for Carta Porte.
      x-codeSamples:
        - lang: Bash
          label: cURL
          source: |
            curl "https://www.facturapi.io/v2/catalogs/cartaporte/31/customs-documents" \
              -G \
              -H "Authorization: Bearer sk_test_API_KEY" \
              -d "q=PEDIMENTO" \
              -d "page=0" \
              -d "limit=10"
        - lang: JavaScript
          label: Node.js
          source: |
            import Facturapi from 'facturapi'
            const facturapi = new Facturapi('sk_test_API_KEY')
            const result = await facturapi.cartaPorteCatalogs.searchCustomsDocuments({ q: 'PEDIMENTO', page: 0, limit: 10 })
        - lang: PHP
          label: PHP
          source: |
            $facturapi = new Facturapi("sk_test_API_KEY");
            $result = $facturapi->CartaPorteCatalogs->searchCustomsDocuments([
              "q" => "PEDIMENTO",
              "page" => 0,
              "limit" => 10
            ]);
        - lang: csharp
          label: .NET
          source: |
            var facturapi = new FacturapiClient("sk_test_API_KEY");
            var result = await facturapi.CartaporteCatalog.SearchCustomsDocuments(new Dictionary<string, object>
            {
              ["q"] = "PEDIMENTO",
              ["page"] = 0,
              ["limit"] = 10
            });
      parameters:
        - in: query
          name: q
          schema:
            type: string
          required: true
          description: Prefix to match against `key` or `description`.
        - in: query
          name: page
          schema:
            type: integer
            minimum: 0
        - in: query
          name: limit
          schema:
            type: integer
            minimum: 1
      responses:
        '200':
          description: Successful search
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SearchKeyDescriptionResult'

  /catalogs/cartaporte/31/packaging-types:
    get:
      tags:
        - carta_porte_keys
      summary: Search packaging types
      description: Returns packaging types for goods in Carta Porte.
      x-codeSamples:
        - lang: Bash
          label: cURL
          source: |
            curl "https://www.facturapi.io/v2/catalogs/cartaporte/31/packaging-types" \
              -G \
              -H "Authorization: Bearer sk_test_API_KEY" \
              -d "q=CAJA" \
              -d "page=0" \
              -d "limit=10"
        - lang: JavaScript
          label: Node.js
          source: |
            import Facturapi from 'facturapi'
            const facturapi = new Facturapi('sk_test_API_KEY')
            const result = await facturapi.cartaPorteCatalogs.searchPackagingTypes({ q: 'BOX', page: 0, limit: 10 })
        - lang: PHP
          label: PHP
          source: |
            $facturapi = new Facturapi("sk_test_API_KEY");
            $result = $facturapi->CartaPorteCatalogs->searchPackagingTypes([
              "q" => "BOX",
              "page" => 0,
              "limit" => 10
            ]);
        - lang: csharp
          label: .NET
          source: |
            var facturapi = new FacturapiClient("sk_test_API_KEY");
            var result = await facturapi.CartaporteCatalog.SearchPackagingTypes(new Dictionary<string, object>
            {
              ["q"] = "BOX",
              ["page"] = 0,
              ["limit"] = 10
            });
      parameters:
        - in: query
          name: q
          schema:
            type: string
          required: true
          description: Prefix to match against `key` or `description`.
        - in: query
          name: page
          schema:
            type: integer
            minimum: 0
        - in: query
          name: limit
          schema:
            type: integer
            minimum: 1
      responses:
        '200':
          description: Successful search
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SearchKeyDescriptionResult'

  /catalogs/cartaporte/31/trailer-types:
    get:
      tags:
        - carta_porte_keys
      summary: Search trailer types
      description: Returns trailer/semitrailer types (Clave de Remolque).
      x-codeSamples:
        - lang: Bash
          label: cURL
          source: |
            curl "https://www.facturapi.io/v2/catalogs/cartaporte/31/trailer-types" \
              -G \
              -H "Authorization: Bearer sk_test_API_KEY" \
              -d "q=TRL" \
              -d "page=0" \
              -d "limit=10"
        - lang: JavaScript
          label: Node.js
          source: |
            import Facturapi from 'facturapi'
            const facturapi = new Facturapi('sk_test_API_KEY')
            const result = await facturapi.cartaPorteCatalogs.searchTrailerTypes({ q: 'TRL', page: 0, limit: 10 })
        - lang: PHP
          label: PHP
          source: |
            $facturapi = new Facturapi("sk_test_API_KEY");
            $result = $facturapi->CartaPorteCatalogs->searchTrailerTypes([
              "q" => "TRL",
              "page" => 0,
              "limit" => 10
            ]);
        - lang: csharp
          label: .NET
          source: |
            var facturapi = new FacturapiClient("sk_test_API_KEY");
            var result = await facturapi.CartaporteCatalog.SearchTrailerTypes(new Dictionary<string, object>
            {
              ["q"] = "TRL",
              ["page"] = 0,
              ["limit"] = 10
            });
      parameters:
        - in: query
          name: q
          schema:
            type: string
          required: true
          description: Prefix to match against `key` or `description`.
        - in: query
          name: page
          schema:
            type: integer
            minimum: 0
        - in: query
          name: limit
          schema:
            type: integer
            minimum: 1
      responses:
        '200':
          description: Successful search
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SearchKeyDescriptionResult'

  /catalogs/cartaporte/31/hazardous-materials:
    get:
      tags:
        - carta_porte_keys
      summary: Search hazardous materials
      description: Returns hazardous materials catalog entries.
      x-codeSamples:
        - lang: Bash
          label: cURL
          source: |
            curl "https://www.facturapi.io/v2/catalogs/cartaporte/31/hazardous-materials" \
              -G \
              -H "Authorization: Bearer sk_test_API_KEY" \
              -d "q=UN1203" \
              -d "page=0" \
              -d "limit=10"
        - lang: JavaScript
          label: Node.js
          source: |
            import Facturapi from 'facturapi'
            const facturapi = new Facturapi('sk_test_API_KEY')
            const result = await facturapi.cartaPorteCatalogs.searchHazardousMaterials({ q: 'UN1203', page: 0, limit: 10 })
        - lang: PHP
          label: PHP
          source: |
            $facturapi = new Facturapi("sk_test_API_KEY");
            $result = $facturapi->CartaPorteCatalogs->searchHazardousMaterials([
              "q" => "UN1203",
              "page" => 0,
              "limit" => 10
            ]);
        - lang: csharp
          label: .NET
          source: |
            var facturapi = new FacturapiClient("sk_test_API_KEY");
            var result = await facturapi.CartaporteCatalog.SearchHazardousMaterials(new Dictionary<string, object>
            {
              ["q"] = "UN1203",
              ["page"] = 0,
              ["limit"] = 10
            });
      parameters:
        - in: query
          name: q
          schema:
            type: string
          required: true
          description: Prefix to match against `key`, `description` or `class_division`.
        - in: query
          name: page
          schema:
            type: integer
            minimum: 0
        - in: query
          name: limit
          schema:
            type: integer
            minimum: 1
      responses:
        '200':
          description: Successful search
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SearchKeyDescriptionResult'

  /catalogs/cartaporte/31/naval-authorizations:
    get:
      tags:
        - carta_porte_keys
      summary: Search naval authorizations
      description: Returns naval authorization codes (key only).
      x-codeSamples:
        - lang: Bash
          label: cURL
          source: |
            curl "https://www.facturapi.io/v2/catalogs/cartaporte/31/naval-authorizations" \
              -G \
              -H "Authorization: Bearer sk_test_API_KEY" \
              -d "q=Z-01" \
              -d "page=0" \
              -d "limit=10"
        - lang: JavaScript
          label: Node.js
          source: |
            import Facturapi from 'facturapi'
            const facturapi = new Facturapi('sk_test_API_KEY')
            const result = await facturapi.cartaPorteCatalogs.searchNavalAuthorizations({ q: 'Z-01', page: 0, limit: 10 })
        - lang: PHP
          label: PHP
          source: |
            $facturapi = new Facturapi("sk_test_API_KEY");
            $result = $facturapi->CartaPorteCatalogs->searchNavalAuthorizations([
              "q" => "Z-01",
              "page" => 0,
              "limit" => 10
            ]);
        - lang: csharp
          label: .NET
          source: |
            var facturapi = new FacturapiClient("sk_test_API_KEY");
            var result = await facturapi.CartaporteCatalog.SearchNavalAuthorizations(new Dictionary<string, object>
            {
              ["q"] = "Z-01",
              ["page"] = 0,
              ["limit"] = 10
            });
      parameters:
        - in: query
          name: q
          schema:
            type: string
          required: true
          description: Prefix to match against `key`.
        - in: query
          name: page
          schema:
            type: integer
            minimum: 0
        - in: query
          name: limit
          schema:
            type: integer
            minimum: 1
      responses:
        '200':
          description: Successful search
          content:
            application/json:
              schema:
                type: object
                properties:
                  page:
                    type: integer
                  total_pages:
                    type: integer
                  total_results:
                    type: integer
                  data:
                    type: array
                    items:
                      type: object
                      properties:
                        key:
                          type: string

  /catalogs/cartaporte/31/port-stations:
    get:
      tags:
        - carta_porte_keys
      summary: Search port stations
      description: Returns airport/sea/land station entries.
      x-codeSamples:
        - lang: Bash
          label: cURL
          source: |
            curl "https://www.facturapi.io/v2/catalogs/cartaporte/31/port-stations" \
              -G \
              -H "Authorization: Bearer sk_test_API_KEY" \
              -d "q=MEX" \
              -d "page=0" \
              -d "limit=10"
        - lang: JavaScript
          label: Node.js
          source: |
            import Facturapi from 'facturapi'
            const facturapi = new Facturapi('sk_test_API_KEY')
            const result = await facturapi.cartaPorteCatalogs.searchPortStations({ q: 'MEX', page: 0, limit: 10 })
        - lang: PHP
          label: PHP
          source: |
            $facturapi = new Facturapi("sk_test_API_KEY");
            $result = $facturapi->CartaPorteCatalogs->searchPortStations([
              "q" => "MEX",
              "page" => 0,
              "limit" => 10
            ]);
        - lang: csharp
          label: .NET
          source: |
            var facturapi = new FacturapiClient("sk_test_API_KEY");
            var result = await facturapi.CartaporteCatalog.SearchPortStations(new Dictionary<string, object>
            {
              ["q"] = "MEX",
              ["page"] = 0,
              ["limit"] = 10
            });
      parameters:
        - in: query
          name: q
          schema:
            type: string
          required: true
          description: Prefix to match against `key`, `description` or `iata_designator`.
        - in: query
          name: page
          schema:
            type: integer
            minimum: 0
        - in: query
          name: limit
          schema:
            type: integer
            minimum: 1
      responses:
        '200':
          description: Successful search
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SearchKeyDescriptionResult'

  /catalogs/cartaporte/31/marine-containers:
    get:
      tags:
        - carta_porte_keys
      summary: Search marine containers
      description: Returns marine container types.
      x-codeSamples:
        - lang: Bash
          label: cURL
          source: |
            curl "https://www.facturapi.io/v2/catalogs/cartaporte/31/marine-containers" \
              -G \
              -H "Authorization: Bearer sk_test_API_KEY" \
              -d "q=20DC" \
              -d "page=0" \
              -d "limit=10"
        - lang: JavaScript
          label: Node.js
          source: |
            import Facturapi from 'facturapi'
            const facturapi = new Facturapi('sk_test_API_KEY')
            const result = await facturapi.cartaPorteCatalogs.searchMarineContainers({ q: '20DC', page: 0, limit: 10 })
        - lang: PHP
          label: PHP
          source: |
            $facturapi = new Facturapi("sk_test_API_KEY");
            $result = $facturapi->CartaPorteCatalogs->searchMarineContainers([
              "q" => "20DC",
              "page" => 0,
              "limit" => 10
            ]);
        - lang: csharp
          label: .NET
          source: |
            var facturapi = new FacturapiClient("sk_test_API_KEY");
            var result = await facturapi.CartaporteCatalog.SearchMarineContainers(new Dictionary<string, object>
            {
              ["q"] = "20DC",
              ["page"] = 0,
              ["limit"] = 10
            });
      parameters:
        - in: query
          name: q
          schema:
            type: string
          required: true
          description: Prefix to match against `key` or `description`.
        - in: query
          name: page
          schema:
            type: integer
            minimum: 0
        - in: query
          name: limit
          schema:
            type: integer
            minimum: 1
      responses:
        '200':
          description: Successful search
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SearchKeyDescriptionResult'
  /customers:
    post:
      operationId: createCustomer
      tags:
        - customer
      summary: Create Customer
      description: |
        Register a new customer in Facturapi.

          This call validates that the fiscal data matches
          the records of the SAT for that RFC, otherwise the call
          will return an error indicating the issue.

          Once the customer is created and a response object is obtained,
          we recommend saving the ID in your database along with the customer information.
          Later, you can call the Create Invoice endpoint by passing the customer ID instead of repeating the information.
          
          Finally, keep in mind that the customers you create in the Test environment **are not shared**
          with the Live environment.
      x-codeSamples:
        - lang: Bash
          label: cURL
          source: |
            curl https://www.facturapi.io/v2/customers \
              -H "Authorization: Bearer sk_test_API_KEY" \
              -H "Content-Type: application/json" \
              -d '{
                    "legal_name": "Dunder Mifflin",
                    "email": "email@example.com",
                    "tax_id": "ABC101010111",
                    "tax_system": "601",
                    "address": {
                      "zip": "01234"
                    }
                  }'
        - lang: JavaScript
          label: Node.js
          source: |
            import Facturapi from 'facturapi'
            const facturapi = new Facturapi('sk_test_API_KEY');
            const customer = await facturapi.customers.create({
              legal_name: 'Dunder Mifflin',
              email: 'email@example.com',
              tax_id: 'ABC101010111',
              tax_system: '601',
              address: {
                zip: '01234'
              }
            });
        - lang: csharp
          label: C#
          source: |
            var facturapi = new FacturapiClient("sk_test_API_KEY");
            var customer = await facturapi.Customer.CreateAsync(new Dictionary<string, object>
            {
              ["legal_name"] = "Dunder Mifflin",
              ["email"] = "email@example.com",
              ["tax_id"] = "ABC101010111",
              ["tax_system"] = "601",
              ["address"] = new Dictionary<string, object>
              {
                ["zip"] = "01234"
              }
            });
        - lang: PHP
          source: |
            $facturapi = new Facturapi( "sk_test_API_KEY" );
            $customer = $facturapi->Customers->create([
              "email" => "email@example.com",
              "legal_name" => "Dunder Mifflin",
              "tax_id" => "ABC101010111",
              "tax_system" => "601",
              "address" => [
                "zip" => "01234"
              ]
            ]);
      requestBody:
        $ref: "#/components/requestBodies/CustomerCreate"
      parameters:
        - in: query
          name: createEditLink
          schema:
            type: boolean
          required: false
          description: |
            If set to `true`, the response will include a link you can share with the customer to
            allow them to edit their information. This link will be available from the `edit_link` field,
            will be valid for 7 days and can only be used once.
            Additionally, setting this parameter to `true` will skip the validation of the customer's fiscal data,
            allowing you to create customers with incomplete information.
      security:
        - "SecretLiveKey": []
        - "SecretTestKey": []
      responses:
        "201":
          description: New `Customer` object just created
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Customer"
        "200":
          description: A previously-registered `Customer` object with the same information.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Customer"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthenticated"
        "404":
          $ref: "#/components/responses/NotFound"
        "500":
          $ref: "#/components/responses/UnexpectedError"
    get:
      operationId: listCustomers
      tags:
        - customer
      summary: List customers
      description: Returns a paginated list of all customers in an organization or performs a search according to parameters.
      x-codeSamples:
        - lang: Bash
          label: cURL
          source: |
            curl https://www.facturapi.io/v2/customers \
              -H "Authorization: Bearer sk_test_API_KEY" \
              -G \
              -d 'q=Dunder' \
              -d 'date[gt]=2021-07-14T06:00:00.000Z' \
              -d 'date[lt]=2021-08-14T06:00:00.000Z' \
              -d 'page=1'
        - lang: JavaScript
          label: Node.js
          source: |
            import Facturapi from 'facturapi'
            const facturapi = new Facturapi('sk_test_API_KEY');
            const searchResult = await facturapi.customers.list({
              q: 'Dunder',
              date: {
                gt: new Date('2021-07-14T06:00:00.000Z'),
                lt: new Date('2021-08-14T06:00:00.000Z')
              },
              page: 1
            });
        - lang: csharp
          label: C#
          source: |
            var facturapi = new FacturapiClient("sk_test_API_KEY");
            var searchResult = await facturapi.Customer.ListAsync(new Dictionary<string, object>
            {
              ["q"] = "Dunder",
              ["date"] = new Dictionary<string, object>
                {
                  ["gt"] = new DateTime("2021-07-14T06:00:00.000Z"),
                  ["lt"] = new DateTime("2021-08-14T06:00:00.000Z")
                },
              ["page"] = 1
            });
        - lang: PHP
          source: |
            $facturapi = new Facturapi( "sk_test_API_KEY" );
            $searchResult = $facturapi->Customers->all([
              "q" => "Dunder",
              "date" => [
                "gt" => new DateTime("2021-07-14T06:00:00.000Z"),
                "lt" => new DateTime("2021-08-14T06:00:00.000Z")
              ],
              "page" => 1
            ]);
      parameters:
        - in: query
          name: q
          schema:
            type: string
          description: Free text field. Search word matches with `legal_name` or `tax_id` fields.
        - $ref: "#/components/parameters/SearchDate"
        - $ref: "#/components/parameters/SearchPage"
        - $ref: "#/components/parameters/SearchLimit"
      security:
        - "SecretLiveKey": []
        - "SecretTestKey": []
      responses:
        "200":
          description: Search results
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CustomerSearchResult"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthenticated"
        "404":
          $ref: "#/components/responses/NotFound"
        "500":
          $ref: "#/components/responses/UnexpectedError"
  /customers/{customer_id}:
    get:
      operationId: getCustomer
      tags:
        - customer
      summary: Retrieve customer by ID
      description: Returns the 'Customer' object with the specified ID. If the customer does not exist, a 404 error will be returned.
      x-codeSamples:
        - lang: Bash
          label: cURL
          source: |
            curl https://www.facturapi.io/v2/customers/590ce6c56d04f840aa8438af \
              -H "Authorization: Bearer sk_test_API_KEY"
        - lang: JavaScript
          label: Node.js
          source: |
            import Facturapi from 'facturapi'
            const facturapi = new Facturapi('sk_test_API_KEY');
            const customer = await facturapi.customers.retrieve('590ce6c56d04f840aa8438af');
        - lang: csharp
          label: C#
          source: |
            var facturapi = new FacturapiClient("sk_test_API_KEY");
            var customer = await facturapi.Customer.RetrieveAsync("590ce6c56d04f840aa8438af");
        - lang: PHP
          source: |
            $facturapi = new Facturapi( "sk_test_API_KEY" );
            $customer = $facturapi->Customers->retrieve( "5a3ee743f508333611ad6b3c" );
      parameters:
        - in: path
          name: customer_id
          schema:
            type: string
          required: true
          description: Customer ID
      security:
        - "SecretLiveKey": []
        - "SecretTestKey": []
      responses:
        "200":
          description: "`Customer` object"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Customer"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthenticated"
        "500":
          $ref: "#/components/responses/UnexpectedError"
    put:
      operationId: editCustomer
      tags:
        - customer
      summary: Edit Customer
      description: Updates the information of an existing customer, setting only the values for the paramenters that are sent. Undefined values will not be modified.
      x-codeSamples:
        - lang: Bash
          label: cURL
          source: |
            curl https://www.facturapi.io/v2/customers/590ce6c56d04f840aa8438af \
              -X PUT
              -H "Authorization: Bearer sk_test_API_KEY" \
              -H "Content-Type: application/json" \
              -d '{
                    "email": "jdoe@example.com",
                    "address": {
                      "street": "Santa Monica Ave."
                    }
                  }'
        - lang: JavaScript
          label: Node.js
          source: |
            import Facturapi from 'facturapi'
            const facturapi = new Facturapi('sk_test_API_KEY');
            const customer = await facturapi.customers.update(
              '590ce6c56d04f840aa8438af',
              {
                email: 'jdoe@example.com',
                address: {
                  street: 'Santa Monica Ave.'
                }
              }
            );
        - lang: csharp
          label: C#
          source: |
            var facturapi = new FacturapiClient("sk_test_API_KEY");
            var customer = await facturapi.Customer.UpdateAsync(
              "590ce6c56d04f840aa8438af",
              new Dictionary<string, object>
              {
                ["email"] = "jdoe@example.com",
                ["address"] = new Dictionary<string, object>
                {
                  ["street"] = "Santa Monica Ave."
                }
              }
            );
        - lang: PHP
          source: |
            $facturapi = new Facturapi( "sk_test_API_KEY" );
            $customer = $facturapi->Customers->update("590ce6c56d04f840aa8438af", [
              "email" => "jdoe@example.com",
              "legal_name" => "Dunder Mifflin",
              "address" => [
                "street" => "Santa Monica Ave."
              ]
            ]);
      parameters:
        - in: path
          name: customer_id
          schema:
            type: string
          required: true
          description: ID of the object to edit
        - in: query
          name: createEditLink
          schema:
            type: boolean
          required: false
          description: |
            If set to `true`, the response will include a link you can share with the customer to
            allow them to edit their information. This link will be available from the `edit_link` field,
            will be valid for 7 days and can only be used once.
            Setting this parameter to `true` while editing a customer will **not** skip the validation
            of the customer's fiscal data.
      requestBody:
        $ref: "#/components/requestBodies/CustomerEdit"
      security:
        - "SecretLiveKey": []
        - "SecretTestKey": []
      responses:
        "200":
          description: "`Customer` object edited successfully"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Customer"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthenticated"
        "500":
          $ref: "#/components/responses/UnexpectedError"
    delete:
      operationId: deleteCustomer
      tags:
        - customer
      summary: Delete Customer
      description: Deletes a customer. The invoices linked to the customer will **not** be deleted.
      x-codeSamples:
        - lang: Bash
          label: cURL
          source: |
            curl https://www.facturapi.io/v2/customers/590ce6c56d04f840aa8438af \
              -X DELETE \
              -H "Authorization: Bearer sk_test_API_KEY"
        - lang: JavaScript
          label: Node.js
          source: |
            import Facturapi from 'facturapi'
            const facturapi = new Facturapi('sk_test_API_KEY');
            const removedCustomer = await facturapi.customers.del('590ce6c56d04f840aa8438af');
        - lang: csharp
          label: C#
          source: |
            var facturapi = new FacturapiClient("sk_test_API_KEY");
            var customer = await facturapi.Customer.DeleteAsync("590ce6c56d04f840aa8438af");
        - lang: PHP
          source: |
            $facturapi = new Facturapi( "sk_test_API_KEY" );
            $facturapi->Customers->delete( "5a3fefd9f508333611ad6b43" );
      parameters:
        - in: path
          name: customer_id
          schema:
            type: string
          required: true
          description: ID of the object to delete
      security:
        - "SecretLiveKey": []
        - "SecretTestKey": []
      responses:
        "200":
          description: "`Customer` object deleted successfully"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Customer"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthenticated"
        "500":
          $ref: "#/components/responses/UnexpectedError"
  /customers/{customer_id}/email-edit-link:
    post:
      operationId: sendEditLinkByEmail
      tags:
        - customer
      summary: Send edit link by email
      description: |
        Sends a link for the customer to edit their fiscal information.

        This link will be available in the `edit_link` field, valid for 7 days and can only be used once.
      x-codeSamples:
        - lang: Bash
          label: cURL
          source: |
            curl https://www.facturapi.io/v2/customers/590ce6c56d04f840aa8438af/email-edit-link \
              -H "Authorization: Bearer sk_test_API_KEY" \
              -X POST \
              -d '{
                "email": "email@example.com"
              }'
        - lang: JavaScript
          label: Node.js
          source: |
            import Facturapi from 'facturapi'
            const facturapi = new Facturapi('sk_test_API_KEY');

            await facturapi.customers.sendEditLinkByEmail('67bf1239b15b44fb9269e6a8', {
              email: 'email@example.com' // Optional, if not provided, the customer's email will be used
            });
        - lang: csharp
          label: C#
          source: |
            await facturapi.Customer.SendEditLinkByEmailAsync("67bf1239b15b44fb9269e6a8", new Dictionary<string, object>
            {
              ["email"] = "email@example.com" // Optional, if not provided, the customer's email will be used
            });
        - lang: PHP
          label: PHP
          source: |
            $customer = $facturapi->Customers->sendEditLinkByEmail("67bf1239b15b44fb9269e6a8", [
              "email" => "email@example.com" // Optional, if not provided, the customer's email will be used
            ]);
      parameters:
        - in: path
          name: customer_id
          schema:
            type: string
          required: true
          description: ID of the `Customer` object to edit
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                email:
                  type: string
                  description: Customer's email. If not provided, the customer's email will be used.
      security:
        - "SecretLiveKey": []
        - "SecretTestKey": []
      responses:
        "200":
          description: Edit link sent successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  ok:
                    type: boolean
                    description: Indicates if the link was sent successfully
                    example: true
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthenticated"
        "500":
          $ref: "#/components/responses/UnexpectedError"
  /customers/{customer_id}/tax-info-validation:
    get:
      operationId: validateCustomerTaxInfo
      tags:
        - customer
      summary: Validate Customer Tax Info
      description: |
        Validates that the customer's fiscal information matches the SAT records.

        Its main function is to validate that the registered customer data continues to meet the SAT validation.
        
        > **Note:**
        > The operations of creating a customer, editing a customer, and creating an invoice already perform a
        > validation of the customer's information, so it is **not** necessary to call this endpoint
        > before performing these operations.
      x-codeSamples:
        - lang: Bash
          label: cURL
          source: |
            curl https://www.facturapi.io/v2/customers/590ce6c56d04f840aa8438af/tax-info-validation \
              -H "Authorization: Bearer sk_test_API_KEY"
        - lang: JavaScript
          label: Node.js
          source: |
            import Facturapi from 'facturapi'
            const facturapi = new Facturapi('sk_test_API_KEY');
            const customer = await facturapi.customers.validateTaxInfo('590ce6c56d04f840aa8438af');
        - lang: csharp
          label: C#
          source: |
            var facturapi = new FacturapiClient("sk_test_API_KEY");
            var customer = await facturapi.Customer.ValidateTaxInfoAsync("590ce6c56d04f840aa8438af");
        - lang: PHP
          source: |
            $facturapi = new Facturapi( "sk_test_API_KEY" );
            $customer = $facturapi->Customers->validateTaxInfo( "5a3ee743f508333611ad6b3c" );
      parameters:
        - in: path
          name: customer_id
          schema:
            type: string
          required: true
          description: ID of the customer
      security:
        - "SecretLiveKey": []
      responses:
        "200":
          description: Validation result
          content:
            application/json:
              schema:
                type: object
                properties:
                  is_valid:
                    type: boolean
                    description: Indicates if the customer's fiscal information matches the SAT records
                    example: true
                  errors:
                    type: array
                    description: List of errors found in the validation
                    items:
                      type: object
                      properties:
                        path:
                          type: string
                          description: Path to the field with the error
                          example: tax_system
                        message:
                          type: string
                          description: Error message
                          example: El RégimenFiscal no coincide con el registrado para el RFC en la lista de contribuyentes obligados del SAT.
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthenticated"
        "500":
          $ref: "#/components/responses/UnexpectedError"
  /products:
    post:
      operationId: createProduct
      tags:
        - product
      summary: Create Product
      description: |
        Register a new product or service in your Facturapi catalog.

        You can use the product ID to create invoices without having to send all the product data each time.

        Keep in mind that the products you create in the Test environment **are not shared**
        with the Live environment.
      x-codeSamples:
        - lang: Bash
          label: cURL
          source: |
            curl https://www.facturapi.io/v2/products \
              -H "Authorization: Bearer sk_test_API_KEY" \
              -H "Content-Type: application/json" \
              -d '{
                    "description": "Ukelele",
                    "product_key": "60131324",
                    "price": 345.60,
                    "sku": "ABC1234"
                }'
        - lang: JavaScript
          label: Node.js
          source: |
            import Facturapi from 'facturapi'
            const facturapi = new Facturapi('sk_test_API_KEY');
            const product = await facturapi.products.create({
              description: 'Ukelele',
              product_key: '60131324',
              price: 345.60,
              sku: 'ABC1234'
            });
        - lang: csharp
          label: C#
          source: |
            var facturapi = new FacturapiClient("sk_test_API_KEY");
            var product = await facturapi.Product.CreateAsync(new Dictionary<string, object>
            {
              ["description"] = "Ukelele",
              ["product_key"] = "60131324",
              ["price"] = 345.60,
              ["sku"] = "ABC1234"
            });
        - lang: PHP
          source: |
            $facturapi = new Facturapi( "sk_test_API_KEY" );
            $product = $facturapi->Products->create([
              "description" => "Ukelele",
              "product_key" => "60131324",
              "price" => 345.60,
              "sku" => "ABC1234"
            ]);
      requestBody:
        $ref: "#/components/requestBodies/ProductCreate"
      security:
        - "SecretLiveKey": []
        - "SecretTestKey": []
      responses:
        "200":
          description: New `Product` object just created
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Product"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthenticated"
        "404":
          $ref: "#/components/responses/NotFound"
        "500":
          $ref: "#/components/responses/UnexpectedError"
    get:
      operationId: listProducts
      tags:
        - product
      summary: List products
      description: Returns a paginated list of all products in an organization or performs a search according to parameters.
      x-codeSamples:
        - lang: Bash
          label: cURL
          source: |
            curl https://www.facturapi.io/v2/products \
              -H "Authorization: Bearer sk_test_API_KEY" \
              -G \
              -d 'q=ukelele' \
              -d 'page=1'
        - lang: JavaScript
          label: Node.js
          source: |
            import Facturapi from 'facturapi'
            const facturapi = new Facturapi('sk_test_API_KEY');
            const searchResult = await facturapi.products.list({
              q: 'ukelele',
              page: 1
            });
        - lang: csharp
          label: C#
          source: |
            var facturapi = new FacturapiClient("sk_test_API_KEY");
            var searchResult = await facturapi.Product.ListAsync(new Dictionary<string, object>
            {
              ["q"] = "ukelele",
              ["date"] = new Dictionary<string, object>
                {
                  ["gt"] = new DateTime("2021-07-14T06:00:00.000Z"),
                  ["lt"] = new DateTime("2021-08-14T06:00:00.000Z")
                },
              ["page"] = 1
            });
        - lang: PHP
          source: |
            $facturapi = new Facturapi( "sk_test_API_KEY" );
[...]
