openapi: "3.0.1"
servers:
  - url: https://www.facturapi.io/v1
info:
  title: Facturapi
  version: "1.0"
  contact:
    name: Facturapi
    url: https://www.facturapi.io
    email: "soporte@facturapi.io"
  x-logo:
    url: https://www.facturapi.io/img/logo.svg
    altText: Facturapi
  description: |
    # 🚧 Aviso sobre /v1
    **La versión 1 de la API (`/v1`) ya no debe usarse**.
    En su lugar utiliza la [versión 2](/api), que te permite emitir CFDI v4.0.

    La versión 1 de la API dejó de estar disponible cuando el SAT
    terminó con la vigencia del CFDI 3.3, el 01 de Abril de 2023.

    Si tu integración está basada en la **v1** de la API, puedes realizar la
    migración a la **v2** siguiendo los pasos en [esta guía](/docs/migrate).

tags:
  - name: tools
    x-displayName: Herramientas
  - name: customer
    x-displayName: Clientes
  - name: product
    x-displayName: Productos
  - name: invoice
    x-displayName: Facturas
  - name: receipt
    x-displayName: Recibos
  - name: retention
    x-displayName: Retenciones
  - name: organization
    x-displayName: Organizaciones
  - name: sat_keys
    x-displayName: Claves de catálogos
    description: |
      Principales catálogos del SAT, incluídos aquí por conveniencia. Puedes consultar estos y más catálogos desde el portal oficial del SAT: http://omawww.sat.gob.mx/tramitesyservicios/Paginas/anexo_20_version3-3.htm

      ### Forma de pago

      Código | Descripción
      :-----:| -----------
      "01" | Efectivo
      "02" | Cheque nominativo
      "03" | Transferencia electrónica de fondos
      "04" | Tarjeta de crédito
      "05" | Monedero electrónico
      "06" | Dinero electrónico
      "08" | Vales de despensa
      "12" | Dación en pago
      "13" | Pago por subrogación
      "14" | Pago por consignación
      "15" | Condonación
      "17" | Compensación
      "23" | Novación
      "24" | Confusión
      "25" | Remisión de deuda
      "26" | Prescripción o caducidad
      "27" | A satisfacción del acreedor
      "28" | Tarjeta de débito
      "29" | Tarjeta de servicios
      "30" | Aplicación de anticipos
      "31" | Intermediario pagos
      "99" | Por definir

      ### Método de pago

      Código | Descripción
      :-----:| -----------
      "PUE" | Pago en una sola exhibición (de contado).
      "PPD" | Pago en parcialidades o diferido (total o parcialmente a crédito). Requiere expedir un comprobante de pago cuando se reciba un pago subsecuente.

      ### Uso CFDI

      Código | Descripción
      :-----:| -----------
      "G01" |	Adquisición de mercancias.
      "G02" |	Devoluciones, descuentos o bonificaciones.
      "G03" |	Gastos en general.
      "I01" |	Construcciones.
      "I02" |	Mobilario y equipo de oficina por inversiones.
      "I03" |	Equipo de transporte.
      "I04" |	Equipo de computo y accesorios.
      "I05" |	Dados, troqueles, moldes, matrices y herramental.
      "I06" |	Comunicaciones telefónicas.
      "I07" |	Comunicaciones satelitales.
      "I08" |	Otra maquinaria y equipo.
      "D01" |	Honorarios médicos, dentales y gastos hospitalarios.
      "D02" |	Gastos médicos por incapacidad o discapacidad.
      "D03" |	Gastos funerales.
      "D04" |	Donativos.
      "D05" |	Intereses reales efectivamente pagados por créditos hipotecarios (casa habitación).
      "D06" |	Aportaciones voluntarias al SAR.
      "D07" |	Primas por seguros de gastos médicos.
      "D08" |	Gastos de transportación escolar obligatoria.
      "D09" |	Depósitos en cuentas para el ahorro, primas que tengan como base planes de pensiones.
      "D10" |	Pagos por servicios educativos (colegiaturas).
      "P01" |	Por definir.

      ### Relación entre facturas

      Código | Descripción
      :-----:| -----------
      "01" | Nota de crédito de los documentos relacionados
      "02" | Nota de débito de los documentos relacionados
      "03" | Devolución de mercancía sobre facturas o traslados previos
      "04" | Sustitución de los CFDI previos
      "05" | Traslados de mercancias facturados previamente
      "06" | Factura generada por los traslados previos
      "07" | CFDI por aplicación de anticipo
      "08" | Factura generada por pagos en parcialidades
      "09" | Factura generada por pagos diferidos

      ### Régimen Fiscal

      Código | Descripción
      :-----:| -----------
      "601" |	General de Ley Personas Morales
      "603" |	Personas Morales con Fines no Lucrativos
      "605" |	Sueldos y Salarios e Ingresos Asimilados a Salarios
      "606" |	Arrendamiento
      "608" |	Demás ingresos
      "609" |	Consolidación
      "610" |	Residentes en el Extranjero sin Establecimiento Permanente en México
      "611" |	Ingresos por Dividendos (socios y accionistas)
      "612" |	Personas Físicas con Actividades Empresariales y Profesionales
      "614" |	Ingresos por intereses
      "616" |	Sin obligaciones fiscales
      "620" |	Sociedades Cooperativas de Producción que optan por diferir sus ingresos
      "621" |	Incorporación Fiscal
      "622" |	Actividades Agrícolas, Ganaderas, Silvícolas y Pesqueras
      "623" |	Opcional para Grupos de Sociedades
      "624" |	Coordinados
      "628" |	Hidrocarburos
      "607" |	Régimen de Enajenación o Adquisición de Bienes
      "629" |	De los Regímenes Fiscales Preferentes y de las Empresas Multinacionales
      "630" |	Enajenación de acciones en bolsa de valores
      "615" |	Régimen de los ingresos por obtención de premios
      "625" |	Régimen de las Actividades Empresariales con ingresos a través de Plataformas Tecnológicas
      "626" | Régimen Simplificado de Confianza

      ### Tipo de Contrato

      Código | Descripción
      :-----:| -----------
      "01" | Contrato de trabajo por tiempo indeterminado
      "02" | Contrato de trabajo para obra determinada
      "03" | Contrato de trabajo por tiempo determinado
      "04" | Contrato de trabajo por temporada
      "05" | Contrato de trabajo sujeto a prueba
      "06" | Contrato de trabajo con capacitación inicial
      "07" | Modalidad de contratación por pago de hora laborada
      "08" | Modalidad de trabajo por comisión laboral
      "09" | Modalidades de contratación donde no existe relación de trabajo
      "10" | Jubilación, pensión, retiro.
      "99" | Otro contrato

      ### Tipo de Jornada

      Código | Descripción
      :-----:| -----------
      "01" | Diurna
      "02" | Nocturna
      "03" | Mixta
      "04" | Por hora
      "05" | Reducida
      "06" | Continuada
      "07" | Partida
      "08" | Por turnos
      "99" | Otra Jornada

      ### Tipo de Régimen

      Código | Descripción
      :-----:| -----------
      "02" | Sueldos (Incluye ingresos señalados en la fracción I del artículo 94 de LISR)
      "03" | Jubilados
      "04" | Pensionados
      "05" | Asimilados Miembros Sociedades Cooperativas Produccion
      "06" | Asimilados Integrantes Sociedades Asociaciones Civiles
      "07" | Asimilados Miembros consejos
      "08" | Asimilados comisionistas
      "09" | Asimilados Honorarios
      "10" | Asimilados acciones
      "11" | Asimilados otros
      "12" | Jubilados o Pensionados
      "13" | Indemnización o Separación
      "99" | Otro Regimen

      ### Riesgo del Puesto

      Código | Descripción
      :-----:| -----------
      "1" | Clase I
      "2" | Clase II
      "3" | Clase III
      "4" | Clase IV
      "5" | Clase V
      "99" | No aplica

      ### Periodicidad del Pago

      Código | Descripción
      :-----:| -----------
      "01" | Diario
      "02" | Semanal
      "03" | Catorcenal
      "04" | Quincenal
      "05" | Mensual
      "06" | Bimestral
      "07" | Unidad obra
      "08" | Comisión
      "09" | Precio alzado
      "10" | Decenal
      "99" | Otra Periodicidad

      ### Tipo de Percepción

      Código | Descripción
      :-----:| -----------
      "001" | Sueldos, Salarios  Rayas y Jornales
      "002" | Gratificación Anual (Aguinaldo)
      "003" | Participación de los Trabajadores en las Utilidades PTU
      "004" | Reembolso de Gastos Médicos Dentales y Hospitalarios
      "005" | Fondo de Ahorro
      "006" | Caja de ahorro
      "009" | Contribuciones a Cargo del Trabajador Pagadas por el Patrón
      "010" | Premios por puntualidad
      "011" | Prima de Seguro de vida
      "012" | Seguro de Gastos Médicos Mayores
      "013" | Cuotas Sindicales Pagadas por el Patrón
      "014" | Subsidios por incapacidad
      "015" | Becas para trabajadores y/o hijos
      "019" | Horas extra
      "020" | Prima dominical
      "021" | Prima vacacional
      "022" | Prima por antigüedad
      "023" | Pagos por separación
      "024" | Seguro de retiro
      "025" | Indemnizaciones
      "026" | Reembolso por funeral
      "027" | Cuotas de seguridad social pagadas por el patrón
      "028" | Comisiones
      "029" | Vales de despensa
      "030" | Vales de restaurante
      "031" | Vales de gasolina
      "032" | Vales de ropa
      "033" | Ayuda para renta
      "034" | Ayuda para artículos escolares
      "035" | Ayuda para anteojos
      "036" | Ayuda para transporte
      "037" | Ayuda para gastos de funeral
      "038" | Otros ingresos por salarios
      "039" | Jubilaciones, pensiones o haberes de retiro
      "044" | Jubilaciones, pensiones o haberes de retiro en parcialidades
      "045" | Ingresos en acciones o títulos valor que representan bienes
      "046" | Ingresos asimilados a salarios
      "047" | Alimentación diferentes a los establecidos en el Art 94 último párrafo LISR
      "048" | Habitación
      "049" | Premios por asistencia
      "050" | Viáticos
      "051" | Pagos por gratificaciones, primas, compensaciones, recompensas u otros en parcialidades
      "052" | Pagos por jubilación en parcialidades derivados de una resolución judicial
      "053" | Pagos por jubilación en una sola exhibición derivados de la ejecución de una resolución judicial

      ### Tipo de Horas

      Código | Descripción
      :-----:| -----------
      "01" | Dobles
      "02" | Triples
      "03" | Simples

      ### Tipo de Deducción

      Código | Descripción
      :-----:| -----------
      "001" | Seguridad social
      "002" | ISR
      "003" | Aportaciones a retiro, cesantía en edad avanzada y vejez.
      "004" | Otros
      "005" | Aportaciones a Fondo de vivienda
      "006" | Descuento por incapacidad
      "007" | Pensión alimenticia
      "008" | Renta
      "009" | Préstamos provenientes del Fondo Nacional de la Vivienda para los Trabajadores
      "010" | Pago por crédito de vivienda
      "011" | Pago de abonos INFONACOT
      "012" | Anticipo de salarios
      "013" | Pagos hechos con exceso al trabajador
      "014" | Errores
      "015" | Pérdidas
      "016" | Averías
      "017" | Adquisición de artículos producidos por la empresa o establecimiento
      "018" | Cuotas para la constitución y fomento de sociedades cooperativas y de cajas de ahorro
      "019" | Cuotas sindicales
      "020" | Ausencia (Ausentismo)
      "021" | Cuotas obrero patronales
      "022" | Impuestos Locales
      "023" | Aportaciones voluntarias
      "024" | Ajuste en Gratificación Anual (Aguinaldo) Exento
      "025" | Ajuste en Gratificación Anual (Aguinaldo) Gravado
      "026" | Ajuste en Participación de los Trabajadores en las Utilidades PTU Exento
      "027" | Ajuste en Participación de los Trabajadores en las Utilidades PTU Gravado
      "028" | Ajuste en Reembolso de Gastos Médicos Dentales y Hospitalarios Exento
      "029" | Ajuste en Fondo de ahorro Exento
      "030" | Ajuste en Caja de ahorro Exento
      "031" | Ajuste en Contribuciones a Cargo del Trabajador Pagadas por el Patrón Exento
      "032" | Ajuste en Premios por puntualidad Gravado
      "033" | Ajuste en Prima de Seguro de vida Exento
      "034" | Ajuste en Seguro de Gastos Médicos Mayores Exento
      "035" | Ajuste en Cuotas Sindicales Pagadas por el Patrón Exento
      "036" | Ajuste en Subsidios por incapacidad Exento
      "037" | Ajuste en Becas para trabajadores y/o hijos Exento
      "038" | Ajuste en Horas extra Exento
      "039" | Ajuste en Horas extra Gravado
      "040" | Ajuste en Prima dominical Exento
      "041" | Ajuste en Prima dominical Gravado
      "042" | Ajuste en Prima vacacional Exento
      "043" | Ajuste en Prima vacacional Gravado
      "044" | Ajuste en Prima por antigüedad Exento
      "045" | Ajuste en Prima por antigüedad Gravado
      "046" | Ajuste en Pagos por separación Exento
      "047" | Ajuste en Pagos por separación Gravado
      "048" | Ajuste en Seguro de retiro Exento
      "049" | Ajuste en Indemnizaciones Exento
      "050" | Ajuste en Indemnizaciones Gravado
      "051" | Ajuste en Reembolso por funeral Exento
      "052" | Ajuste en Cuotas de seguridad social pagadas por el patrón Exento
      "053" | Ajuste en Comisiones Gravado
      "054" | Ajuste en Vales de despensa Exento
      "055" | Ajuste en Vales de restaurante Exento
      "056" | Ajuste en Vales de gasolina Exento
      "057" | Ajuste en Vales de ropa Exento
      "058" | Ajuste en Ayuda para renta Exento
      "059" | Ajuste en Ayuda para artículos escolares Exento
      "060" | Ajuste en Ayuda para anteojos Exento
      "061" | Ajuste en Ayuda para transporte Exento
      "062" | Ajuste en Ayuda para gastos de funeral Exento
      "063" | Ajuste en Otros ingresos por salarios Exento
      "064" | Ajuste en Otros ingresos por salarios Gravado
      "065" | Ajuste en Jubilaciones, pensiones o haberes de retiro en una sola exhibición Exento
      "066" | Ajuste en Jubilaciones, pensiones o haberes de retiro en una sola exhibición Gravado
      "067" | Ajuste en Pagos por separación Acumulable
      "068" | Ajuste en Pagos por separación No acumulable
      "069" | Ajuste en Jubilaciones, pensiones o haberes de retiro en parcialidades Exento
      "070" | Ajuste en Jubilaciones, pensiones o haberes de retiro en parcialidades Gravado
      "071" | Ajuste en Subsidio para el empleo (efectivamente entregado al trabajador)
      "072" | Ajuste en Ingresos en acciones o títulos valor que representan bienes Exento
      "073" | Ajuste en Ingresos en acciones o títulos valor que representan bienes Gravado
      "074" | Ajuste en Alimentación Exento
      "075" | Ajuste en Alimentación Gravado
      "076" | Ajuste en Habitación Exento
      "077" | Ajuste en Habitación Gravado
      "078" | Ajuste en Premios por asistencia
      "079" | Ajuste en Pagos distintos a los listados
      "080" | Ajuste en Viáticos gravados
      "081" | Ajuste en Viáticos (entregados al trabajador)
      "082" | Ajuste en Fondo de ahorro Gravado
      "083" | Ajuste en Caja de ahorro Gravado
      "084" | Ajuste en Prima de Seguro de vida Gravado
      "085" | Ajuste en Seguro de Gastos Médicos Mayores Gravado
      "086" | Ajuste en Subsidios por incapacidad Gravado
      "087" | Ajuste en Becas para trabajadores y/o hijos Gravado
      "088" | Ajuste en Seguro de retiro Gravado
      "089" | Ajuste en Vales de despensa Gravado
      "090" | Ajuste en Vales de restaurante Gravado
      "091" | Ajuste en Vales de gasolina Gravado
      "092" | Ajuste en Vales de ropa Gravado
      "093" | Ajuste en Ayuda para renta Gravado
      "094" | Ajuste en Ayuda para artículos escolares Gravado
      "095" | Ajuste en Ayuda para anteojos Gravado
      "096" | Ajuste en Ayuda para transporte Gravado
      "097" | Ajuste en Ayuda para gastos de funeral Gravado
      "098" | Ajuste a ingresos asimilados a salarios gravados
      "099" | Ajuste a ingresos por sueldos y salarios gravados
      "100" | Ajuste en Viáticos exentos
      "101" | ISR Retenido de ejercicio anterior
      "102" | Ajuste a pagos por gratificaciones, primas, compensaciones, recompensas u otros
      "103" | Ajuste a pagos en parcialidades derivados de una resolución judicial gravados
      "104" | Ajuste a pagos en parcialidades derivados de una resolución judicial exentos
      "105" | Ajuste a pagos en una sola exhibición derivados de una resolución judicial gravados
      "106" | Ajuste a pagos en una sola exhibición derivados de una resolución judicial exentos
      "107" | Ajuste al Subsidio Causado

      ### Tipo de Otro Pago

      Código | Descripción
      :-----:| -----------
      "001" | Reintegro de ISR pagado en exceso.
      "002" | Subsidio para el empleo (efectivamente entregado al trabajador).
      "003" | Viáticos (entregados al trabajador).
      "004" | Aplicación de saldo a favor por compensación anual.
      "005" | Reintegro de ISR retenido en exceso de ejercicio anterior
      "006" | Alimentos en bienes (Servicios de comedor y comida).
      "007" | ISR ajustado por subsidio.
      "008" | Subsidio efectivamente entregado que no correspondía.
      "009" | Reembolso de descuentos efectuados para el crédito de vivienda.
      "999" | Pagos distintos a los listados.

      ### Tipo de Incapacidad

      Código | Descripción
      :-----:| -----------
      "01" | Riesgo de trabajo.
      "02" | Enfermedad en general.
      "03" | Maternidad.
      "04" | Licencia por cuidados médicos de hijos diagnosticados con cáncer.

      ### Clave de retención

      Código | Descripción
      :-----:| -----------
      "01" | Servicios profesionales.
      "02" | Regalías por derechos de autor.
      "03" | Autotransporte terrestre de carga.
      "04" | Servicios prestados por comisionistas.
      "05" | Arrendamiento.
      "06" | Enajenación de acciones.
      "07" | Enajenación de bienes objeto de la LIEPS, a través de mediadores, agentes, representantes, corredores, consignatarios o distribuidores.
      "08" | Enajenación de bienes inmuebles consignada en escritura pública.
      "09" | Enajenación de otros bienes, no consignada en escritura pública.
      "10" | Adquisición de desperdicios industriales.
      "11" | Adquisición de bienes consignada en escritura pública.
      "12" | Adquisición de otros bienes, no consignada en escritura pública.
      "13" | Otros retiros de AFORE.
      "14" | Dividendos o utilidades distribuidas.
      "15" | Remanente distribuible.
      "16" | Intereses.
      "17" | Arrendamiento en fideicomiso.
      "18" | Pagos realizados a favor de residentes en el extranjero.
      "19" | Enajenación de acciones u operaciones en bolsa de valores.
      "20" | Obtención de premios.
      "21" | Fideicomisos que no realizan actividades empresariales.
      "22" | Planes personales de retiro.
      "23" | Intereses reales deducibles por créditos hipotecarios.
      "24" | Operaciones Financieras Derivadas de Capital.
      "25" | Otro tipo de retenciones.
      "26" | Servicios mediante Plataformas Tecnológicas

      ### Validez de obligaciones

      | Validez | IVA Exento | Tasa 0% | Tasa 8% Fronteriza Norte | Tasa 8% Fronteriza Sur | Tasa 16%
      |:-------:|:----------:|:-------:|:------------------------:|:----------------------:|:--------
      | "0" <td colspan="5">El contribuyente no está autorizado para emitir facturas</td>
      | "1" | Sí | Sí | No | No | Sí
      | "2" | Sí | Sí | Sí | No | Sí
      | "3" | Sí | Sí | No | Sí | Sí
      | "4" | Sí | Sí | Sí | Sí | Sí

      #### Situación del contribuyente

      | Valor | Explicación
      |:-----:|:-----------
      | "Previsto" | Vía buzón tributario o notificaciones por estrados, el contribuyente recibe un oficio en el que se establece su situación y se le solicita que demuestre la materialidad de las operaciones facturadas.
      | "Presunto" | El contribuyente notificado se considera presunto cuando, en su página web, la autoridad emite sus datos dentro de la relación de los EFOS, es decir, en las listas negras del SAT.
      | "Desvirtuado" | En este caso, el contribuyente acusado de operaciones inexistentes ya aportó a la autoridad la documentación e información pertinente para desvirtuar los hechos que llevaron a notificarlo.
      | "Definitivo" | En este caso, el EFO no atendió el llamado de la autoridad en el plazo de 15 días, a partir de la última notificación; o bien, no pudo desvirtuar los hechos imputados.
      | "Sentencia favorable" | Los contribuyentes EFOS “definitivos” que se inconforman e interponen algún medio de defensa, el cual concluye a su favor, son clasificados en la lista de “sentencia favorable”.
      | "EFOS de información suprimida" | En esta categoría, se encuentran los EFOS “presuntos” y “definitivos” que presentaron algún medio de defensa (amparo, juicio de nulidad) y, por lo tanto, un juez ordenó suprimir sus datos de la lista, sin ser eliminados.

  - name: customer_model
    x-displayName: Objeto Customer
    description: |
      <SchemaDefinition schemaRef="#/components/schemas/Customer" />
  - name: product_model
    x-displayName: Objeto Product
    description: |
      <SchemaDefinition schemaRef="#/components/schemas/Product" />
  - name: invoice_model
    x-displayName: Objeto Invoice
    description: |
      <SchemaDefinition schemaRef="#/components/schemas/Invoice" />
  - name: receipt_model
    x-displayName: Objeto Receipt
    description: |
      <SchemaDefinition schemaRef="#/components/schemas/Receipt" />
  - name: retention_model
    x-displayName: Objeto Retention
    description: |
      <SchemaDefinition schemaRef="#/components/schemas/Retention" />
  - name: organization_model
    x-displayName: Objeto Organización
    description: |
      <SchemaDefinition schemaRef="#/components/schemas/Organization" />

x-tagGroups:
  - name: Recursos
    tags:
      - customer
      - product
      - invoice
      - receipt
      - retention
      - organization
  - name: Herramientas
    tags:
      - tools
      - sat_keys
  - name: Modelos
    tags:
      - customer_model
      - product_model
      - invoice_model
      - receipt_model
      - retention_model
      - organization_model

paths:
  /customers:
    post:
      operationId: createCustomer
      tags:
        - customer
      summary: Crear cliente
      description: |
        Registra un nuevo cliente en Facturapi.

        Puedes usar el ID de un cliente para crear facturas sin tener que enviar todos los datos fiscales cada vez.
      x-codeSamples:
        - lang: Bash
          label: cURL
          source: |
            curl https://www.facturapi.io/v1/customers \
              -H "Authorization: Bearer sk_test_API_KEY" \
              -H "Content-Type: application/json" \
              -d '{
                    "legal_name": "Dunder Mifflin S.A. de C.V.",
                    "email": "email@example.com",
                    "tax_id": "ABC101010111"
                  }'
        - lang: JavaScript
          label: Node.js
          source: |
            const Facturapi = require('facturapi');
            const facturapi = new Facturapi('sk_test_API_KEY');
            const customer = await facturapi.customers.create({
              legal_name: 'Dunder Mifflin S.A. de C.V.',
              email: 'email@example.com',
              tax_id: 'ABC101010111'
            });
        - lang: csharp
          label: C#
          source: |
            var facturapi = new FacturapiClient("sk_test_API_KEY");
            var customer = await facturapi.Customer.CreateAsync(new Dictionary<string, object>
            {
              ["legal_name"] = "Dunder Mifflin S.A. de C.V.",
              ["email"] = "email@example.com",
              ["tax_id"] = "ABC101010111"
            });
        - lang: PHP
          source: |
            $facturapi = new Facturapi( "sk_test_API_KEY" );
            $customer = $facturapi->Customers->create([
              "email" => "email@example.com",
              "legal_name" => "Dunder Mifflin S.A. de C.V.",
              "tax_id" => "ABC101010111"
            ]);
      requestBody:
        $ref: "#/components/requestBodies/CustomerCreate"
      security:
        - "Secret Live Key": []
        - "Secret Test Key": []
      responses:
        "201":
          description: Nuevo objeto `Customer` creado
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Customer"
        "200":
          description: Un objeto `Customer` con la misma información ya existía
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Customer"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthenticated"
        "404":
          $ref: "#/components/responses/NotFound"
        "500":
          $ref: "#/components/responses/UnexpectedError"
    get:
      operationId: listCustomers
      tags:
        - customer
      summary: Listar clientes
      description: Regresa una lista paginada de todos los clientes de una organización o realiza una búsqueda de acuerdo a parámetros
      x-codeSamples:
        - lang: Bash
          label: cURL
          source: |
            curl https://www.facturapi.io/v1/customers \
              -H "Authorization: Bearer sk_test_API_KEY"
              -G
              -d 'q=Dunder'
              -d 'date[gt]=2021-07-14T06:00:00.000Z'
              -d 'date[lt]=2021-08-14T06:00:00.000Z'
              -d 'page=1'
        - lang: JavaScript
          label: Node.js
          source: |
            const Facturapi = require('facturapi');
            const facturapi = new Facturapi('sk_test_API_KEY');
            const searchResult = await facturapi.customers.list({
              q: 'Dunder',
              date: {
                gt: new Date('2021-07-14T06:00:00.000Z'),
                lt: new Date('2021-08-14T06:00:00.000Z')
              },
              page: 1
            });
        - lang: csharp
          label: C#
          source: |
            var facturapi = new FacturapiClient("sk_test_API_KEY");
            var searchResult = await facturapi.Customer.ListAsync(new Dictionary<string, object>
            {
              ["q"] = "Dunder",
              ["date"] = new Dictionary<string, object>
                {
                  ["gt"] = new DateTime("2021-07-14T06:00:00.000Z"),
                  ["lt"] = new DateTime("2021-08-14T06:00:00.000Z")
                },
              ["page"] = 1
            });
        - lang: PHP
          source: |
            $facturapi = new Facturapi( "sk_test_API_KEY" );
            $searchResult = $facturapi->Customers->all([
              "q" => "Dunder",
              "date" => [
                "gt" => new DateTime("2021-07-14T06:00:00.000Z"),
                "lt" => new DateTime("2021-08-14T06:00:00.000Z")
              ],
              "page" => 1
            ]);
      parameters:
        - in: query
          name: q
          schema:
            type: string
          description: Consulta. Texto a buscar en `legal_name` (nombre fiscal) o en `tax_id` (RFC).
        - $ref: "#/components/parameters/SearchDate"
        - $ref: "#/components/parameters/SearchPage"
        - $ref: "#/components/parameters/SearchLimit"
      security:
        - "Secret Live Key": []
        - "Secret Test Key": []
      responses:
        "200":
          description: Resultado de la búsqueda
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CustomerSearchResult"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthenticated"
        "404":
          $ref: "#/components/responses/NotFound"
        "500":
          $ref: "#/components/responses/UnexpectedError"
  /customers/{customer_id}:
    get:
      operationId: getCustomer
      tags:
        - customer
      summary: Obtener cliente por ID
      description: Regresa el objeto 'Customer' relacionado al `id` especificado.
      x-codeSamples:
        - lang: Bash
          label: cURL
          source: |
            curl https://www.facturapi.io/v1/customers/590ce6c56d04f840aa8438af \
              -H "Authorization: Bearer sk_test_API_KEY"
        - lang: JavaScript
          label: Node.js
          source: |
            const Facturapi = require('facturapi');
            const facturapi = new Facturapi('sk_test_API_KEY');
            const customer = await facturapi.customers.retrieve('590ce6c56d04f840aa8438af');
        - lang: csharp
          label: C#
          source: |
            var facturapi = new FacturapiClient("sk_test_API_KEY");
            var customer = await facturapi.Customer.RetrieveAsync("590ce6c56d04f840aa8438af");
        - lang: PHP
          source: |
            $facturapi = new Facturapi( "sk_test_API_KEY" );
            $customer = $facturapi->Customers->retrieve( "5a3ee743f508333611ad6b3c" );
      parameters:
        - in: path
          name: customer_id
          schema:
            type: string
          required: true
          description: ID del objeto a obtener
      security:
        - "Secret Live Key": []
        - "Secret Test Key": []
      responses:
        "200":
          description: Objeto `Customer`
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Customer"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthenticated"
        "500":
          $ref: "#/components/responses/UnexpectedError"
    put:
      operationId: editCustomer
      tags:
        - customer
      summary: Editar cliente
      description: Actualiza la información de un cliente existente, asignando los valores de los parámetros enviados. Los parámetros que no se envíen en la petición no se modificarán.
      x-codeSamples:
        - lang: Bash
          label: cURL
          source: |
            curl https://www.facturapi.io/v1/customers/590ce6c56d04f840aa8438af \
              -X PUT
              -H "Authorization: Bearer sk_test_API_KEY" \
              -H "Content-Type: application/json" \
              -d '{
                    "email": "jdoe@example.com",
                    "address": {
                      "street": "Santa Monica Ave."
                    }
                  }'
        - lang: JavaScript
          label: Node.js
          source: |
            const Facturapi = require('facturapi');
            const facturapi = new Facturapi('sk_test_API_KEY');
            const customer = await facturapi.customers.update(
              '590ce6c56d04f840aa8438af',
              {
                email: 'jdoe@example.com',
                address: {
                  street: 'Santa Monica Ave.'
                }
              }
            );
        - lang: csharp
          label: C#
          source: |
            var facturapi = new FacturapiClient("sk_test_API_KEY");
            var customer = await facturapi.Customer.UpdateAsync(
              "590ce6c56d04f840aa8438af",
              new Dictionary<string, object>
              {
                ["email"] = "jdoe@example.com",
                ["address"] = new Dictionary<string, object>
                {
                  ["street"] = "Santa Monica Ave."
                }
              }
            );
        - lang: PHP
          source: |
            $facturapi = new Facturapi( "sk_test_API_KEY" );
            $customer = $facturapi->Customers->update("590ce6c56d04f840aa8438af", [
              "email" => "jdoe@example.com",
              "legal_name" => "Dunder Mifflin S.A. de C.V.",
              "address" => [
                "street" => "Santa Monica Ave."
              ]
            ]);
      parameters:
        - in: path
          name: customer_id
          schema:
            type: string
          required: true
          description: ID del objeto a editar
      requestBody:
        $ref: "#/components/requestBodies/CustomerEdit"
      security:
        - "Secret Live Key": []
        - "Secret Test Key": []
      responses:
        "200":
          description: Objeto `Customer` eliminado correctamente
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Customer"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthenticated"
        "500":
          $ref: "#/components/responses/UnexpectedError"
    delete:
      operationId: deleteCustomer
      tags:
        - customer
      summary: Eliminar cliente
      description: Elimina el cliente de tu organización. Las facturas asociadas al cliente **no** se eliminarán.
      x-codeSamples:
        - lang: Bash
          label: cURL
          source: |
            curl https://www.facturapi.io/v1/customers/590ce6c56d04f840aa8438af \
              -X DELETE \
              -H "Authorization: Bearer sk_test_API_KEY"
        - lang: JavaScript
          label: Node.js
          source: |
            const Facturapi = require('facturapi');
            const facturapi = new Facturapi('sk_test_API_KEY');
            const removedCustomer = await facturapi.customers.del('590ce6c56d04f840aa8438af');
        - lang: csharp
          label: C#
          source: |
            var facturapi = new FacturapiClient("sk_test_API_KEY");
            var customer = await facturapi.Customer.DeleteAsync("590ce6c56d04f840aa8438af");
        - lang: PHP
          source: |
            $facturapi = new Facturapi( "sk_test_API_KEY" );
            $facturapi->Customers->delete( "5a3fefd9f508333611ad6b43" );
      parameters:
        - in: path
          name: customer_id
          schema:
            type: string
          required: true
          description: ID del objeto a eliminar
      security:
        - "Secret Live Key": []
        - "Secret Test Key": []
      responses:
        "200":
          description: Objeto `Customer` eliminado correctamente
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Customer"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthenticated"
        "500":
          $ref: "#/components/responses/UnexpectedError"
  /products:
    post:
      operationId: createProduct
      tags:
        - product
      summary: Crear producto
      description: |
        Registra un nuevo producto o servicio en tu catálogo de Facturapi.

        Puedes usar el ID del producto para crear facturas sin tener que enviar todos los datos del producto cada vez.
      x-codeSamples:
        - lang: Bash
          label: cURL
          source: |
            curl https://www.facturapi.io/v1/products \
              -H "Authorization: Bearer sk_test_API_KEY" \
              -H "Content-Type: application/json" \
              -d '{
                    "description": "Ukelele",
                    "product_key": "60131324",
                    "price": 345.60,
                    "sku": "ABC1234"
                }'
        - lang: JavaScript
          label: Node.js
          source: |
            const Facturapi = require('facturapi');
            const facturapi = new Facturapi('sk_test_API_KEY');
            const product = await facturapi.products.create({
              description: 'Ukelele',
              product_key: '60131324',
              price: 345.60,
              sku: 'ABC1234'
            });
        - lang: csharp
          label: C#
          source: |
            var facturapi = new FacturapiClient("sk_test_API_KEY");
            var product = await facturapi.Product.CreateAsync(new Dictionary<string, object>
            {
              ["description"] = "Ukelele",
              ["product_key"] = "60131324",
              ["price"] = 345.60,
              ["sku"] = "ABC1234"
            });
        - lang: PHP
          source: |
            $facturapi = new Facturapi( "sk_test_API_KEY" );
            $product = $facturapi->Products->create([
              "description" => "Ukelele",
              "product_key" => "60131324",
              "price" => 345.60,
              "sku" => "ABC1234"
            ]);
      requestBody:
        $ref: "#/components/requestBodies/ProductCreate"
      security:
        - "Secret Live Key": []
        - "Secret Test Key": []
      responses:
        "200":
          description: Nuevo objeto `Product` creado
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Product"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthenticated"
        "404":
          $ref: "#/components/responses/NotFound"
        "500":
          $ref: "#/components/responses/UnexpectedError"
    get:
      operationId: listProducts
      tags:
        - product
      summary: Listar productos
      description: Regresa una lista paginada de todos los productos de una organización o realiza una búsqueda de acuerdo a parámetros
      x-codeSamples:
        - lang: Bash
          label: cURL
          source: |
            curl https://www.facturapi.io/v1/products \
              -H "Authorization: Bearer sk_test_API_KEY"
              -G
              -d 'q=ukelele'
              -d 'page=1'
        - lang: JavaScript
          label: Node.js
          source: |
            const Facturapi = require('facturapi');
            const facturapi = new Facturapi('sk_test_API_KEY');
            const searchResult = await facturapi.products.list({
              q: 'ukelele',
              page: 1
            });
        - lang: csharp
          label: C#
          source: |
            var facturapi = new FacturapiClient("sk_test_API_KEY");
            var searchResult = await facturapi.Product.ListAsync(new Dictionary<string, object>
            {
              ["q"] = "ukelele",
              ["date"] = new Dictionary<string, object>
                {
                  ["gt"] = new DateTime("2021-07-14T06:00:00.000Z"),
                  ["lt"] = new DateTime("2021-08-14T06:00:00.000Z")
                },
              ["page"] = 1
            });
        - lang: PHP
          source: |
            $facturapi = new Facturapi( "sk_test_API_KEY" );
            $searchResult = $facturapi->Products->all([
              "q" => "ukelele",
              "page" => 1
            ]);
      parameters:
        - in: query
          name: q
          schema:
            type: string
          description: Consulta.  Texto a buscar en la descripción del producto o SKU.
        - $ref: "#/components/parameters/SearchPage"
        - $ref: "#/components/parameters/SearchLimit"
      security:
        - "Secret Live Key": []
        - "Secret Test Key": []
      responses:
        "200":
          description: Resultado de la búsqueda
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProductSearchResult"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthenticated"
        "404":
          $ref: "#/components/responses/NotFound"
        "500":
          $ref: "#/components/responses/UnexpectedError"
  /products/{product_id}:
    get:
      operationId: getProduct
      tags:
        - product
      summary: Obtener producto por ID
      description: Regresa el objeto `Product` relacionado al `id` especificado.
      x-codeSamples:
        - lang: Bash
          label: cURL
          source: |
            curl https://www.facturapi.io/v1/products/590e22c26d04f840aa8438b2 \
              -H "Authorization: Bearer sk_test_API_KEY"
        - lang: JavaScript
          label: Node.js
          source: |
            const Facturapi = require('facturapi');
            const facturapi = new Facturapi('sk_test_API_KEY');
            const product = await facturapi.products.retrieve('590e22c26d04f840aa8438b2');
        - lang: csharp
          label: C#
          source: |
            var facturapi = new FacturapiClient("sk_test_API_KEY");
            var product = await facturapi.Product.RetrieveAsync("590e22c26d04f840aa8438b2");
        - lang: PHP
          source: |
            $facturapi = new Facturapi( "sk_test_API_KEY" );
            $product = $facturapi->Product->retrieve( "590e22c26d04f840aa8438b2" );
      parameters:
        - in: path
          name: product_id
          schema:
            type: string
          required: true
          description: ID del objeto a obtener
      security:
        - "Secret Live Key": []
        - "Secret Test Key": []
      responses:
        "200":
          description: Objeto `Product`
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Product"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthenticated"
        "500":
          $ref: "#/components/responses/UnexpectedError"
    put:
      operationId: editProduct
      tags:
        - product
      summary: Editar producto
      description: Actualiza la información de un producto existente, asignando los valores de los parámetros enviados. Los parámetros que no se envíen en la petición no se modificarán.
      x-codeSamples:
        - lang: Bash
          label: cURL
          source: |
            curl https://www.facturapi.io/v1/products/590e22c26d04f840aa8438b2 \
              -X PUT
              -H "Authorization: Bearer sk_test_API_KEY" \
              -H "Content-Type: application/json" \
              -d '{
                    "price": 456.70
                  }'
        - lang: JavaScript
          label: Node.js
          source: |
            const Facturapi = require('facturapi');
            const facturapi = new Facturapi('sk_test_API_KEY');
            const product = await facturapi.products.update(
              '590e22c26d04f840aa8438b2',
              {
                email: 'jdoe@example.com',
                address: {
                  street: 'Santa Monica Ave.'
                }
              }
            );
        - lang: csharp
          label: C#
          source: |
            var facturapi = new FacturapiClient("sk_test_API_KEY");
            var product = await facturapi.Product.UpdateAsync(
              "590e22c26d04f840aa8438b2",
              new Dictionary<string, object>
              {
                ["price"] = 456.70
              }
            );
        - lang: PHP
          source: |
            $facturapi = new Facturapi( "sk_test_API_KEY" );
            $product = $facturapi->Products->update("590e22c26d04f840aa8438b2", [
              "price" => 456.70
            ]);
      parameters:
        - in: path
          name: product_id
          schema:
            type: string
          required: true
          description: ID del objeto a editar
      requestBody:
        $ref: "#/components/requestBodies/ProductEdit"
      security:
        - "Secret Live Key": []
        - "Secret Test Key": []
      responses:
        "200":
          description: Objeto `Product` eliminado correctamente
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Product"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthenticated"
        "500":
          $ref: "#/components/responses/UnexpectedError"
    delete:
      operationId: deleteProduct
      tags:
        - product
      summary: Eliminar producto
      description: Elimina el producto de tu organización. Las facturas asociadas al producto **no** se eliminarán.
      x-codeSamples:
        - lang: Bash
          label: cURL
          source: |
            curl https://www.facturapi.io/v1/products/590e22c26d04f840aa8438b2 \
              -X DELETE \
              -H "Authorization: Bearer sk_test_API_KEY"
        - lang: JavaScript
          label: Node.js
          source: |
            const Facturapi = require('facturapi');
            const facturapi = new Facturapi('sk_test_API_KEY');
            const removedProduct = await facturapi.products.del('590e22c26d04f840aa8438b2');
        - lang: csharp
          label: C#
          source: |
            var facturapi = new FacturapiClient("sk_test_API_KEY");
            var product = await facturapi.Product.DeleteAsync("590e22c26d04f840aa8438b2");
        - lang: PHP
          source: |
            $facturapi = new Facturapi( "sk_test_API_KEY" );
            $facturapi->Products->delete( "590e22c26d04f840aa8438b2" );
      parameters:
        - in: path
          name: product_id
          schema:
            type: string
          required: true
          description: ID del objeto a eliminar
      security:
        - "Secret Live Key": []
        - "Secret Test Key": []
      responses:
        "200":
          description: Objeto `Product` eliminado correctamente
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Product"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthenticated"
        "500":
          $ref: "#/components/responses/UnexpectedError"
  /invoices:
    post:
      operationId: createInvoice
      tags:
        - invoice
      summary: Crear factura (CFDI)
      description: |
        Crea una nueva Factura. Si la factura es creada en ambiente Live, ésta será **timbrada y enviada al SAT**.
      x-codeSamples:
        - lang: Bash
          label: cURL
          source: |
            curl https://www.facturapi.io/v1/invoices \
              -H "Authorization: Bearer sk_test_API_KEY" \
              -H "Content-Type: application/json" \
              -d '{
                "customer": {
                  "legal_name": "Dunder Mifflin S.A. de C.V.",
                  "email": "email@example.com",
                  "tax_id": "ABC101010111"
                },
                "items": [{
                  "quantity": 2,
                  "product": {
                    "description": "Ukelele",
                    "product_key": "60131324",
                    "price": 345.60
                  }
                }],
                "payment_form": "06",
                "folio_number": 914,
                "series": "F"
              }'
        - lang: JavaScript
          label: Node.js
          source: |
            const Facturapi = require('facturapi');
            const facturapi = new Facturapi('sk_test_API_KEY');
            const invoice = await facturapi.invoices.create({
              customer: {
                legal_name: 'Dunder Mifflin S.A. de C.V.',
                email: 'email@example.com',
                tax_id: 'ABC101010111'
              },
              items: [{
                quantity: 2,
                product: {
                  description: 'Ukelele',
                  product_key: '60131324',
                  price: 345.60
                }
              }],
              payment_form: Facturapi.PaymentForm.DINERO_ELECTRONICO,
              folio_number: 914,
              series: 'F'
            });
        - lang: csharp
          label: C#
          source: |
            var facturapi = new FacturapiClient("sk_test_API_KEY");
            var invoice = await facturapi.Invoice.CreateAsync(new Dictionary<string, object>
            {
              ["customer"] = new Dictionary<string, object>
              {
                ["legal_name"] = "Dunder Mifflin S.A. de C.V.",
                ["email"] = "email@example.com",
                ["tax_id"] = "ABC101010111"
              },
              ["items"] = new Dictionary<string, object>[]
              {
                new Dictionary<string, object>
                {
                  ["product"] = new Dictionary<string, object>
                  {
                    ["description"] = "Ukelele",
                    ["product_key"] = "60131324",
                    ["price"] = 345.60
                  }
                }
              },
              ["payment_form"] = Facturapi.PaymentForm.DINERO_ELECTRONICO,
              ["folio_number"] = 914,
              ["series"] = "F"
            });
        - lang: PHP
          source: |
            $facturapi = new Facturapi( "sk_test_API_KEY" );
            $invoice = $facturapi->Invoices->create([
              "customer" => [
                "legal_name" => "Dunder Mifflin S.A. de C.V.",
                "email" => "email@example.com",
                "tax_id" => "ABC101010111"
              ],
              "items" => [
                [
                  "quantity" => 2,
                  "product" => [
                    "description" => "Ukelele",
                    "product_key" => "60131324",
                    "price" => 420.69,
                    "sku" => "ABC4567"
                  ]
                ] // Add as many products as you want to include in your invoice
              ],
              "payment_form" => \Facturapi\PaymentForm::EFECTIVO,
              "folio_number" => 581,
              "series" => "F"
            ]);
      requestBody:
        $ref: "#/components/requestBodies/InvoiceCreate"
      security:
        - "Secret Live Key": []
        - "Secret Test Key": []
      responses:
        "200":
          description: Nuevo objeto `Invoice` creado
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Invoice"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthenticated"
        "404":
          $ref: "#/components/responses/NotFound"
        "500":
          $ref: "#/components/responses/UnexpectedError"
    get:
      operationId: listInvoices
      tags:
        - invoice
      summary: Listar facturas
      description: Regresa una lista paginada de todas las facturas de una organización o realiza una búsqueda de acuerdo a parámetros
      x-codeSamples:
        - lang: Bash
          label: cURL
          source: |
            # Todas las facturas de la organización
            curl "https://www.facturapi.io/v1/invoices" \
              -G \
              -H "Authorization: Bearer sk_test_API_KEY"

            # Todas las facturas emitidas para cierto cliente
            curl "https://www.facturapi.io/v1/invoices" \
              -G \
              -H "Authorization: Bearer sk_test_API_KEY" \
              -d "customer=58e93bd8e86eb318b0197456"

            # Página 3 de los resultados de búsqueda de texto libre
            # de facturas emitidas por cierto cliente entre 2017 y 2019
            curl "https://www.facturapi.io/v1/invoices" \
              -G \
              -H "Authorization: Bearer sk_test_API_KEY" \
              -d "q=Aspiradora+Robot&customer=58e93bd8e86eb318b0197456&date[gte]=2017-01-01T00:00:00.000Z&date[lt]=2020-01-01T00:00:00.000Z&page=3&limit=10"
        - lang: JavaScript
          label: Node.js
          source: |
            const Facturapi = require('facturapi');
            const facturapi = new Facturapi('sk_test_API_KEY');

            // Todas las facturas de la organización
            const invoiceSearch = await facturapi.invoices.list();

            // Todas las facturas emitidas para cierto cliente
            const invoiceSearch = await facturapi.invoices.list({
              customer: '590ce6c56d04f840aa8438af'
            });

            // Página 3 de los resultados de búsqueda de texto libre
            // de facturas emitidas por cierto cliente entre 2017 y 2019
            const invoiceSearch = await facturapi.invoices.list({
              q: 'Aspiradora Robot',
              customer: '590ce6c56d04f840aa8438af',
              date: {
                gte: new Date('2017-01-01T00:00:00.000Z'),
                lt: new Date('2020-01-01T00:00:00.000Z')
              },
              page: 3,
              limit: 10,
            });
        - lang: csharp
          label: C#
          source: |
            var facturapi = new FacturapiClient("sk_test_API_KEY");

            // Todas las facturas de la organización
            var searchResult = await facturapi.Invoice.ListAsync();

            // Todas las facturas emitidas para cierto cliente
            var searchResult = await facturapi.Invoice.ListAsync(
              new Dictionary<string, object>
              {
                ["customer"] = "590ce6c56d04f840aa8438af"
              }
            );

            // Página 3 de los resultados de búsqueda de texto libre
            // de facturas emitidas por cierto cliente entre 2017 y 2019
            var searchResult = await facturapi.Invoice.ListAsync(
              new Dictionary<string, object>
              {
                ["q"] = "Aspiradora Robot",
                ["customer"] = "590ce6c56d04f840aa8438af",  
                ["date"] = new Dictionary<string, object>
                  {
                    ["gte"] = new DateTime("2017-01-01T00:00:00.000Z"),
                    ["lt"] = new DateTime("2020-01-01T00:00:00.000Z")
                  },
                ["page"] = 3,
                ["limit"] = 10,
              }
            );
        - lang: PHP
          source: |
            $facturapi = new Facturapi( "sk_test_API_KEY" );

            // Todas las facturas de la organización
            $invoices = $facturapi->Invoices->all();

            // Todas las facturas emitidas para cierto cliente
            $invoices = $facturapi->Invoices->all([
              customer => "590ce6c56d04f840aa8438af"
            ]);

            // Página 3 de los resultados de búsqueda de texto libre
            // de facturas emitidas por cierto cliente entre 2017 y 2019
            $invoices = $facturapi->Invoices->all([
              q => "Aspiradora Robot",
              customer => "590ce6c56d04f840aa8438af"
              date => [
                gte => new DateTime("2017-01-01T00:00:00.000Z"),
                lt => new DateTime("2020-01-01T00:00:00.000Z")
              ],
              page => 3,
              limit => 10,
            ]);
      parameters:
        - in: query
          name: q
          schema:
            type: string
          description: |
            Consulta. Texto a buscar en la factura.

            La búsqueda se realizará por coincidencias **parciales** en los campos:

            - `items[].product.description`
            - `customer.legal_name`

            Y por coincidencias **exactas** en los campos:

            - `id`
            - `uuid`
            - `customer.tax_id`
            - `folio_number`
            - `total`
        - in: query
          name: customer
          schema:
            type: string
          description: Identificador del cliente. Útil para obtener las facturas emitidas a un sólo cliente.
        - $ref: "#/components/parameters/SearchDate"
        - $ref: "#/components/parameters/SearchPage"
        - $ref: "#/components/parameters/SearchLimit"
      security:
        - "Secret Live Key": []
        - "Secret Test Key": []
      responses:
        "200":
          description: Resultado de la búsqueda
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/InvoiceSearchResult"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthenticated"
        "404":
          $ref: "#/components/responses/NotFound"
        "500":
          $ref: "#/components/responses/UnexpectedError"
  /invoices/{invoice_id}:
    get:
      operationId: getInvoice
      tags:
        - invoice
      summary: Obtener factura por ID
      description: Regresa el objeto 'Invoice' relacionado al `id` especificado.
      x-codeSamples:
        - lang: Bash
          label: cURL
          source: |
            curl https://www.facturapi.io/v1/invoices/58e93bd8e86eb318b019743d \
              -H "Authorization: Bearer sk_test_API_KEY"
        - lang: JavaScript
          label: Node.js
          source: |
            const Facturapi = require('facturapi');
            const facturapi = new Facturapi('sk_test_API_KEY');
            const invoice = await facturapi.invoices.retrieve('58e93bd8e86eb318b019743d');
        - lang: csharp
          label: C#
          source: |
            var facturapi = new FacturapiClient("sk_test_API_KEY");
            var invoice = await facturapi.Invoice.RetrieveAsync("58e93bd8e86eb318b019743d");
        - lang: PHP
          source: |
            $facturapi = new Facturapi( "sk_test_API_KEY" );
            $invoice = $facturapi->Invoices->retrieve( "58e93bd8e86eb318b019743d" );
      parameters:
        - in: path
          name: invoice_id
          schema:
            type: string
          required: true
          description: ID del objeto a obtener
      security:
        - "Secret Live Key": []
        - "Secret Test Key": []
      responses:
        "200":
          description: Objeto `Invoice`
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Invoice"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthenticated"
        "500":
          $ref: "#/components/responses/UnexpectedError"
    delete:
      operationId: cancelInvoice
      tags:
        - invoice
      summary: Cancelar factura
      description: |
        Realiza una solicitud de cancelación de factura ante el SAT, soportando el esquema de cancelación 2022.

        Al usar este método pueden ocurrir 3 posibles resultados:

        - Que la llamada regrese un error con la explicación de por qué no se pudo cancelar.
        - Que la llamada sea satisfactoria y regrese un objeto `invoice` con la propiedad `status: "canceled"`.
        - Que la llamada sea satisfactoria, pero que la cancelación requiera de confirmación de parte de tu cliente, en cuyo caso se obtendrá como respuesta el objeto `invoice` con las propiedades `status: "valid"` y `cancellation_status: "pending"`.

        En el tercer escenario, el valor de `cancellation_status` será actualizado automáticamente por Facturapi cuando tu cliente acepte, rechace o deje expirar la solicitud, de tal manera que al consultar una factura (usando [Obtener Factura](#tag/invoice/operation/getInvoice)), la propiedad `cancellation_status` reflejará el estado más reciente de la soliitud.

        Consulta los valores posibles de `cancellation_status` más abajo.

        Después de la cancelación la factura ya no tendrá validez, el objeto cambiará su `status` a `"canceled"` y seguirá estando disponible para futuras consultas.
      x-codeSamples:
        - lang: Bash
          label: cURL
          source: |
            curl https://www.facturapi.io/v1/invoices/58e93bd8e86eb318b019743d?motive=02 \
              -H "Authorization: Bearer sk_test_API_KEY" \
              -X DELETE
        - lang: JavaScript
          label: Node.js
          source: |
            const Facturapi = require('facturapi');
            const facturapi = new Facturapi('sk_test_API_KEY');
            const invoice = await facturapi.invoices.cancel(
              '58e93bd8e86eb318b019743d',
              { motive: '02' }
            );
        - lang: csharp
          label: C#
          source: |
            var facturapi = new FacturapiClient("sk_test_API_KEY");
            var invoice = await facturapi.Invoice.CancelAsync(
              "58e93bd8e86eb318b019743d",
              new Dictionary<string, object>
              {
                ["motive"] = "02"
              }
            );
        - lang: PHP
          source: |
            $facturapi = new Facturapi( "sk_test_API_KEY" );
            $facturapi->Invoices->cancel(
              "58e93bd8e86eb318b019743d",
              [
                "motive" => "02"
              ]
            );
      parameters:
        - in: path
          name: invoice_id
          schema:
            type: string
          required: true
          description: ID de la factura a cancelar
        - in: query
          name: motive
          required: true
          schema:
            type: string
            enum:
              - "01"
              - "02"
              - "03"
              - "04"
          description: |
            Clave que representa el motivo de la cancelación de la factura.

            - `01`: **Comprobante emitido con errores con relación**. Cuando la
              factura contiene algún error en las cantidades, claves o cualquier otro dato y ya
              se ha emitido el comprobante que la sustituye, el cual deberá indicarse por medio
              del atributo `substitution`.
            - `02`: **Comprobante emitido con errores sin relación**. Cuando la
              factura contiene algún error en las cantidades, claves o cualquier otro dato y no
              se requiere relacionar con otra factura.
            - `03`: **No se llevó a cabo la operación**. Cuando la venta o transacción no se concretó.
            - `04`: **Operación nominativa relacionada en la factura global**. Cuando se requiere cancelar
              una factura al público en general porque el cliente solicita su comprobante.
        - in: query
          name: substitution
          required: false
          schema:
            type: string
          description: |
            ID de la factura que sustituye a la factura que se está cancelando.

            Puedes usar el ID de Facturapi o el folio fiscal (UUID).
      security:
        - "Secret Live Key": []
        - "Secret Test Key": []
      responses:
        "200":
          description: Solicitud de cancelación exitosa
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Invoice"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthenticated"
        "500":
          $ref: "#/components/responses/UnexpectedError"
  /invoices/{invoice_id}/{format}:
    get:
      operationId: downloadInvoice
      tags:
        - invoice
      summary: Descargar factura
      description: Descarga tu Factura en PDF, XML o ambos en un archivo comprimido ZIP.
      x-codeSamples:
        - lang: Bash
          label: cURL
          source: |
            ## Descargar PDF y XML comprimidos en archivo ZIP
            curl https://www.facturapi.io/v1/invoices/58e93bd8e86eb318b019743d/zip \
              -H "Authorization: Bearer sk_test_API_KEY"

            ## Descargar sólo el PDF
            curl https://www.facturapi.io/v1/invoices/58e93bd8e86eb318b019743d/pdf \
              -H "Authorization: Bearer sk_test_API_KEY"

            ## Descargar sólo el XML
            curl https://www.facturapi.io/v1/invoices/58e93bd8e86eb318b019743d/xml \
              -H "Authorization: Bearer sk_test_API_KEY"
        - lang: JavaScript
          label: Node.js
          source: |
            const fs = require('fs');
            const Facturapi = require('facturapi');
            const facturapi = new Facturapi('sk_test_API_KEY');

            // Descargar PDF y XML comprimidos en archivo ZIP
            const zipStream = await facturapi.invoices.downloadZip('58e93bd8e86eb318b019743d');
            const zipFile = fs.createWriteStream('./factura.zip');
            zipStream.pipe(zipFile);

            // Descargar sólo el PDF
            const pdfStream = await facturapi.invoices.downloadPdf('58e93bd8e86eb318b019743d');
            const pdfFile = fs.createWriteStream('./factura.pdf');
            pdfStream.pipe(pdfFile);

            // Descargar sólo el XML
            const xmlStream = await facturapi.invoices.downloadXml('58e93bd8e86eb318b019743d');
            const xmlFile = fs.createWriteStream('./factura.xml');
            xmlStream.pipe(xmlFile);
        - lang: csharp
          label: C#
          source: |
            // Descargar PDF y XML comprimidos en archivo ZIP
            var zipStream = await facturapi.Invoice.DownloadZipAsync("58e93bd8e86eb318b019743d");
            // Descargar sólo el XML
            var xmlStream = await facturapi.Invoice.DownloadXmlAsync("58e93bd8e86eb318b019743d");
            // Descargar sólo el PDF
            var pdfStream = await facturapi.Invoice.DownloadPdfAsync("58e93bd8e86eb318b019743d");

            // Para guardar la descarga en un archivo
            var file = new System.IO.FileStream("C:\\route\\to\\save\\invoice.zip", FileMode.Create);
            zipStream.CopyTo(file);
            file.Close();
        - lang: PHP
          source: |
            $facturapi = new Facturapi( "sk_test_API_KEY" );

            // stream containing the PDF and XML as a ZIP file
            $zip = $facturapi->Invoices->download_zip("58e93bd8e86eb318b019743d");
            // stream containing the PDF file
            $pdf = $facturapi->Invoices->download_pdf("58e93bd8e86eb318b019743d"); 
            // stream containing the XML file
            $xml = $facturapi->Invoices->download_xml("58e93bd8e86eb318b019743d");
      parameters:
        - in: path
          name: invoice_id
          schema:
            type: string
          required: true
          description: ID del objeto a descargar
        - in: path
          name: format
          schema:
            type: string
            enum:
              - xml
              - pdf
              - zip
          required: true
          description: Formato del archivo de descarga
      security:
        - "Secret Live Key": []
        - "Secret Test Key": []
      responses:
        "200":
          description: Archivo del comprobante CFDI en el formato solicitado
          content:
            application/octet-stream:
              schema:
                type: string
                format: binary
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthenticated"
        "500":
          $ref: "#/components/responses/UnexpectedError"
  /invoices/{invoice_id}/email:
    post:
      operationId: sendInvoiceByEmail
      tags:
        - invoice
      summary: Enviar factura por correo electrónico
      description: Envía un correo electrónico a la dirección de tu cliente, con los archivos XML y PDF adjuntos al mensaje.
      x-codeSamples:
        - lang: Bash
          label: cURL
          source: |
            # Enviar al correo del cliente
            curl https://www.facturapi.io/v1/invoices/58e93bd8e86eb318b019743d/email \
              -H "Authorization: Bearer sk_test_API_KEY"
              -X POST

            # Enviar a otro correo
            curl https://www.facturapi.io/v1/invoices/58e93bd8e86eb318b019743d/email \
              -H "Authorization: Bearer sk_test_API_KEY"
              -X POST
              -H "Content-Type: application/json" \
              -d '{
                    "email": "another_email@example.com"
                  }'
        - lang: JavaScript
          label: Node.js
          source: |
            const Facturapi = require('facturapi');
            const facturapi = new Facturapi('sk_test_API_KEY');

            // Enviar al correo del cliente
            await facturapi.invoices.sendByEmail('58e93bd8e86eb318b019743d');

            // Enviar a otro correo
            await facturapi.invoices.sendByEmail(
              '58e93bd8e86eb318b019743d',
              { email: 'otro@correo.com' }
            );

            // Enviar a más de un correo (máx. 10)
            await facturapi.invoices.sendByEmail(
              '58e93bd8e86eb318b019743d',
              { 
                email: [
                  'primer@correo.com',
                  'segundo@correo.com'
                ]
              }
            );
        - lang: csharp
          label: C#
          source: |
            // Enviar al correo del cliente
            await facturapi.Invoice.SendByEmailAsync("58e93bd8e86eb318b019743d");

            // Enviar a otro correo
            await facturapi.Invoice.SendByEmailAsync(
              "58e93bd8e86eb318b019743d",
              new Dictionary<string, object>
              {
                ["email"] = "otro@correo.com"
              }
            );

            // Enviar a más de un correo
            await facturapi.Invoice.SendByEmailAsync(
              "58e93bd8e86eb318b019743d",
              new Dictionary<string, object>
              {
                ["email"] = new String[]
                {
                  "primer@correo.com",
                  "segundo@correo.com"
                }
              }
            );
        - lang: PHP
          source: |
            $facturapi = new Facturapi( "sk_test_API_KEY" );

            // Enviar al correo del cliente
            $facturapi->Invoices->send_by_email("58e93bd8e86eb318b019743d");

            // Enviar a otro correo
            $facturapi->Invoices->send_by_email(
              "58e93bd8e86eb318b019743d",
              "otro@correo.com"
            );

            // Enviar a más de un correo (máx 10)
            $facturapi->Invoices->send_by_email(
              "58e93bd8e86eb318b019743d",
              [
                "primer@correo.com",
                "segundo@correo.com"
              ]
            );
      parameters:
        - in: path
          name: invoice_id
          schema:
            type: string
          required: true
          description: ID del objeto a obtener
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                email:
                  description: Dirección de correo electrónico a enviar la factura. Si no se envía este parámetro, la factura será enviada al correo que el cliente tenga registrado.
                  oneOf:
                    - type: string
                      format: email
                      description: Dirección de correo eletrónico
                      example: otro@correo.com
                    - type: array
                      example: ["primer@correo.com", "segundo@correo.com"]
                      description: Lista de direcciones de correo que recibirán la factura.
                      maxLength: 10
                      items:
                        type: string
                        format: email
      security:
        - "Secret Live Key": []
        - "Secret Test Key": []
      responses:
        "200":
          description: Archivo del comprobante CFDI en el formato solicitado
          content:
            application/octet-stream:
              schema:
                type: string
                format: binary
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthenticated"
        "500":
          $ref: "#/components/responses/UnexpectedError"

  /receipts:
    post:
      operationId: createReceipt
      tags:
        - receipt
      summary: Crear recibo
      description: |
        Crea un nuevo Recibo, el cual funge como nota de venta.

        Todos los recibos generan una URL de autofactura que cliente puede
        visitar para llenar sus datos fiscales en un micrositio con el branding
        de la organización.
      x-codeSamples:
        - lang: Bash
          label: cURL
          source: |
            curl https://www.facturapi.io/v1/receipts \
              -H "Authorization: Bearer sk_test_API_KEY" \
              -H "Content-Type: application/json" \
              -d '{
                    "folio_number": 1234,
                    "payment_form": "03",
                    "items": [{
                      "quantity": 1,
                      "product": {
                        "description": "Ukelele",
                        "product_key": "60131324",
                        "price": 345.60,
                        "sku": "ABC1234"
                      }
                    }]
                  }'
        - lang: JavaScript
          label: Node.js
          source: |
            const Facturapi = require('facturapi');
            const facturapi = new Facturapi('sk_test_API_KEY');

            const receipt = await facturapi.receipts.create({
              folio_number: 1234,
              payment_form: Facturapi.PaymentForm.DINERO_ELECTRONICO,
              items: [{
                quantity: 1,
                product: {
                  description: 'Ukelele',
                  product_key: '60131324',
                  price: 345.60,
                  sku: 'ABC1234'
                }
              }]
            });
        - lang: csharp
          label: C#
          source: |
            var facturapi = new FacturapiClient("sk_test_API_KEY");
            var receipt = await facturapi.Receipt.CreateAsync(new Dictionary<string, object>
            {
              ["folio_number"] = 1234,
              ["payment_form"] = Facturapi.PaymentForm.DINERO_ELECTRONICO,
              ["items"] = new Dictionary<string, object>[]
              {
                new Dictionary<string, object> {
                  ["description"] = "Ukelele",
                  ["product_key"] = "60131324",
                  ["price"] = 345.60,
                  ["sku"] = "ABC1234"
                }
              }
            });
        - lang: PHP
          source: |
            $facturapi = new Facturapi( "sk_test_API_KEY" );

            $receipt = $facturapi->Receipts->create([
              "folio_number" => 1234,
              "payment_form" => "03",
              "items" => [
                [
                  "product" => [
                    "description" => "Ukelele",
                    "product_key" => "60131324",
                    "price" => 345.60,
                    "sku" => "ABC1234"
                  ]
                ]
              ]
            ]);
      requestBody:
        $ref: "#/components/requestBodies/ReceiptCreate"
      security:
        - "Secret User Key": []
      responses:
        "200":
          description: Nuevo objeto `Receipt` creado
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Receipt"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthenticated"
        "404":
          $ref: "#/components/responses/NotFound"
        "500":
          $ref: "#/components/responses/UnexpectedError"
    get:
      operationId: listReceipts
      tags:
        - receipt
      summary: Listar recibos
      description: Regresa una lista paginada de todos los recibos de una organización o realiza una búsqueda de acuerdo a parámetros
      x-codeSamples:
        - lang: Bash
          label: cURL
          source: |
            # Todos los recibos de la organización
            curl "https://www.facturapi.io/v1/receipts" \
              -G \
              -H "Authorization: Bearer sk_test_API_KEY"

            # Página 3 de los resultados de búsqueda de texto libre
            # de recibos creados entre 2017 y 2019
            curl "https://www.facturapi.io/v1/receipts" \
              -G \
              -H "Authorization: Bearer sk_test_API_KEY" \
              -d "q=Aspiradora+Robot&date[gte]=2017-01-01T00:00:00.000Z&date[lt]=2020-01-01T00:00:00.000Z&page=3&limit=10"
        - lang: JavaScript
          label: Node.js
          source: |
            const Facturapi = require('facturapi');
            const facturapi = new Facturapi('sk_test_API_KEY');

            // Todos los recibos de la organización
            const receiptSearch = await facturapi.receipts.list();

            // Página 3 de los resultados de búsqueda de texto libre
            // de recibos creados entre 2017 y 2019
            const receiptSearch = await facturapi.receipts.list({
              q: 'Aspiradora Robot',
              date: {
                gte: new Date('2017-01-01T00:00:00.000Z'),
                lt: new Date('2020-01-01T00:00:00.000Z')
              },
              page: 3,
              limit: 10,
            });
        - lang: csharp
          label: C#
          source: |
            var facturapi = new FacturapiClient("sk_test_API_KEY");

            // Todos los recibos de la organización
            var searchResult = await facturapi.Receipt.ListAsync();

            // Página 3 de los resultados de búsqueda de texto libre
            // de recibos creados entre 2017 y 2019
            var searchResult = await facturapi.Receipt.ListAsync(
              new Dictionary<string, object>
              {
                ["q"] = "Aspiradora Robot",
                ["date"] = new Dictionary<string, object>
                  {
                    ["gte"] = new DateTime("2017-01-01T00:00:00.000Z"),
                    ["lt"] = new DateTime("2020-01-01T00:00:00.000Z")
                  },
                ["page"] = 3,
                ["limit"] = 10,
              }
            );
        - lang: PHP
          source: |
            $facturapi = new Facturapi( "sk_test_API_KEY" );

            // Todos los recibos de la organización
            $searchResult = $facturapi->Receipts->all();

            // Página 3 de los resultados de búsqueda de texto libre
            // de recibos creados entre 2017 y 2019
            $searchResult = $facturapi->Receipts->all([
              q => "Aspiradora Robot",
              date => [
                gte => new DateTime("2017-01-01T00:00:00.000Z"),
                lt => new DateTime("2020-01-01T00:00:00.000Z")
              ],
              page => 3,
              limit => 10,
            ]);
      parameters:
        - in: query
          name: q
          schema:
            type: string
          description: |
            Consulta. Texto a buscar en la descripción de los conceptos del recibo o el SKU.
        - $ref: "#/components/parameters/SearchDate"
        - $ref: "#/components/parameters/SearchPage"
        - $ref: "#/components/parameters/SearchLimit"
      security:
        - "Secret Live Key": []
        - "Secret Test Key": []
      responses:
        "200":
          description: Resultado de la búsqueda
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ReceiptSearchResult"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthenticated"
        "404":
          $ref: "#/components/responses/NotFound"
        "500":
          $ref: "#/components/responses/UnexpectedError"
  /receipts/{receipt_id}:
    get:
      operationId: getReceipt
      tags:
        - receipt
      summary: Obtener recibo por ID
      description: Regresa el objeto 'Receipt' relacionado al `id` especificado.
      x-codeSamples:
        - lang: Bash
          label: cURL
          source: |
            curl https://www.facturapi.io/v1/receipts/58e93bd8e86eb318b019743d \
              -H "Authorization: Bearer sk_test_API_KEY"
        - lang: JavaScript
          label: Node.js
          source: |
            const Facturapi = require('facturapi');
            const facturapi = new Facturapi('sk_test_API_KEY');
            const receipt = await facturapi.receipts.retrieve('58e93bd8e86eb318b019743d');
        - lang: csharp
          label: C#
          source: |
            var facturapi = new FacturapiClient("sk_test_API_KEY");
            var receipt = await facturapi.Receipt.RetrieveAsync("58e93bd8e86eb318b019743d");
        - lang: PHP
          source: |
            $facturapi = new Facturapi( "sk_test_API_KEY" );
            $receipt = $facturapi->Receipts->retrieve( "58e93bd8e86eb318b019743d" );
      parameters:
        - in: path
          name: receipt_id
          schema:
            type: string
          required: true
          description: ID del objeto a obtener
      security:
        - "Secret Live Key": []
        - "Secret Test Key": []
      responses:
        "200":
          description: Objeto `Receipt`
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Receipt"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthenticated"
        "500":
          $ref: "#/components/responses/UnexpectedError"
    delete:
      operationId: cancelReceipt
      tags:
        - receipt
      summary: Cancelar recibo
      description: |
        Marca un recibo como cancelado, cambiando su propiedad `status` a `"canceled"`.

        Una vez cancelado, el recibo no podrá ser facturado.
      x-codeSamples:
        - lang: Bash
          label: cURL
          source: |
            curl https://www.facturapi.io/v1/receipts/5ebd8e56f5687a013ca0df46 \
              -X DELETE \
              -H "Authorization: Bearer sk_test_API_KEY"
        - lang: JavaScript
          label: Node.js
          source: |
            const Facturapi = require('facturapi');
            const facturapi = new Facturapi('sk_test_API_KEY');
            const receipt = await facturapi.receipts.cancel('5ebd8e56f5687a013ca0df46');
        - lang: csharp
          label: C#
          source: |
            var facturapi = new FacturapiClient("sk_test_API_KEY");
            var receipt = await facturapi.Receipt.CancelAsync("5ebd8e56f5687a013ca0df46");
        - lang: PHP
          source: |
            $facturapi = new Facturapi( "sk_test_API_KEY" );
            $facturapi->Receipts->cancel("5ebd8e56f5687a013ca0df46");
      parameters:
        - in: path
          name: receipt_id
          schema:
            type: string
          required: true
          description: ID del recibo a cancelar
      security:
        - "Secret Live Key": []
        - "Secret Test Key": []
      responses:
        "200":
          description: Objeto 'Receipt' cancelado exitosamente
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Receipt"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthenticated"
        "500":
          $ref: "#/components/responses/UnexpectedError"
  /receipts/{receipt_id}/invoice:
    post:
      operationId: invoiceReceipt
      tags:
        - receipt
      summary: Facturar recibo
      description: |
        Crea una factura a partir de un recibo.

        Sólo pueden facturarse recibos abiertos (`status = "open"`)

        Una vez facturado, el `status` del recibo cambiará a `"invoiced_to_customer"`.
      x-codeSamples:
        - lang: Bash
          label: cURL
          source: |
            curl https://www.facturapi.io/v1/receipts/5ebd8e56f5687a013ca0df46/invoice \
              -H "Authorization: Bearer sk_test_API_KEY" \
              -H "Content-Type: application/json" \
              -d '{
                    "customer": "58e93bd8e86eb318b0197456",
                    "folio_number": 914,
                    "series": "F"
                }'
        - lang: JavaScript
          label: Node.js
          source: |
            const Facturapi = require('facturapi');
            const facturapi = new Facturapi('sk_test_API_KEY');

            const invoice = await facturapi.receipts.invoice('5ebd8e56f5687a013ca0df46', {
              customer: '58e93bd8e86eb318b0197456',
              folio_number: 914,
              series: 'F'
            });
        - lang: csharp
          label: C#
          source: |
            var facturapi = new FacturapiClient("sk_test_API_KEY");
            var invoice = await facturapi.Receipt.InvoiceAsync("5ebd8e56f5687a013ca0df46", new Dictionary<string, object>
            {
              ["customer"] = "58e93bd8e86eb318b0197456",
              ["folio_number"] = 914,
              ["series"] = "F"
            });
        - lang: PHP
          source: |
            $facturapi = new Facturapi("sk_test_API_KEY");

            $invoice = $facturapi->Receipts->invoice("5a3f3e35f508333611ad6b3e", [
              "customer" => "58e93bd8e86eb318b0197456",
              "folio_number" => 914,
              "series" => "F"
            ]);
      requestBody:
        $ref: "#/components/requestBodies/ReceiptInvoice"
      security:
        - "Secret Live Key": []
        - "Secret Test Key": []
      responses:
        "200":
          description: Nuevo objeto `Invoice` creado
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Invoice"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthenticated"
        "404":
          $ref: "#/components/responses/NotFound"
        "500":
          $ref: "#/components/responses/UnexpectedError"
  /receipts/global-invoice:
    post:
      operationId: createGlobalInvoice
      tags:
        - receipt
      summary: Crear factura global
      description: |
        Crea una factura global por los recibos abiertos (con `status = “open”`) de un cierto periodo.
      x-codeSamples:
        - lang: Bash
          label: cURL
          source: |
            curl https://www.facturapi.io/v1/receipts/global-invoice \
              -H "Authorization: Bearer sk_test_API_KEY" \
              -H "Content-Type: application/json" \
              -d '{
                    "from": "2020-12-01T05:00:00.000Z",
                    "to": "2020-12-31T04:59:59.999Z",
                    "folio_number": 1234,
                    "series": "G"
                }'
        - lang: JavaScript
          label: Node.js
          source: |
            const Facturapi = require('facturapi');
            const facturapi = new Facturapi('sk_test_API_KEY');

            const invoice = await facturapi.receipts.createGlobalInvoice({
              from: '2020-12-01T05:00:00.000Z',
              to: '2020-12-31T04:59:59.999Z',
              folio_number: 1234,
              series: 'G'
            });
        - lang: csharp
          label: C#
          source: |
            var facturapi = new FacturapiClient("sk_test_API_KEY");
            var invoice = await facturapi.Receipt.CreateGlobalInvoiceAsync(new Dictionary<string, object>
            {
              ["from"] = "2020-12-01T05:00:00.000Z",
              ["to"] = "2020-12-31T04:59:59.999Z",
              ["folio_number"] = 1234,
              ["series"] = "G"
            });
        - lang: PHP
          source: |
            $facturapi = new Facturapi("sk_test_API_KEY");

            $invoice = $facturapi->Receipts->createGlobalInvoice([
              "from" => "2020-12-01T05:00:00.000Z",
              "to" => "2020-12-31T04:59:59.999Z",
              "folio_number" => 1234,
              "series" => "G"
            ]);
      requestBody:
        $ref: "#/components/requestBodies/ReceiptCreateGlobalInvoice"
      security:
        - "Secret Live Key": []
        - "Secret Test Key": []
      responses:
        "200":
          description: Nuevo objeto `Invoice` creado
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Invoice"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthenticated"
        "404":
          $ref: "#/components/responses/NotFound"
        "500":
          $ref: "#/components/responses/UnexpectedError"

  /retentions:
    post:
      operationId: createRetention
      tags:
        - retention
      summary: Crear retención
      description: |
        Crea una nueva Retención. Si el comprobante es creado en ambiente Live, ésta será **timbrado y enviado al SAT**.
      x-codeSamples:
        - lang: Bash
          label: cURL
          source: |
            curl https://www.facturapi.io/v1/retentions \
              -H "Authorization: Bearer sk_test_API_KEY" \
              -H "Content-Type: application/json" \
              -d '{
                    "customer": "58e93bd8e86eb318b0197456",
                    "cve_retenc": "26",
                    "periodo": {
                      "mes_ini": 1,
                      "mes_fin": 12,
                      "ejerc": 2020
                    },
                    "totales": {
                      "monto_tot_operacion": 244.654321,
                      "monto_tot_exent": 145.123456,
                      "imp_retenidos": [
                        {
                          "monto_ret": 40,
                          "base_ret": 250
                        }
                      ]
                    }
                  }'
        - lang: JavaScript
          label: Node.js
          source: |
            const Facturapi = require('facturapi');
            const facturapi = new Facturapi('sk_test_API_KEY');
            const retention = await facturapi.retentions.create({
              customer: '58e93bd8e86eb318b0197456',
              cve_retenc: '26',
              periodo: {
                mes_ini: 1,
                mes_fin: 12,
                ejerc: 2020
              },
              totales: {
                monto_tot_operacion: 244.654321,
                monto_tot_exent: 145.123456,
                imp_retenidos: [
                  {
                    monto_ret: 40,
                    base_ret: 250
                  }
                ]
              }
            });
        - lang: csharp
          label: C#
          source: |
            var facturapi = new FacturapiClient("sk_test_API_KEY");
            var retention = await facturapi.Retention.CreateAsync(new Dictionary<string, object>
            {
              ["customer"] = "58e93bd8e86eb318b0197456",
              ["cve_retenc"] = "26",
              ["periodo"] = new Dictionary<string, object>
              {
                ["mes_ini"] = 1,
                ["mes_fin"] = 12,
                ["ejerc"] = 2020
              },
              ["totales"] = new Dictionary<string, object>
              {
                ["monto_tot_operacion"] = 244.654321,
                ["monto_tot_exent"] = 145.123456,
                ["imp_retenidos"] = new Dictionary<string, object>[]
                {
                  new Dictionary<string, object>
                  {
                    ["]
                    ["monto_ret"] = 40,
                    ["base_ret"] = 250
                  }
                }
              }
            });
        - lang: PHP
          source: |
            $facturapi = new Facturapi( "sk_test_API_KEY" );
            $retention = $facturapi->Retentions->create([
              "customer" => "58e93bd8e86eb318b0197456",
              "cve_retenc" => "26",
              "periodo" => [
                "mes_ini" => 1,
                "mes_fin" => 12,
                "ejerc" => 2020
              ],
              "totales" => [
                "monto_tot_operacion" => 244.654321,
                "monto_tot_exent" => 145.123456,
                "imp_retenidos" => [
                  [
                    "impuesto" => "ISR",
                    "monto_ret" => 40,
                    "base_ret" => 250
                  ]
                ]
              ]
            ]);
      requestBody:
        $ref: "#/components/requestBodies/RetentionCreate"
      security:
        - "Secret Live Key": []
        - "Secret Test Key": []
      responses:
        "200":
          description: Nuevo objeto `Retention` creado
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Retention"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthenticated"
        "404":
          $ref: "#/components/responses/NotFound"
        "500":
          $ref: "#/components/responses/UnexpectedError"
    get:
      operationId: listRetentions
      tags:
        - retention
      summary: Listar retenciones
      description: Regresa una lista paginada de todas las retenciones de una organización o realiza una búsqueda de acuerdo a parámetros
      x-codeSamples:
        - lang: Bash
          label: cURL
          source: |
            # Todas las retenciones de la organización
            curl https://www.facturapi.io/v1/retentions \
              -H "Authorization: Bearer sk_test_API_KEY"

            # Todas las retenciones emitidas para cierto cliente
            curl "https://www.facturapi.io/v1/retentions" \
              -G \
              -H "Authorization: Bearer sk_test_API_KEY" \
              -d "customer=58e93bd8e86eb318b0197456"

            # Página 3 de los resultados de búsqueda de texto libre
            # de retenciones emitidas entre 2017 y 2019
            curl "https://www.facturapi.io/v1/retentions" \
              -G \
              -H "Authorization: Bearer sk_test_API_KEY" \
              -d "q=John+Doe6&date[gte]=2017-01-01T00:00:00.000Z&date[lt]=2020-01-01T00:00:00.000Z&page=3&limit=10"
        - lang: JavaScript
          label: Node.js
          source: |
            const Facturapi = require('facturapi');
            const facturapi = new Facturapi('sk_test_API_KEY');

            // Todas las retenciones de la organización
            const retentionSearch = await facturapi.retentions.list();

            // Todas las retenciones emitidas para cierto cliente
            const retentionSearch = await facturapi.retentions.list({
              customer: '590ce6c56d04f840aa8438af'
            });

            // Página 3 de los resultados de búsqueda de texto libre
            // de retenciones emitidas entre 2017 y 2019
            const retentionSearch = await facturapi.retentions.list({
              q: 'John Doe',
              date: {
                gte: new Date('2017-01-01T00:00:00.000Z'),
                lt: new Date('2020-01-01T00:00:00.000Z')
              },
              page: 3,
              limit: 10,
            });
        - lang: csharp
          label: C#
          source: |
            var facturapi = new FacturapiClient("sk_test_API_KEY");

            // Todas las retenciones de la organización
            var searchResult = await facturapi.Retention.ListAsync();

            // Todas las retenciones emitidas para cierto cliente
            var searchResult = await facturapi.Retention.ListAsync(
              new Dictionary<string, object>
              {
                ["customer"] = "590ce6c56d04f840aa8438af"
              }
            );

            // Página 3 de los resultados de búsqueda de texto libre
            // de retenciones emitidas entre 2017 y 2019
            var searchResult = await facturapi.Retention.ListAsync(
              new Dictionary<string, object>
              {
                ["q"] = "John Doe",
                ["date"] = new Dictionary<string, object>
                  {
                    ["gte"] = new DateTime("2017-01-01T00:00:00.000Z"),
                    ["lt"] = new DateTime("2020-01-01T00:00:00.000Z")
                  },
                ["page"] = 3,
                ["limit"] = 10,
              }
            );
        - lang: PHP
          source: |
            $facturapi = new Facturapi( "sk_test_API_KEY" );

            // Todas las retenciones de la organización
            $retentions = $facturapi->Retentions->all();

            // Todas las retenciones emitidas para cierto cliente
            $retentions = $facturapi->Retentions->all([
              customer => "590ce6c56d04f840aa8438af"
            ]);

            // Página 3 de los resultados de búsqueda de texto libre
            // de retenciones emitidas entre 2017 y 2019
            $retentions = $facturapi->Retentions->all([
              q => "John Doe",
              date => [
                gte => new DateTime("2017-01-01T00:00:00.000Z"),
                lt => new DateTime("2020-01-01T00:00:00.000Z")
              ],
              page => 3,
              limit => 10,
            ]);
      parameters:
        - in: query
          name: q
          schema:
            type: string
          description: Consulta. Texto a buscar en el nombre fiscal del cliente o su RFC.
        - in: query
          name: customer
          schema:
            type: string
          description: Identificador del cliente. Útil para obtener las retenciones emitidas a un sólo cliente.
        - $ref: "#/components/parameters/SearchDate"
        - $ref: "#/components/parameters/SearchPage"
        - $ref: "#/components/parameters/SearchLimit"
      security:
        - "Secret Live Key": []
        - "Secret Test Key": []
      responses:
        "200":
          description: Resultado de la búsqueda
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RetentionSearchResult"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthenticated"
        "404":
          $ref: "#/components/responses/NotFound"
        "500":
          $ref: "#/components/responses/UnexpectedError"
  /retentions/{retention_id}:
    get:
      operationId: getRetention
      tags:
        - retention
      summary: Obtener retención por ID
      description: Regresa el objeto 'Retention' relacionado al `id` especificado.
      x-codeSamples:
        - lang: Bash
          label: cURL
          source: |
            curl https://www.facturapi.io/v1/retentions/6062d9fb226600001cd22f71 \
              -H "Authorization: Bearer sk_test_API_KEY"
        - lang: JavaScript
          label: Node.js
          source: |
            const Facturapi = require('facturapi');
            const facturapi = new Facturapi('sk_test_API_KEY');
            const retention = await facturapi.retentions.retrieve('6062d9fb226600001cd22f71');
        - lang: csharp
          label: C#
          source: |
            var facturapi = new FacturapiClient("sk_test_API_KEY");
            var retention = await facturapi.Retention.RetrieveAsync("6062d9fb226600001cd22f71");
        - lang: PHP
          source: |
            $facturapi = new Facturapi( "sk_test_API_KEY" );
            $retention = $facturapi->Retentions->retrieve( "6062d9fb226600001cd22f71" );
      parameters:
        - in: path
          name: retention_id
          schema:
            type: string
          required: true
          description: ID del objeto a obtener
      security:
        - "Secret Live Key": []
        - "Secret Test Key": []
      responses:
        "200":
          description: Objeto `Retention`
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Retention"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthenticated"
        "500":
          $ref: "#/components/responses/UnexpectedError"
    delete:
      operationId: cancelRetention
      tags:
        - retention
      summary: Cancelar retención
      description: |
        Realiza una solicitud de cancelación de retención ante el SAT.

        A diferencia de las facturas comúnes, la cancelación de la retención es inmediata y no requiere autorización de parte del receptor.
      x-codeSamples:
        - lang: Bash
          label: cURL
          source: |
            curl https://www.facturapi.io/v1/retentions/6062d9fb226600001cd22f71 \
              -H "Authorization: Bearer sk_test_API_KEY" \
              -X DELETE
        - lang: JavaScript
          label: Node.js
          source: |
            const Facturapi = require('facturapi');
[...]
